<p>The <strong>locations</strong> table represents every location that is associated with the specified <b>dataname</b>, <b>api_token</b>, and <b>api_key</b> combination.  Please note that this will only ever yield one location.  This should be an entry point when attempting to figure out the majority of the Lavu systems.  There are multiple fields used within the locations table that can aid in pinpointing the specific identification information of other fields.  There are yet other fields that will yield some extremely helpful information concerning the relative information that is stored within each table.  Here are a few that will probably be the most helpful:</p>
<blockquote>
	<var>menu_id</var>
	<p>This field corresponds to the <var>id</var> field within the <strong>menu</strong> table.  This will be the menu for this location.</p>
	<var>monitary_symbol</var>
	<p>This field specifies the symbol to use when representing money.  By default it is the United States of America's Dollar symbol <dfn>$</dfn></p>
	<var>left_or_right</var>
	<p>This field specifies which side of the denomination to display the <var>monitary_symbol</var> on.  Default value is <dfn>left</dfn></p>
	<var>decimal_char</var>
	<p>This field is used to determine what character to use for the break between dollars and cents.  By default it is <dfn>.</dfn></p>
	<var>thousands_char</var>
	<p>This field is used to determine what character is used to separate each thousands place within a number.  By default it is <dfn>,</dfn></p>
	<var>timezone</var>
	<p>The timezome that is referenced when storing almost EVERY time field within every other table.  By default, this is empty, and if it hasn't been overtly set, then the time stored within your databases will reference the local time of the device sending it.  Please note that this field should be set using the php representations of timezones.  For example: '<dfn>America/Denver</dfn>'</p>
</blockquote>
<p>There are several other fields in this table that yield incredibly useful information when sifting through the tables of your lavu system.  It is highly recommended that you look through them all, and experiment in order to figure out if there is information that could ultimately be useful to your purposes.</p>