   <!--
    /*  Written by Brian D.
     *  The purpose of this file is for regular merchants with com-type == '', meaning not lavukart or ers, etc.
     *  to be able to change the configuration of their `Lavu Registrar` without them being able to screw it up.
     *
     *  Clients will be given a choice from static registration fields, so they are not capable of changing
     *  their labels etc. which could destroy the link within the config->med_customers indirection.
     *
     *  For each field the options they are given are: hidden/visible, optional/required, and order (of appearance).
     *
     *  The `Given Fields` below may each have a display 'type' of the following:
     *       input (general text), list_menu (select), date (date select), and list_menu of states (state is stored elsewhere).
     *       These are stored in column `type`, for states use list_menu and put 'useTool' in value4, and 'state' in value5
     *
     *  Given Fields:
     *     Can only use/show 14 at a time. (That's all that's visible in the registrar app).
     * column:     value                       value2    type       notes
     *         1.) First Name                  f_name    input
     *         2.) Last Name                   l_name    input
     *         3.) Email                       field1    input
     *         4.) Phone Number                field2    input      value4 = number THIS IS FOR FUTURE, TO USE/INCLUDE NUMPAD
     *         5.) Street Address              field3    input
     *         6.) City                        field4    input
     *         7.) State                       field5    list_menu  value4 = useTool, value5 = State
     *         8.) Zipcode                     field6    input      value4 = number THIS IS FOR FUTURE, TO USE/INCLUDE NUMPAD
     *         9.) Birthday                    field7    date
     *        10.) Company                     field8    input
     *        11.) How did you hear about us?  field9    input
     *        --.) Work Phone                  field10   input      Not a standard, default field but Brian wanted the field used for Lavu Fit documented for consistency
     *        --.) Cell Phone                  field11   input      (Same as above)
     *        --.) Street Address 2            field12   input      (Same as above)
     *        15.) Emergency Contact F Name    field13   input      (Same as above)
     *        16.) Emergency Contact L Name    field14   input
     *        17.) Emergency Contact Phone     field15   input
     *       Added fields for fitness...
     *       --waiver expiration
     *       --rfid
     *       --profile_picture
     *
     *      Currently adding for tithe
     *      --User login_name (needs to be unique)
     *      --User password_hash
     */
-->
<p>Here is the mapping of fields within the <strong>med_customers</strong> table.  Please note that certain fields are available per specific extentions only.</p>
<blockquote>
<table>
	<tr><td>f_name</td> <td>First Name</td></tr>
	<tr><td>l_name</td> <td>Last Name</td></tr>
	<tr><td>field1</td> <td>Email</td></tr>
	<tr><td>field2</td> <td>Phone Number</td></tr>
	<tr><td>field3</td> <td>Street Address </td></tr>
	<tr><td>field4</td> <td>City</td></tr>
	<tr><td>field5</td> <td>State</td></tr>
	<tr><td>field6</td> <td>Zipcode</td></tr>
	<tr><td>field7</td> <td>Birthday</td></tr>
	<tr><td>field8</td> <td>Company</td></tr>
	<tr><td>field9</td> <td>How did you hear about us?</td></tr>
	<tr><td>field10</td> <td>Work Phone</td></tr>
	<tr><td>field11</td><td>Cell Phone</td></tr>
	<tr><td>field12</td><td>Street Address 2</td></tr>
	<tr><td>field13</td><td>Emergency Contact F Name</td></tr>
	<tr><td>field14</td><td>Emergency Contact L Name</td></tr>
	<tr><td>field15</td><td>Emergency Contact Phone</td></tr>
	<tr><td>rfid</td><td>RFID Number held as a string. (Available only with extensions)</td></tr>
</table>
</blockquote>
<p>...</p>