<p>The <strong>menu_groups</strong> table provides the overall sections, or groups, of the menu. </p>
<blockquote>
	<var>id</var>
	<p>The <var>id</var> field is referred to as the <var>group_id</var> in numerous other tables, and is used to determine what falls under this group.</p>
	<var>menu_id</var>
	<p>The <var>menu_id</var> field corresponds to the <var>menu_id</var> field as specified in the <strong>locations</strong> table.</p>
	<var>group_name</var>
	<p>The <var>group_name</var> field is the title of the overall group, and is used throughout the app in order to segment and customize your menu in a readable manner.</p>
</blockquote>
<p>The <strong>menu_groups</strong> table is just a way to futher customize and segment your menus.  By itself it doesn't provided a great deal of information, but it allows the users to create <strong>menu_categores</strong> for the <strong>menu_groups</strong> to fall under.  The other information available on this table can be modified, but it is highly recommended that you leave them alone, as they control more advanced aspects of the restaurant heirarchy.</p>