<p>The <strong>menu_item_meta_data_link_details</strong> is a table that displays the results from the <strong>menu_meta_data</strong> and <strong>menu_item_meta_data_link</strong> tables.</p>
<blockquote>
	<var>meta_data_id</var>
	<p>This is a unique id of the table <strong>menu_meta_data</strong> that is referenced by other table like <strong>menu_item_meta_data_link</strong> to get the menu item dietary info.</p>
	<var>meta_data_code</var>
	<p>This is a code stored in the id in table <strong>menu_meta_data</strong>.</p>
	<var>meta_data_name</var>
	<p>This is a name of dietary information from the id in the table <strong>menu_meta_data</strong>.</p>
	<var>meta_data_description</var>
	<p>This is a description of the id in the table <strong>menu_meta_data</strong>.</p>
	<var>menu_item_id</var>
	<p>This is the <var>id</var> of the item associated with the respective line item. The <var>menu_item_id</var> comes from the <var>id</var> column in the <strong>menu_items</strong> table.</p>
	<var>meta_data_link_value</var>
	<p>This is a value stored in table <strong>menu_item_meta_data_link</strong> against combination of <var>id</var> of table <strong>menu_meta_data</strong> and <var>id</var> of table <strong>menu_items</strong>.</p>
	<var>meta_data_link_deleted</var>
	<p>This is flag designates if the meta data line item is active or inactive. 0 means that the line item is active while 1 means the line item is inactive.
</blockquote>
<p></p>