<p>The <strong>menu_categories</strong> table ... Here are some of the more important fields within the <strong>menu_categories</strong> table.</p>
<blockquote>
	<var>id</var>
	<p>This is the unique <var>id</var> that is referred by the table <strong>menu_items</strong> to identify in which category an item belongs.</p>
	<var>menu_id</var>
	<p>This is the <var>id</var> that is mapped to the table <strong>menus</strong> to get the menu details.</p>
	<var>group_id</var>
	<p>This is the <var>id</var> that is mapped to the table <strong>menu_groups</strong> to get the group details.</p>
	<var>name</var>
	<p>This is the <var>name</var> of the category as entered by the user in the Lavu Backend.</p>
	<var>image</var>
	<p>The <var>image</var> field refers to the image that has been uploaded for the specified category.</p>
	<var>happyhour</var>
	<p>This represents how happy hours are applied to the menu category. The values are delimited into several parts to allow for multiple happy hours, each with multiple properties. An example of <var>happyhour</var> text could be <dfn>1:e:p/-/20.00/%|7:e:a/n|8:d:a/a|10:f:a/n</dfn>.</p>
	<blockquote>
		<p>The field is first split by a bar | to break the text into each <b>happy hour</b> property being applied. eg <dfn>1:e:p/-/20.00/% | 7:e:a/n | 8:d:a/a | 10:f:a/n</dfn><br />
		Each happy hour is then split by a colon <dfn>:</dfn> to break the happy hour into its constituent <b>parts</b>. eg <dfn>1 : e : p/-/20.00/%</dfn></p>
		<blockquote>
			<li>The first part of the happy hour is the id of the happy hour (from the <strong>happyhours</strong> table). eg <dfn>1</dfn></li>
			<li>The second part of the happy hour is the <b>status</b> and denotes if the happy hour is (e)nabled, (d)isabled, or de(f)aults to the parent. eg <dfn>e</dfn>.</li>
			<li>The third part of the happy hour is the <b>override properties</b>. This part only applies if the status is enabled. eg <dfn>p/-/20.00/%</dfn>.</li>
			<p>The <b>override properties</b> are the last delimited part of the happy hour. They are delimited by a forward slash /. eg <dfn>p / - / 20.00 / %</dfn>.</p>
			<blockquote>
				<li>The first part of the override properties is the <b>mode</b> which can either be (p)rice or (a)vailability. eg <dfn>p</dfn></li>
				<li>The second part is the <b>modification type</b>. For the price mode, options are plus (+), minus (-), or set (=). For the availability mode, options are (a)vailable at the happy hour time or (n)ot available at the happy hour time. eg <dfn>-</dfn>.</li>
				<li>The third part is the <b>amount</b> and only applies to the price mode. The amount is either an adjustment to the currency or percentage. Percentages are on a scale from <dfn>1.00</dfn> to <dfn>1000.00</dfn>. eg <dfn>20.00</dfn></li>
				<li>The fourth part is the <b>application</b> and only applies to the price mode. The application can either be percentage (%) or currency ($). It describes how to apply the modification type and amount to the original price of the item. eg <dfn>%</dfn></li>
			</blockquote>
		</blockquote>
		<p>So, in our example happy hour text, there are two happy hours being applied with ids <dfn>1</dfn>, <dfn>7</dfn>, <dfn>8</dfn>, and <dfn>10</dfn>. Happy hour <dfn>8</dfn> is disabled. Happy hours <dfn>1</dfn>, <dfn>7</dfn>, and <dfn>10</dfn> are enabled. Happy hour <dfn>1</dfn> is being modified to reduce the price of the item by <dfn>20.00%</dfn> during the happy hour time. Happy hour <dfn>7</dfn> is being modified to make the item unavailable during the happy hour time. Happy hour <dfn>10</dfn> is using the default settings of that happy hour.</p>
	</blockquote>
	<var>display_on_digital_menu_board</var>
	<p>This field determines whether menu category should be displayed on Menu Board or not. If set to <dfn>1</dfn>, it will show on Menu Board. If set to <dfn>0</dfn>, it will not show on Menu Board.</p>
</blockquote>
<p>...</p>