<p>The <strong>nutrition_info_link_details</strong> is a table that displays the results from <strong>nutrition_info_link</strong>, <strong>nutrition_info</strong> and <strong>standard_nutrition_types</strong> tables.This table is used to house and display various nutrition information that is entered for <strong>menu_items</strong>.</p>
<blockquote>
	<var>nutrition_info_link_source_table</var>
	<p>This refers to the item's table name in <strong>nutrition_info_link</strong> that is needed to get nutrition information details.</p>
	<var>nutrition_info_link_source_table_id</var>
	<p>This refers to the <var>id</var> of the menu item from the <strong>menu_items</strong> table that is in the <strong>nutrition_info_link</strong> that is needed to get nutrition information details.</p>
	<var>nutrition_info_link_id</var>
	<p>This is a unique id from the table <strong>nutrition_info_link</strong> that is mapped to table <strong>nutrition_info</strong>. This pulls the nutrition details like <var>nutrition_info_value</var> and <var>nutrition_info_units</var> for an item.</p>
	<var>nutrition_info_value</var>
	<p>This is the number value stored for the respective line item in the <strong>nutrition_info</strong> table.</p>
	<var>nutrition_info_units</var>
	<p>This is the unit of measure stored for the respective item in the <strong>nutrition_info</strong> table.</p>
	<var>nutrition_info_sort_order</var>
	<p>This is the order the respective line item will be displayed in Lavu’s various product offerings. This value is stored in the <strong>nutrition_info</strong> table.</p>
	<var>nutrition_info_deleted</var>
	<p>This flag designates if the nutrition_info line item is active or inactive. 0 means that the line item is active. 1 means the line item is inactive.</p>
	<var>nutrition_type_id</var>
	<p>This is an id from the table <strong>nutrition_info</strong> that is mapped to the table <strong>standard_nutrition_types</strong>. This pulls the <var>nutrition_type_code</var> and <var>nutrition_type_label</var> for an item.</p>
	<var>nutrition_type_code</var>
	<p>This is the code for the respective line item. This value is pulled from <strong>standard_nutrition_types</strong> table.</p>
	<var>nutrition_type_label</var>
	<p>This is the label for the respective line item. This value is pulled from <strong>standard_nutrition_types</strong> table.</p>
</blockquote>
<p></p>