<p>The <strong>orders</strong> table represents the basic information regarding an order.  This table can be viewed as an entry point when determining other information about the order.  The entry in the <strong>order</strong> table maintains overall information which will allow you to delve into the other tables: <strong>order_payments</strong>, <strong>order_contents</strong>, and <strong>order_checks</strong>.  The table also holds pertinent information about the status of an order overall.  Because of this the <strong>orders</strong> table is the goto table when determining whether an order is opened or closed and information concerning who handled what aspects of the transactions.  The <strong>orders</strong> table provides an overall view of the current status of the order, in terms of all of it's corresponding tables.  Because of this, it is highly recommended and encouraged, that if you are adding or modifying something to one of the corresponding tables, that you should also update the order entry corresponding to those modifications in order to keep the overall status up to date.  Here are some of the more important fields within the <strong>orders</strong> table.</p>
<blockquote>
	<var>order_id</var>
	<p>This field represents the unique id for each order.  This field is represented in all corresponding tables as well and is ultimately utilized to tie all of the different aspects together. Usually the field is of the format <dfn>x-n</dfn> where x can be different depending on your settings, and n is, normally, the sequential occurence of the prefix, x.  Because the users can specify whether to use the register as the order prefix, this will change what the value of x is.  By default the value of x is 1, so you get orders of the form <dfn>1-n</dfn>.  However, this is different in different if the register prefix is used.  In this case, the <var>order_id</var> prefix will still start with 1, and then there will be a two digit representation of the device id, from 01 to 99, of the device being used as the order prefix.  EX: <dfn>101-n</dfn>.  The prefix will also differ if the customer is using a local server.  In these cases, the <var>order_id</var> prefix will begin with an 8, but the other rules will still apply.  If the order is being generated from lavutogo, then the <var>order_id</var> prefix will begin with a 2.</p>
	<var>location_id</var>
	<p>The <var>location_id</var> field corresponds to the <var>id</var> field of the <strong>locations</strong> table.  This is to inform the system that this order should be associated with the specified location.</p>
	<var>opened</var>
	<p>The date and time that the order was opened stored as a string in the SQL format YYYY-MM-DD HH:mm:ss (PHP: Y-m-d H:i:s).  Please note that this time is set based on the <var>timezone</var> field of the <strong>locations</strong> table.</p>
	<var>closed</var>
	<p>The date and time that the order was closed stored as a string in the SQL format YYYY-MM-DD HH:mm:ss (PHP: Y-m-d H:i:s).  Please note that this time is set based on the <var>timezone</var> field of the <strong>locations</strong> table.</p>
	<var>reopened_datetime</var>
	<p>The date and time that the order was re-opened stored as a string in the SQL format YYYY-MM-DD HH:mm:ss (PHP: Y-m-d H:i:s).  Please note that this time is set based on the <var>timezone</var> field of the <strong>locations</strong> table.</p>
	<var>reclosed_datetime</var>
	<p>The date and time that the order was re-closed stored as a string in the SQL format YYYY-MM-DD HH:mm:ss (PHP: Y-m-d H:i:s).  Please note that this time is set based on the <var>timezone</var> field of the <strong>locations</strong> table.</p>
	<p>The combination of the <var>opened</var> and <var>closed</var> fields are used to determine whether an order is open.  These fields are considered empty if they are equivelent to "<dfn></dfn>" or "<dfn>0000-00-00 00:00:00</dfn>", however the zeroed representation is more consistent and is preferred.  If an <var>opened</var> time has been specified, but the <var>closed</var> has not, then the order is considered opened.  If both have been specified, then the order is considered closed. Likewise, an order is considered re-opened if the <var>reopened_datetime</var> has been set with no corresponding <var>reclosed_datetime</var>, but if both are specified, it will be considered re-closed.</p>
	<var>void</var>
	<p>The <var>void</var> field represents the void status of the order.  As of the time of writing this article, this will take on one of three values:<br />
	<li><dfn>0</dfn>: the order is not voided.</li>
	<li><dfn>1</dfn>: the order is voided.</li>
	<li><dfn>2</dfn>: the order has been merged with another order.</li>
	<br />
	<var>no_of_checks</var>
	<p>This field specifies the number of checks that are attached to this order.  This number should correspond to the number of entries in the <strong>order_checks</strong> table that contain the same <var>order_id</var>.</p>
	<var>cash_paid</var>
	<p>This amount corresponds to the total amount of cash applied toward the order, it should correspond directly to the <strong>order_payments</strong> table.</p>
	<var>card_paid</var>
	<p>This amount corresponds to the total amount of credit card payments applied toward the order, it should correspond directly to the <strong>order_payments</strong> table.</p>
</blockquote>
<p>There are many other fields in this table, and all of them have a particular use.  That being said, these are the ones that recieve the most questions, and correspond to other entries in other tables.</p>