
body{
	background: -webkit-linear-gradient(rgba(255,255,255,0.98) 9.27%, #afafaf 90.4%);
	font-family: sans-serif, verdana;
	color:#afcd28;
	font-size:small;
	font-weight:200;
}
#bodyContent{
	width:1000px;
	height:800px;
	background-color:white;
	margin:0 auto;
	border-bottom:20px solid #aecd37;
}

#header{
	
	position:absolute;
	top:10px;
	left:0px;
	min-width:960px;

	width:100%;
	height:60px;
	background-color:rgba(174,204,55,0.19);
	color:black;
	box-shadow: 5px 5px 5px #888888;
}

#headerSuper{
	position:relative;
	width:640px;
	margin:0 auto;
}
#liteLogo{
	position:relative;
	top:100px;
	width:640px;
	margin:0 auto;
}
#btnQuestionMark{
	position:relative;
	display:inline-block;
	top:10px;
	
}
#btnQuestionMark:hover{
	cursor:pointer;
}
#headerText{

	display:inline-block;
	width:600px;
	margin:0 auto;
	text-align: center;
	padding-top:10px;
	font-size:small;
	
}
#currentError{
	color:red;
	font-size:small;
}
#signupCounter{
	position:relative;
	width:100%;
	margin:0 auto;
	top:150px;
	color:#aecd37;
	text-align:center;
	font-size:40pt;
	
}
#signupCounterText{
	position:relative;
	width:100%;
	margin:0 auto;
	top:150px;
	color:gray;
	text-align:center;
	font-size:large;
	
}
#reserveForm{
	position:relative;
	width:300px;
	margin:0 auto;
	top:200px;
	color:gray;
	text-align:center;
	font-size:large;
}
.textClass{
	width:300px;
	height:30px;
	text-align:center;
	border-radius:5px;
	padding:20px;	
	margin-bottom:20px;
	font-size:large;
}
#closeBtn{
	position:relative;
	left:94%;
	top:0px;
	background-color:white;
	color:black;
	border-radius:50px;
	width:11px;
	height:10px;
	padding:10px;
	
}
#closeBtn:hover{
	cursor:pointer;
}
#notice{
	position:fixed;
	width:100%;
	display:none;
	z-index:100;
	top:150px;
}
#noticeBox{

	top:100px;
	width:600px;
	z-index:1000;
	margin:0 auto;
	font-size:medium;
	color:white;
	height:350px;
	background: rgba(0,0,0,0.87);
	padding-top:20px;
	padding-left:10px;
	padding-right:15px;
	border:1px solid gray;
	border-radius:3px;
	
}
li{
	padding-bottom:10px;
}

#submitter{
	color:black;
	background-color:#aecd37;
	width:100px;
	height:30px;
	border-radius: 2px;
	border:1px solid #aecd37;
}
#submitter:hover{
	color:black;
	background-color:white;
	border-radius: 2px;
	border-color:#aecd37;
	cursor:pointer;
}