BODY, TD {
	color : black;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

TD.upper {
	color : #FFFFFF;
	background : #23559C;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

FONT.smaller {
	font-size: 10px;
}

table.entries {
	color : black;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	BORDER-RIGHT: #23559C 1px solid;
	BORDER-LEFT: #23559C 1px solid;
	BORDER-TOP: #23559C 1px solid;
	BORDER-BOTTOM: #23559C 1px solid;
}

A {
	color : #0084BE;
	text-decoration : underline;
}

A:HOVER {
	color : Red;
	text-decoration : none;
}

A.smaller {
	font-size: 10px;
	color : #0084BE;
	text-decoration : underline;
}

A.smaller:HOVER {
	font-size: 10px;
	color : Red;
	text-decoration : none;
}

INPUT {
	font-size: 11px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color:#000000;
	background-color:#FFFFFF;
}

HR {
	color: #B8CFE7;
	height: 1px;
}

font.ip {
	color : Gray;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 9px;
}