

.table_sync_content_div{
}



.sync_table_user_table{
	border-collapse: collapse;
}

.sync_table_user_table tr:nth-child(1) td{
	text-align: center;
	font-size: large;
	background-color:#666;
	color:#FFF;
}

.sync_table_user_table tr:nth-child(2) td{
	text-align: center;
	font-size: large;
	background-color:#EEE;
}

.sync_table_user_table td{
	padding:4px;
}

.sync_table_user_table button{
	width:100%;
	height:100%;
}

.sync_table_user_table button:hover{
	width:100%;
	height:100%;
	background-color:#8E8;
}