/*
body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
	margin: 0; padding: 0; border: 0;
}
*/
body {
	background: white;
	font-family: Helvetica, sans-serif; 
	font-size: 12px; 
	/*line-height: 5px;*/
}

nav {
	/*margin: 100px auto;*/ 
	 text-transform: uppercase;
	text-align: center;
	margin:0px;
}

nav ul ul {
	display: none;
	left:0px;
	background-color:white;
	border-radius: 0px; 
	padding: 0;
	position: absolute; 
	top: 100%;
	
}

nav ul li:hover > ul {
		//display: block;
	}
nav ul {
	background-color:#313235;
	
	/*background: #efefef;	 
	background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  
	background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
	background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%); 
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	padding: 0 20px;
	
	border-radius: 10px;  
	*/
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	list-style: none;
	position: relative;
	display: inline-table;
}
nav ul li:active {
	/*background-color:white;
	color: #aecd37;*/
}
nav ul:after {
	content: ""; 
	clear: both; 
	display: block;
}

nav ul li {
	display:inline-block;
	//float: left;
}
nav ul li:hover {
/*
	background: #aecd37;
	background: linear-gradient(top, #aecd37 0%, #aecd37 40%);
	background: -moz-linear-gradient(top, #aecd37 0%, #aecd37 40%);
	background: -webkit-linear-gradient(top, #aecd37 0%,#aecd37 40%);
*/
}
nav ul li:hover a {
	
	
}
	
nav ul li a {
	display: block; padding: 5px 25px;
	color: #aecd37; text-decoration: none;
}
	
nav ul ul li {
	background-color:#aecd37;
	//border-right:1px solid black;
	margin: 2px;
	border-bottom: 1px solid #575f6a; 
	
	position: relative;
	height:30px;
	width:100px;
}
nav ul ul li a {
	padding:8px 0px;
	width:100%;
	text-align:center;
	color: white;
}	
nav ul ul li:hover {
	background-color: #313235;
	color:#aecd37;

}
	
nav ul ul ul {
	position: absolute; left: 100%; top:0;
}
.linkSelected{
	color:black;
}
.borderDiv{

	border-left: 1px solid gray;
	border-right:1px solid gray;
	padding-top:15px;
	padding-bottom:10px;

}	
.borderDiv:hover{
	background: #aecd37;
	/
	background: linear-gradient(top, #aecd37 0%, #aecd37 40%);
	background: -moz-linear-gradient(top, #aecd37 0%, #aecd37 40%);
	background: -webkit-linear-gradient(top, #aecd37 0%,#aecd37 40%);
	*/
}
#borderDivActive{
	background-color:white;
	padding-bottom:5px;
/*
	border-left: 1px solid gray;
	border-right:1px solid gray;
	padding-top:15px;
	padding-bottom:10px;
*/
	
}
#borderDivActive:hover{
	color: #313235;
	
}
#subMenuSelected{
	background-color:white;
	color: black;
}

hover{
	color:white;
}
.subMenu{
	padding-left:20px;
	padding-right:80px;
	padding-top:5px;
	padding-bottom:5px;
	
	background-color:#aecd37;
	color:white;
}
.subMenu:hover{
	padding-left:20px;
	padding-right:20px;
	padding-top:5px;
	padding-bottom:5px;
	
	background-color:#313235;
	color:white;
}
#subMenuDiv{
	position:relative;
	font-family: Helvetica, sans-serif; 
	font-size: 12px; 

}
.linkStyle{
	color:white;
	text-decoration: none;
}
.linkStyleSelected{
	padding-left:20px;
	color:black;
	text-decoration: none;
}
#subMenuTable{
	margin:0 auto;
}
.junk{padding:0px;}