
nav {
	margin: 100px auto; 
	text-align: center;
}

nav ul ul {
	display: none;
}

nav ul li:hover > ul {
	display: block;
}
nav ul {
	background-color: #313235; 
	width:960px;
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	padding: 0 20px;
	border-radius-top: 10px;  
	list-style: none;
	position: relative;
	display: inline-table;
	border:1px solid black;

}
nav ul:after {
	content: ""; 
	clear: both; 
	display: block;
}

nav ul li {
	//float: left;
	display:inline-block;
	}
nav ul li:hover {
	//background-color: #aecd37;
	color:white;
	//background: #4b545f;
	//background: linear-gradient(top, #cef046 0%, #aecd37 20%);
	//background: -moz-linear-gradient(top, #cef046 0%, #aecd37 20%);
	//background: -webkit-linear-gradient(top, #cef046 0%,#aecd37 20%);
}
nav ul li:hover a {
	color: #fff;
}
nav ul li a {
	display: block; 
	padding-bottom:5px;
	padding-left:40px;
	padding-right:40px;
	padding-top:30px;
	color: #aecd37; 
	text-decoration: none;
}
nav ul ul {
	background: #aecd37; 
	border-radius: 0px; 
	padding: 0;
	position: absolute; 
	width:90%;
	top: 100%;
	left:0px;
	}
nav ul ul li {
	//width:100px;
	//border-top: 1px solid #6b727c;
	//border-bottom: 1px solid #575f6a; 
	 white-space:nowrap;
	 background-color:#aecd37;
	position: relative;
}
nav ul ul li a {
	padding: 15px 20px;
	color: #fff;
}	
nav ul ul li a:hover {
	background: white;
	color:#313235;
}
		
nav ul ul ul {
	position: absolute; 
	z-index:100;
	width:auto;
	//left: 100%; 
	
		
}
		
