
body {
  margin: 0;
  font-style: normal;
  font-size: 75%;
  line-height: 1.2em;
}
body, input, select, textarea { font-family: Arial, Helvetica, sans-serif; }
pre, code { font-family: 'Bitstream Vera Sans Mono', "Monaco", Courier, monospace; }


#errorExplanation {
  padding: 0 0 0 24px;
  margin-bottom: 1em;
  color: #ffffff;
  font-size: 1.3em;
  line-height: 2.2em;
  background-repeat: no-repeat;
  background-position: 0 7px;
}
#errorExplanation span.message {
  display: block;
  padding: 10px 10px 10px 32px;
  background: #373636;
  background-repeat: no-repeat;
  background-position: -24px 7px;
  min-height: 28px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 10px 10px 10px 32px;
  color: #ffffff;
  font-size: 1.2em;
  background-color: #373636;
  background-repeat: no-repeat;
  background-position: -22px 7px;
  min-height: 28px;
  margin: 0;
  border-radius-topleft: 5px;
  border-radius-topright: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
}
#errorExplanation p {
  padding: 10px 10px 10px 32px;
  background-color: #373636;
  margin: 0;
  font-weight: normal;
}
#errorExplanation ul {
  background-color: #373636;
  padding: 0 0 16px 32px;
  border-radius-bottomleft: 5px;
  border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
}
#errorExplanation li {
  font-weight: normal;
  line-height: 1;
  list-style: disc;
}
ul.bulleted { margin: 1em 0 1em 1.25em; }
ul.bulleted li {
  margin: 0 0 0 1.25em;
  list-style: disc;
}
#errorExplanation { padding-left: 22px; }
/*div.flash_success { background-image: url(/images/interface1/flash-success-badge2.png); }
div.flash_success span.message { background-image: url(/images/interface1/flash-success-badge2.png); }
div.flash_notice { background-image: url(/images/interface1/flash-notice-badge2.png); }
div.flash_notice span.message { background-image: url(/images/interface1/flash-notice-badge2.png); }*/
div.flash_error { background-image: url(../images/flash-error-badge.png); }
div.flash_error span.message { background-image: url(../images/flash-error-badge.png); }
#errorExplanation { background-image: url(../images/flash-error-badge.png); }
#errorExplanation h2 { background-image: url(../images/flash-error-badge.png); }
/*.tooltip {
  border-bottom: 1px dotted #666666;
  cursor: help;
}*/
input#subscription_coupon_code, input#coupon_code { text-transform: uppercase; }
.link-button, .link-button-sm {
  display: block;
  float: right;
  padding: 0px 0 0 20px;
  background-repeat: no-repeat;
  background-position: 0 bottom;
  background-color: transparent;
}
.link-button-sm { padding-left: 20px; }
a.app-main-button {
  display: block;
  float: right;
  padding: 10px 0 10px 30px;
  font-size: 1.3em;
  font-weight: bold;
}
a.add_button { background: #ffffff url("/images/icons/add_24x24.png") 0 center no-repeat; }
a.add_button:hover { text-decoration: none; }
a.edit_button {
  background: #ffffff url("/images/icons/edit_16x16.png") no-repeat 7px 8px;
  padding-bottom: 0;
}
a.edit_button:hover { text-decoration: none; }
a.new-link-small {
  font-weight: bold;
  background-image: url("/images/icons/add_16x16.png");
}
a.return-link {
  display: block;
  float: left;
  width: 238px;
  font-size: 1em;
  padding-top: 0px;
  font-weight: bold;
  color: #3264c1;
}
h1, h2, h3, h4, h5, h6 {
  color: #000000;
  line-height: 1.1em;
  font-weight: bold;
  text-align: left;
  margin: 0 0 0.2em 0;
}
h1 {
  font-size: 3em;
  margin: 0 0 0.4em 0;
}
h1 { color: #8ec03d; }
h1 a { color: #3264c1; }
h1 a:hover { text-decoration: none; }
h1 span {
  font-size: 0.5em;
  font-weight: normal;
  color: #000000;
}
h2 { font-size: 2em; }
h3 {
  color: #666666;
  font-size: 1.2em;
}
a {
  color: #3264c1;
  text-decoration: none;
}
a:hover {
  color: #000000;
  text-decoration: underline;
}


div { text-align: left; }
p {
  text-align: left;
  line-height: 17px;
  margin: 0 0 1em 0;
}
fieldset {
  border-top: 0px solid #8ec03d;
  padding: 20px 20px 20px 0;
  margin-top: 10px;
}
fieldset table { margin-left: 0px; }
fieldset p {
  margin-left: 0px;
  color: black;
  margin-top: 0;
  padding-left: 6px;
  margin-bottom: 20px;
  padding-top: 7px;
  line-height: 17px;
}
fieldset p span { color: #999999; }
legend, h2.legend {
  font-size: 1.7em;
  font-weight: bold;
  color: #a7a7a7;
  padding-right: 5px;
}
label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 1.1em;
  color: black;
}
label.checkbox { display: inline; }
input, textarea, select {
  padding: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 2px solid #cccccc;
  font-size: 1.1em;
}
input[type="radio"], input[type="checkbox"] {
  border: none;
  padding: 0;
}
input:focus { border-color: #8ec03d; }
textarea:focus { border-color: #8ec03d; }
select:focus { border-color: #8ec03d; }
input[disabled], textarea[disabled], select[disabled] { background: #ebebeb; }
select { font-size: 1em; }
textarea { height: auto; }
button {
  margin: 0;
  padding: 0;
}
.frm fieldset.inputs {
  padding: 0;
  margin: 0;
  position: relative;
}
.frm fieldset.inputs legend { padding-bottom: 0.5em; }
.frm fieldset.inputs legend span { font-size: 13px; }
.frm fieldset.inputs fieldset {
  margin: 0;
  padding: 0;
}
.frm fieldset.inputs fieldset li { margin: 0.5em 0; }
.frm fieldset.inputs ol {
  margin: 0;
  padding: 0;
}
.frm fieldset.inputs li { margin: 0 0 1.5em 0; }
.frm fieldset.inputs label {
  display: block;
  margin: 2px;
  font-size: 13px;
  color: #000000;
  font-weight: bold;
  padding: 0 0 6px;
}
.frm fieldset.inputs legend.label label {
  display: block;
  margin: 2px;
  font-size: 13px;
  color: #000000;
  font-weight: bold;
  padding: 0 0 6px;
}
.frm fieldset.inputs legend.label { padding-bottom: 5px; }
.frm fieldset.inputs input { margin: 0; }
.frm fieldset.inputs select { margin: 0; }
.frm fieldset.inputs p.inline-hints {
  color: #999999;
  margin: 0;
  font-size: 1em;
  padding: 0;
}
.frm fieldset.inputs p.inline-errors {
  color: #990000;
  margin: 0;
  font-size: 1em;
  padding: 0;
}
p.radio-button { margin-bottom: 5px; }
p.radio-button span.tip {
  display: block;
  padding-left: 22px;
  color: #666666;
}
p.radio-button label { display: inline; }
p.description { padding-left: 22px; }
p.description em { margin-right: 7px; }
p.description em:after { content: " -"; }
input.title { font-size: 1.2em; }
input.app-submit-button {
  background-color: #aecd37;
  color: black;
  margin-right: 5px;
  font-weight: bold;
  cursor: pointer;
  border-style: none;
  padding: 12px 15px;
}
.float { float: left; }
input.app-submit-button:hover {
  background-color: silver;
  border-style: none;
}
input.app-button, a.app-button {
  color: #000000;
  margin-left: 5px;
  font-weight: bold;
  background-color: #aecd37;
  border-style: none;
  padding: 7px 10px;
  cursor: pointer;
}
a.app-button {
  display: block;
  padding: 7px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  border: 2px solid #8ec03d;
  font-size: 1.1em;
}
input.app-button:hover { background-color: silver; }
a.app-button:hover { background-color: silver; }
a.app-button:hover {
  text-decoration: none;
  border: 2px solid silver;
}
a.muted { color: #000000; }
td.muted a { color: #000000; }
.subtle { color: #999999; }
.subtle.bottom {
  margin-top: 12px;
  border-top: 1px dotted #d4d4d4;
  padding-top: 9px;
}
.subtle.bottom a { color: #3264c1; }
.subtle.bottom a:hover {
  color: black;
  text-decoration: underline;
}
.small { font-size: 0.833em; }
.button-right { float: right; }
.table-label {
  font-weight: bold;
  color: gray;
}
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow: hidden;
}
.container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow: hidden;
}
.clearfix, .container { display: block; }
.clear { clear: both; }
ul.prorate-details { list-style: disc; }
ul.prorate-details li { margin-left: 40px; }