html { background-color: #dddddd; }
body {
  background-color: #dddddd;
  padding-bottom: 20px;
}
body #app_content_wrapper { background: none; }
body #app_content {
  //width: 800px;
  margin: 0 auto;
}
body #app_content h2.signup_tagline {
	  text-align: center;
	  font-size: 25px;
	  color: #444;
	  /*text-shadow: 1px 1px 1px #ffffff;*/
}
body #app_content h3.signup_tagline_2 {
	  text-align: center;
	  margin-bottom: 20px;
	  font-size: 20px;
	  color: #666;
}
body #app_content h2.signup_bottomtag {
	background: #DDD url(../../images/secure90x72.gif) center left no-repeat;
	float: left;
	clear: both;
	margin-top: 10px;
	//width: 430px;
	//height:75px;
	text-indent: 100px;
}
body .leftcol { width: 420px; }
body #app_content div.form_container {
	width: 367px;
	margin: 0 auto;
	background-color: white;
	border: 4px solid #cccccc;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 10px;
	padding: 30px 30px 15px 30px;
	margin-bottom: 20px;
	overflow: hidden;
}
body #app_content div.form_container h3 {
  font-size: 24px;
  color: #444444;
  font-weight: normal;
  margin-bottom: 20px;
}
body #app_content div.form_container h3 .highlighted { color: #89c530; }
body #app_content div.form_container ul li {
  margin-bottom:20px;
  float: left;
}
body #signupccinfo ul li { margin-bottom: 16px !important; }
body #myplan h3 { margin: 0 !important; }

body #myplan a {
	color: #999999;
	float: right;
	text-decoration: underline;
}

body #app_content div.billing_info {
	
	margin: 0;
	padding: 5px 0;
	overflow: hidden;
}

body #app_content div.billing_info p{
	width: 367px;
	font-size: 11px;
	line-height: 1.4em;
	color: #666;
}

body #app_content div.billing_info h3{
	
	text-transform: uppercase;
}

body #myplan a:hover { text-decoration: none; }
body .left {
  float: left;
  clear: both;
}

body .agree { clear: both; width: 367px; text-align: left; }
body .right { float: right; }
body #app_header {
  background: none;
  height: 85px;
  margin: 20px 0 11px;
}
body #app_header #logo {
  background: url("../../images/logo.png") no-repeat center;
  height: 71px;
  text-indent: -9999px;
}
input {
  border-color: silver;
  background-color: #f4f4f4;
  margin-top: 0;
}
input:focus { border-color: #8ec03d; }
select:focus { border-color: #8ec03d; }


input.hidefield
{
  padding: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 0px solid white;
  font-size: 1.1em;
  background: white;
  width: 0px;
  height: 0px;
}

button.next {
	position: absolute;
	right: 20px;
	top: 25px;
	  text-align: center;
	  color: #ffffff;
	  background-color: #bade66;
	  background: -moz-linear-gradient(100% 100% 90deg, #537601, #bade66);
	  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bade66), to(#537601));
	  text-shadow: 1px 1px 1px #333333;
	  border-radius: 5px;
	  -moz-border-radius: 5px;
	  clear: both;
	  padding: 5px;
	  width: 100px;
	  //float: right;
}

button.skip {
	position: absolute;
	left: 375px;
	top: 25px;
	  text-align: center;
	  color: #ffffff;
	  background-color: #bade66;
	  background: -moz-linear-gradient(100% 100% 90deg, #537601, #bade66);
	  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bade66), to(#537601));
	  text-shadow: 1px 1px 1px #333333;
	  border-radius: 5px;
	  -moz-border-radius: 5px;
	  clear: both;
	  padding: 5px;
	  width: 200px;
	  //float: right;
}

button.next:hover { text-decoration: underline; }
.login-textfield {
  margin-top: 1.5em;
  margin-bottom: 10px;
}

button.back {
	position: absolute;
	left: 20px;
	top: 25px;
	  text-align: center;
	  color: #ffffff;
	  background-color: #bade66;
	  background: -moz-linear-gradient(100% 100% 90deg, #537601, #bade66);
	  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bade66), to(#537601));
	  text-shadow: 1px 1px 1px #333333;
	  border-radius: 5px;
	  -moz-border-radius: 5px;
	  clear: both;
	  padding: 5px;
	  width: 100px;
	  //float: left;
}
input.back:hover { text-decoration: underline; }
.login-textfield {
  margin-top: 1.5em;
  margin-bottom: 10px;
}

input.submit {
	  text-align: center;
	  color: #ffffff;
	  background-color: #bade66;
	  background: -moz-linear-gradient(100% 100% 90deg, #537601, #bade66);
	  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bade66), to(#537601));
	  text-shadow: 1px 1px 1px #333333;
	  border-radius: 5px;
	  -moz-border-radius: 5px;
	  clear: both;
	  font-size: 24px;
	  line-height: 24px;
	  padding: 15px;
	  font-weight: bold;
	  float: right;
}
input.submit:hover { text-decoration: underline; }
.login-textfield {
  margin-top: 1.5em;
  margin-bottom: 10px;
}

h2.login {
  font-size: 2em;
  color: #b4b3b4;
}
input, textarea, select {
  padding: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 2px solid silver;
  font-size: 1.1em;
}
.frm fieldset.inputs {
  padding: 0;
  margin: 0;
}
.frm fieldset.inputs li { margin: 1.5em 0; }
.frm fieldset.inputs input { margin: 3px 0 0; }

    /* STARTER MENU ICONS --------------------------- */
    .boxlinks { 
        color: #fff;
        font-size:14px;
        font-weight:600;
    }
    .boxlinks a:link{   
        color: #fff;
        text-decoration: none;
        font-size:14px;
        font-weight:600;
    }
    .boxlinks a:hover { 
        color: #505050;
        text-decoration: none;
        font-size:14px;
        font-weight:600;
    }

    .examtext {
        color: #919191;
        font-size:10px;
        padding:5;
    }

    .maintextlight {
        color: #919191;
        font-size:12px;

        
    }
    .boxtitle { 
        color: #acacac;
        font-size:14px;
        font-weight:100;
        line-height:20px;
    }

    /* LINKS FOR STARTER MENU BUTTONS --------------------------- */
    .select_link {
        background-image:url(../../images/btn_100x35.png);
        width:100px;
        height:26px;
        text-align:center;
        vertical-align:middle;
        padding-top:10px;
        color: #fff;
    }

    .select_link a{
        color: #fff;
        font-size:12px;
        padding:5;
    }

    .select_link a:hover {
        font-weight:700;
        text-decoration: none;
    }

    .radioMenu {
        
        display: none;
    }

    .highlight {
        background-color: #dddddd;  
        -webkit-border-top-left-radius: 4px;
        -webkit-border-top-right-radius: 4px;
        -webkit-border-top-bottom-radius: 4px;
        -webkit-border-top-bottom-radius: 4px;    
        -moz-border-radius-topleft: 4px;
        -moz-border-radius-topright: 4px;
        border-radius: 4px;  
    }

    .highlight span.boxtitle {

        color: #ffffff;
    } 

    .tooltip {
        display:none;
        background:transparent url(images/black_arrow.png);
        font-size:12px;
        height:70px;
        width:160px;
        padding:25px;
        color:#fff; 
        border: none;
    }    

    label.error {
        color: #CD2626;
        font-size: 11px; 
        display: none;
    }
    input.error, input.error:focus { border-color: #CD2626; }
    select.error, select.error:focus { border-color: #CD2626; }
    li.error, li.error:focus { border: 2px solid #CD2626; }
    p.error, p.error:focus { border: 2px solid #CD2626; }

    div.server_error { color: #CD2626; background: #fff; height  }
    div.server_error h3{ color: #CD2626; font-size: 18px;  }

    /*             */
    .content
    {
        width: 952px;
        margin: 0 auto;
        background: white;
        //background-color: white;
        //border: solid 1px #bbbbbb;
        box-shadow: 5px 5px 10px #b0b0b0;
        //-webkit-transform: rotate(3deg);  //BE SURE TO REMOVE THIS
        
    }

    .ccentered
    {
        margin: 0 auto;
    }

    .w80p
    {
        width: 80%;
    }

    .errors
    {
        background-color: #CD2626;
        display: none;
        padding: 10px;
        color: white;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        box-shadow: 2.5px 2.5px 5px #b0b0b0;
        
        
    }

    .step
    {
    	position: relative;
        width: 952px;
        height: 100%;
        overflow: hidden;
        
        //background: url('../images/bg_lavulite.png') no-repeat;
        //background: white;
        display: inline-block;
        text-align: left;
        margin: 0 auto;
        vertical-align: text-top;
    }

    .container
    {
        overflow: hidden;
        position: relative;
        //background: url('../images/color_tile_1.png');
    }
    
    .scrollarea
    {
    	position: relative;
    	left: 0px;
    	width: 10000px;
    	
    	//transition: all 1s;
    	//-moz-transition: all 1s; /* Firefox 4 */
    	//-webkit-transition: all 1s; /* Safari and Chrome */
    	//-o-transition: all 1s; /* Opera */
    	
    }
    
    .sidebyside
    {
	    display: inline-block;
    }
    li.empty
    {
	    width: 300px;
    }
    
    div.selection
    {
	    width: 150px;
	    height: 150px;
	    background-color: #ffffff;
	    border-radius: 5px;
	    text-align: center;
    }
    
    div.selection:hover
    {
	    background-color: #696969;
    }
    
    div.selection div
    {
	    text-align: center;
    }
    
    div.selected
    {
	    background-color: #696969;
    }
    
    .selected div.boxtitle
    {
	    color: #ffffff;
	    font-style: oblique;
    }
    
    .title_header
    {
	    width: 100%;
	    height: 120px;
	    position: relative;
	    overflow:hidden;
    }
    
    .title_header_small
    {
	    display: inline-block;
	    position: relative;
	    width: 23%;
	    height: 100%;
    }
    
    .title_header_middle
    {
	    position: relative;
	    display: inline-block;
	    height: 100%;
	    width: 53%;
    }
    
    .logo_lavu_lite
    {
	    background: url('../images/lavulite_logo_med.png') no-repeat;
	    //min-width: 109px;
	    //min-height: 28px;
	    position: relative;
	    left: 150px;
	    top: 35px;
	    width: 172px;
	    height: 144px;
    }
    
    .logo_lavu_lite_sail
    {
    	position: relative;
	    background: url('../images/banner_lavu_sail.png') no-repeat;
	    width: 430px;
	    height: 110px;
	    left: 35px;
	    //top: 35px;
    }
    
    .banner
    {
	    text-align: center;
	    background: url('../images/color_span.png');
	    height: 100px;
	    width: 100%;
	    box-shadow: 0px 2px 15px #d3d3d3;
    }
    
    h2{
	    color:#94b9b9;
	    font-size: x-large;
	    text-align: center;
	    font-family: sans-serif;
    }
    
    h3{
	    color:#696f6f;
	    font-size: large;
	    font-weight: normal;
	    text-align: center;
	    font-family: sans-serif;
    }
    .shade_left
    {
	    position: absolute;
    	right: 0px;
    	font-family: sans-serif;
    	font-weight: 100;
    	font-style: normal;
	    background: url('../images/shade_left.png') no-repeat;
	    width: 70px;
	    height: 116px;
    }
    
    .shade_right
    {
    	position: relative;
    	left: 0px;
	    background: url('../images/shade_right.png') no-repeat;
	    width: 70px;
	    height: 116px;
    }
    
    .form_area
    {
	    width: 600px;
	    position: relative;
	    text-align: center;
    }
    
    .half
    {
	    width: 45%;
    }
    
    .full
    {
	    width: 95%;
    }
    
    .third
    {
	    width: 172px;
    }
    
    .fourth
    {
	    width: 23%;
    }
    
    .threefourths
    {
	    width: 73%;
    }
    
    
    .step_info
    {
	    width: 100%;
	    margin: 0 auto;
	    text-align: center;
	    font-family: sans-serif;
	    font-size: medium;
	    font-weight: 100;
	    font-style: italic;
	    color: #5f9797;
    }
    
    .step_info span
    {
	    vertical-align: -16px;
	    position:relative;
	    left: 10px;
    }
    
    .step_note
    {
	    width: 100%;
	    margin: 0 auto;
	    text-align: center;
	    font-family: sans-serif;
	    font-size: medium;
	    font-weight: 100;
	    color: #aaaaaa;
    }
    
    .step_note span
    {
	    vertical-align: -2px;
    }
    
    .us_flag
    {
	    background: url('../images/usa_flag.png') no-repeat;
	    width: 28px;
	    height: 15px;
	    float: left;
    }
    
    .stepnum
    {
	    width: 44px;
	    height: 44px;
	    float: left;
	    vertical-align: middle;
    }
    
    .step1
    {
	    background: url('../images/num1.png') no-repeat;
    }
    
    .step2
    {
	    background: url('../images/num2.png') no-repeat;
    }
    
    .step3
    {
	    background: url('../images/num3.png') no-repeat;
    }
    
    .step4
    {
	    background: url('../images/num4.png') no-repeat;
    }
    
    .step5
    {
	    background: url('../images/num5.png') no-repeat;
    }
    
    .step6
    {
	    background: url('../images/num6.png') no-repeat;
    }
    
    .step6
    {
	    background: url('../images/num7.png') no-repeat;
    }
    
    .ipad_swipe
    {
    	position: absolute;
    	right: 20px;
	    background: url('../images/ipad_swipe.png') no-repeat;
	    width: 219px;
	    height: 119px;
    }
    
    .divider
    {
	    background: url('../images/fadeline_up.png') no-repeat;
	    background-size: contain;
	    margin: 0 auto;
	    width: 95%;
	    height: 10px;
    }
    
    .footer
    {
    	position: relative;
	    height: 75px;
	    width: 100%;
    }
    
    .curvebox
    {
	    width: 253px;
	    height: 107px;
	    background: url('../images/curvebox.png') no-repeat;
	    margin: 0 auto;
    }
    label
    {
	    color: #909090;
	    font-weight: 100;
	    font-style: normal;
	    text-align: left;
	    padding-left: 5px;
    }