
.next_button {color: #AECD37; font-family:Verdana, Geneva, sans-serif; font-size:18px; font-weight:700}
.extext {color: #3e3943; font-family:Verdana, Geneva, sans-serif; font-size:11px; font-weight:400}
.bigletters {color: #9159c8; font-family:Verdana, Geneva, sans-serif; font-size:18px; font-weight:700}
.bigtitle {color: #898989; font-family:Verdana, Geneva, sans-serif; font-size:18px; font-weight:100}
.doubleline {background-image:url(images/double_lines.png); background-repeat:no-repeat; background-position:center; height: 5px}
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	background-color: #FFFFFF;
}


