
.next_button {color: #AECD37; font-family:Verdana, Geneva, sans-serif; font-size:18px; font-weight:700}
.extext {color: #3e3943; font-family:Verdana, Geneva, sans-serif; font-size:11px; font-weight:400}
.bigletters {color: #9159c8; font-family:Verdana, Geneva, sans-serif; font-size:18px; font-weight:700}
.bigtitle {color: #898989; font-family:Verdana, Geneva, sans-serif; font-size:18px; font-weight:100}
.doubleline {background-image:url(images/double_lines.png); background-repeat:no-repeat; background-position:center; height: 5px}

body {
	position: relative;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	background-color: transparent;
	background-image: url("../images/wizard_window.png");
	background-repeat: no-repeat;
	width: 980px;
	height: 620px;
}


.btn_x{
	position: absolute;
	width: 65px;
	height: 65px;
	right: 18px;
	top: 18px;
	background: url("../images/btn_x.png") no-repeat;
}

.btn_next{
	position: absolute;
	width: 85px;
	height: 85px;
	right: 13px;
	bottom: 13px;
}

.btn_done{
	position: absolute;
	width: 255px;
	height: 85px;
	right: 13px;
	bottom: 13px;
	background: url("../images/btn_blank_long.png") no-repeat;
}

.next_off{
	background: url("../images/btn_next_off.png") no-repeat;
}

.next_on{
	background: url("../images/btn_next_on.png") no-repeat;
}

.progress_bar_bg{
	position: absolute;
	width: 980px;
	height: 9px;
	top: 99px;
	left: 0px;
	background: url("../images/progbar_bg.png");
	background-repeat: no-repeat;
}

.progress_bar_fill{
	position: absolute;
	height: 9px;
	top: 99px;
	left: 0px;
	background: url("../images/progbar_fill.png");
	background-repeat: repeat-x;
}

.switch{
	position: absolute;
	width: 195px;
	height: 59px;
	background-repeat: no-repeat;
}

.switch_on{
	background: url("../images/toggle_on.png");
}

.switch_off{
	background: url("../images/toggle_off.png");
}

.lavu_lite_logo{
	position: absolute;
	width: 320px;
	height: 100px;
	left: 25px;
	top: 25px;
	background: url("../images/lavulite_logo.png") no-repeat;
}

.page_title
{
	text-align: center;
	font-family: sans-serif;
	font-size: xx-large;
	
	position: absolute;
	width: 100%;
	bottom: 35px;
	color: grey;
}

.window{
	position: absolute;
	top: 107px;
	text-align: center;
	vertical-align: center;
	width: 100%;
	height: 394px;
	overflow: none;
}

.text_field{
	width: 450px;
	height: 100px;
	background: url('../images/text_field.png') no-repeat;
	font-size: large;
	font-family: sans-serif;
	border: 0px;
	color: grey;
	outline-width: 0px;
}

.text_field_label{
	display: inline-block;
	color: #cccccc;
	font-family: sans-serif;
	font-size: large;
}

.check_mark{
	width: 18px;
	height: 19px;
}

.check_on{
	background: url('../images/check_on.png') no-repeat;
}

.check_off{
	background: url('../images/check_off.png') no-repeat;
}

.check_mark_mdm{
	width: 35px;
	height: 38px;
}

.check_on_mdm{
	background: url('../images/check_medium_on.png') no-repeat;
}

.check_off_mdm{
	background: url('../images/check_medium_off.png') no-repeat;
}

.layout{
	width: 225px;
	height: 225px;
	display: inline-block;
	padding: 20px;
	text-align: left;
	
	font-size: medium;
	font-family: sans-serif;
	color: grey;
}

.layout_label{
	width: 190px;
	text-align: center;
	position: relative;
	top: 150px;
}

.quick_on{
	background: url('../images/layout_quick_on.png') no-repeat;
	color: #aecd37;
}

.quick_off{
	background: url('../images/layout_quick_off.png') no-repeat;
}

.tab_on{
	background: url('../images/layout_tab_on.png') no-repeat;
	color: #aecd37;
}

.tab_off{
	background: url('../images/layout_tab_off.png') no-repeat;
}

.table_on{
	background: url('../images/layout_table_on.png') no-repeat;
	color: #aecd37;
}

.table_off{
	background: url('../images/layout_table_off.png') no-repeat;
}

.column{
	position: relative;
	display: inline-block;
	height: 80%;
	text-align: center;
	width: 300px;
	margin: 0 auto;
}

.btn_add_more{
	position: absolute;
	top: 25px;
	right: 25px;
	width: 220px;
	height: 220px;
	background: url('../images/btn_add_more.png') no-repeat;
	
	font-family: sans-serif;
	font-size: medium;
	color: #aecd37;
}

.text_field2{
	width: 262px;
	height: 41px;
	background: url('../images/title_win.png') no-repeat;
	text-align: center;
	font-size: medium;
	font-family: sans-serif;
	border: 0px;
	color: grey;
	outline-width: 0px;
}

.btn_takepic{
	width: 210px;
	height: 60px;
	background: url('../images/btn_takepic.png') no-repeat;
	margin: 0 auto;
	
	font-size: medium;
	font-family: sans-serif;
	border: 0px;
	color: grey;
	outline-width: 0px;
	
}

.item_display
{
	width: 209px;
	height: 157px;
	background-color: grey;
	border-radius: 10px;
	border: 2px solid #bbbbbb;
	margin: 0 auto;
	background-size: 100% 100%;
	margin-top: 50px;
}

.map
{
	background: url('../images/map_g.png');
	background-repeat: no-repeat;
	background-position-x: 500px;
	height: 100%;
	width: 100%;
}

.select_box
{
	width: 452px;
	height: 35px;

	font-size: medium;
	font-family: sans-serif;
	color: grey;
}

.lang
{
	background: url('../images/language_bg.png') no-repeat;
	overflow: none;
	width: 99%;
	height: 90%;
}

.clock_bg
{
	width: 130px;
	height: 198px;
	background: url('../images/clock_g.png') no-repeat;
}

.arrow_green
{
	width: 24px;
	height: 24px;
	background: url('../images/aro_green.png') no-repeat;
	display: inline-block;
}