table, td, th
		{
			font-size: 1em;
			border: 1px solid #98bf21;
			padding: 3px 7px 2px 7px;
		}
		
		p, li
		{
			text-align: justify;
			text-indent: 2em;
		}
		
		table
		{
			font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
			width: 100%;
			border-collapse: collapse;
		}
		
		
		th
		{
			font-size: 1.1em;
			text-align: left;
			padding-top: 5px;
			padding-bottom: 4px;
			background-color: #A7C942;
			color: #ffffff;
		}
		
		tr.alt td
		{
			background-color: #EAF2D3;
			color: #000000;
		}
		
		.php em
		{
			color: blue;
		}
		
		.php var
		{
			color: purple;
		}
		
		.php strong
		{
			color: black;
		}
		
		.php dfn
		{
			color: red;
		}
		
		.php comment
		{
			color: green;
		}
		
		.php func
		{
			color: #0075e0;
		}
		
		.xml var
		{
			color: blue;
		}
		
		.xml dfn
		{
			color: red;
		}
		
		.xml strong
		{
			color: purple;
		}
		
		.json var
		{
			color: blue;
		}
		
		.json dfn
		{
			color: red;
		}
		
		.objective-c var
		{
			color: blue;
		}

		.objective-c strong
		{
			color: purple;
		}
		
		.objective-c dfn
		{
			color: red;
		}
		
		.objective-c func
		{
			color: #0075e0;
		}
		
		.params var
		{
			color: blue;
		}
		
		.params dfn
		{
			color: red;
		}
		
		.csharp em
		{
			color: blue;
		}
		
		.csharp var
		{
			color: #ac3e8e;
		}
		
		.csharp strong
		{
			color: #6fb0ac;
			font-style: normal;
			text-decoration: none;
		}
		
		.csharp func
		{
			color:#5c68b6;
		}
		
		.csharp dfn
		{
			color: #c35d1e;
		}

		.table_descriptions strong 
		{
			color: green;
			font-style: normal;
			text-decoration: bold;
		}

		.table_descriptions var 
		{
			color: blue;
			font-style: normal;
			text-decoration: bold;
		}

		.table_descriptions dfn 
		{
			color: red;
		}
		
		.code_examp
		{
			padding: 2px;
			width: 80%; 
			margin: 0 auto; 
			background-color: #dddddd; 
			border: 1px solid grey;
			overflow: auto;
		}
		
		.sxs
		{
			display: inline-block;
		}
		
		.button
		{
			border: 1px solid #00961f;
			background: #dddddd;
			padding: 0.25em;
		}
		
		.button:hover
		{
			font-style: oblique;
		}
		
		.page
		{
			width: 800px;
			margin: 0 auto;
		}
		
		.section
		{
			color: blue;
		}
		
		.section : hover
		{
			text-decoration: underline;
		}
