table.autoTableContainer {
	text-align: center;
}

div.autoTable {
	height: 300px;
	overflow-y: auto;
}

table.autoTable {
	text-align: center;
	border: 0 none clear;
}

th.autoTable {
	padding: 5px 10px 5px 10px;
	text-align: center;
	font-size: 15px;
	font-weight: normal;
	border: 1px solid black;
}

th.autoTable.mouseOver {
	background-color: #ccc;
}

th.autoTable.sort_desc {
	background-color: #aaa;
}

th.autoTable.sort_asc {
	background-color: #fff;
}

th.autoTable.sort_desc.mouseOver {
	background-color: #bbb;
}

th.autoTable.sort_asc.mouseOver {
	background-color: #ddd;
}

tr.autoTable {
	background-color: #eee;
}

tr.autoTable:nth-child(even) {
	background-color: #ccc;
}

tr.autoTable.mouseOver {
	background-color: #ddf;
}

.border {
	border: 1px solid #000;
}

input[type='button'] {
    border-radius: 2px;
    -webkit-border-radius: 2px;
    height: 1.9em;
    display: inline-block;
    font-family: sans-serif, verdana;
    font-weight: 400;
    font-size: 1em;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0px 1px 1px #999;
    background: #aecd37;
    background: -moz-linear-gradient( top, #aecd37 0%, #99bc08 51%, #99bc08 54%, #aecd37 100%);
    background: -webkit-linear-gradient( top, #aecd37 0%, #99bc08 51%, #99bc08 54%, #aecd37 100%);
    background: linear-gradient( to bottom, #aecd37 0%, #99bc08 51%, #99bc08 54%, #aecd37 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aecd37', endColorstr='#aecd37', GradientType=0);
    transition: all 0.3s;
    cursor: pointer;
}

.displayNone {
	display: none;
}

.noOrders {
	border:1px solid gray;
	padding:100px;
	text-align:center;
	font-weight:bold;
}
