body{

}
div, span, p, input {
	font-family: sans-serif, verdana;
	color:white;
	font-weight: 100;
}
.buttonNav{
	position:relative;
	width:100%;
	font-size: x-large;
	background-color:#aecd37;
	border:1px solid white;
	padding-top:20px;
	padding-bottom:20px;

}
#lateArea, #messagesArea, #searchArea, #authorizeLLS{
	display:none;
	height:0px;
	font-size: large;
	margin-left: 1px;
	margin-top:-1px;

}
#messages{
	background-color:white;
	width:100%;
	height:350px;
	overflow:auto;
}
#logout, #useMain{
	position:relative;
	width:100%;
	font-size: large;
	background-color:#aecd37;
	border:1px solid white;
	padding-top:10px;
	padding-bottom:10px;
}
#reasonArea{
	width:40px;
}
.open{	
	display:block;
	position:relative;
	width:100%;
	background-color: #aecd37;

}
.container{
	padding-left:20px;
	padding-right:20px;
	
}

.submitButton{
	background-color:white;
	color:black;
	font-weight:200;
}
.textPadding{
	padding-left:10px;
}
#searchContainer{
	width:100%;
	height:400px;
	overflow:auto;
}
#accountContainer{
	width:100%;
	height:370px;
	background-color:white;
	//overflow:auto;
	dislay:none;
}
#infoContainer{
	width:100%;
	height:90%;
	overflow:auto;
	font-size: small;
}
#searchResults{
	//overflow:auto;
	background-color:white;
	font-size:small;
	border-collapse: collapse;
	width: 100%;
}
#notesTable, #deviceTable, #customerInfoTable{
	font-size:small;
	border-collapse:collapse;
	width:100%;
}
.noteRow, .deviceRow{
	border-bottom:1px solid black;
}
.rowResultLite{
	background-color:#a5a5a5;	
	border-bottom:1px solid black;
}
.rowResultLite:hover{
	background-color:#aecd37;
	
	border-right:1px solid white;
	border-left:1px solid white;
}
.tdWidth{
	width:200px;
}
.rowResultMain{
	border-bottom:1px solid black;
}

.rowResultMain:hover{
	background-color:#aecd37;
	border-right:2px solid white;
	border-left:2px solid white;
}
.loadingDiv{
	
	position: fixed;
	top:50%; 
	left:50%;
	font-size:xx-large;
	height: 210px;
	width:220px;
	opacity:1;
	background-color:rgb(242,242,242) ;
	border:1px solid white;
	box-shadow: 7px 8px 10px 1px black;
	padding-top:30px;
	padding-left:40px;
	z-index: 3;
	display:none; 
}
#loading{

	position:fixed;
	width:100%;
	height:100%;
	background-color:black ;
	opacity:.7;
	z-index:999;
	display:none;
	
}
#loadingText{
	position:fixed;
	z-index:1000;	
	font-size:xx-large;
	text-align:center;
	top:50%;
	left:50%;
	color: #aecd37;
	display:none;
}
#search{
	color:black;
}
#tabContainer{
	padding-top:10px;
	width:100%;
	background-color:#aecd37;
	overflow:auto;
}
#tabContainerScroller{
	min-width:200px;
	
}
.infoTab{
	float:left;
	//display:inline-block;
	background-color:#aecd37;
	border:1px solid white;
	color:white;
	margin: 0px;
	margin-right:-2px;
	width:25%;
	
}
.infoTab:hover{
	background-color:white;
	border-bottom:1px solid white;
	color:#aecd37;
	cursor:pointer;
}
.infoTabSelected{
	float:left;
	//display:inline-block;
	width:25%;
	background-color:white;
	border:1px solid white;
	color:#aecd37;

	margin-right:-5px;
}
#messageContentsArea{
	width:100%;
}
.messagesTable{
	border-collapse: collapse;
}
.messageSender{
	font-size:medium;
	color:black;
}
.messagesCell{
	border-bottom-style:solid; 
	border-width:2px; 
	font-size:small;
	color:black;
}
.messageText{
	color:black;
	text-indent:10px;
	padding-top:10px;
}
.messageTime{
	float:right;
	color:black;
}
.viewed{
	background-color:white;
}
.notViewed{
	background-color:#fffde1;
}
.urgent{
	color:red;
}
