body {
  padding: 0px;
  margin: 0px;
}

#distroSearchSection,
#advancedToolsSection,
#myAccountSection,
#companyDocs,
#dev_tools_section,
#support_tools_section,
div.center {
  position: relative;
  top: 50px;
}

span.name {
  color: white;
  padding: 20px;
}

.company_search_tab {
  display: none;
}

div,
span,
a {
  font-weight: 100;
  font-family: sans-serif, times;
  color: black;
}
.manage_grouping_header {
  padding-top: 20px;
  font-weight: 500;
}
.manage_grouping_header div.collapsable {
  background-color: lightgray;
  width: 16px;
  height: 20px;
  border: 0px solid none;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  padding: 3px 1px;
  display: inline-block;
  cursor: pointer;
  margin-right: 8px;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}
.manage_grouping_header.collapsed {
  border-bottom: 1px dashed gray;
}
.manage_grouping_header.collapsed div.collapsable {
  transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
}
.manage_grouping {
  border: 1px solid gray;
  border-radius: 8px;
  background-color: clear;
  padding: 10px;
}
.smaller {
  font-size: smaller;
}
div.header {
  position: fixed;
  top: 0px;
  z-index: 100;
  background-color: #555;
  width: 100%;
  height: 30px;
  min-width: 1024px;

  border-bottom: #0d0e0e solid 2;
  border-right: #0d0e0e solid 2;
  border-left: #0d0e0e solid 2;
  color: white;
}
.ui-button.currentButton {
  background-color: white;
}
.ui-autocomplete {
  background: white;
}
#chatHeader:hover {
  cursor: pointer;
}
#myAccountSection {
  position: relative;
  top: 50px;
  background-color: rgb(212, 212, 212);
  height: 60%;
  width: 99%;
  margin: 0 auto;
}
#myAccountArea {
  background-color: white;
  padding-top: 0px;
  padding-top: 22px;
  position: relative;
  top: 12px;

  min-height: 400px;
}

#myAccountHeader {
  text-align: center;
  font-family: sans-serif, verdana;
  font-weight: 100;
  font-size: x-large;
}
#myAccountTabContainer {
  width: 100%;
  height: 19px;
  /*
	margin:0 auto;
	padding-top:20px;
	padding-right:20px;
	padding-bottom:20px;
	margin-bottom:20px;*/
}
.myAccountTabs {
  float: left;
  /*border-top:1px solid #aecd37;*/
  /*border-right:1px solid #aecd37;*/
  /*border-left:1px solid #aecd37;*/
  border-bottom: 1px solid white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0px;
  text-align: center;
  font-family: sans-serif, verdana;
  font-weight: 100;
  font-size: large;
  color: white;
  background-color: #aecd37;
}
.myAccountTabSelected {
  color: #aecd37;
  background-color: white;
  cursor: pointer;
}
.myAccountTabs:hover {
  color: #aecd37;
  background-color: white;
  cursor: pointer;
}
#expiringText {
  color: #fff;
  text-align: center;

  font-size: 0.375em;
}
#expiring {
  position: fixed;
  left: 50%;
  top: 50%;
  background-color: #333;

  color: #fff;
  font-size: 2.75em;
  text-align: center;
  font-family: Verdana, Tahoma, Helvetica, Arial;

  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  -khtml-border-radius: 12px;
  border-radius: 12px;

  /*margin-left: 340px;*/

  border-style: solid;
  border-color: #666;
  border-width: 3px;

  z-index: 6;

  display: none;

  opacity: 0.9;
  filter: alpha(opacity=90);
}
#accountOptions {
  /*border:1px solid black;*/
  border-radius: 5px;
  background-color: rgb(212, 212, 212);
  margin-left: 20px;
  width: 99%;
}
nav#page_button_container {
  position: absolute;
  top: 0px;
  left: 10px;
  display: inline-table;
}

nav#page_button_container > div {
  position: relative;
  display: inline-table;

  perspective: 90;
  perspective-origin: 50% 10%;
  -webkit-perspective: 90; /* Safari and Chrome */
  -webkit-perspective-origin: 50% 10%; /* Safari and Chrome */
}

nav#page_button_container > div > div {
  cursor: pointer;
  background-color: #666666;
  border: 1px solid #333333;
  padding: 5px 10px;
  float: right;
  -webkit-perspective: 90; /* Safari and Chrome */
  -webkit-perspective-origin: 50% 10%; /* Safari and Chrome */
  transform: rotateX(25deg);
  -webkit-transform: rotateX(25deg); /* Safari and Chrome */
  border-radius: 5px 5px 0px 0px;
  border-bottom: 0px;
  height: 17px;
}

nav#page_button_container > div > div:hover {
  background-color: white;
}

nav#page_button_container > div[selected] {
  z-index: 1;
  margin-top: 2px;
}

nav#page_button_container > div[selected] > div {
  background-color: gray;
  border-bottom: 0px;
}

nav#page_button_container > div > div > div {
  transform: rotateX(-21.5deg);
  -webkit-transform: rotateX(-21.5deg); /* Safari and Chrome */
}

nav#accountNavigation {
  position: absolute;
  top: 0px;
  right: 10px;
  display: inline-table;
}

nav#accountNavigation > div {
  display: inline-table;
  cursor: pointer;
}

div.account_icon {
  background: url(../images/lavu_head_20px.png) no-repeat no-repeat;
  height: 20px;
  width: 20px;
  margin: 5px;
  display: inline-block;
}

div.logout_icon {
  background: url(../images/log_out_icon.png) no-repeat no-repeat;
  height: 20px;
  width: 20px;
  margin: 5px;
  display: inline-block;
}
/*
#company_search_button,#distributor_search_button,#advanced_tools, #company_docs_button,#bug_tracker_button, #dev_tools{
	float:right;
}*/

a.visited,
a {
  /*color:#ffffff;*/
  color: #668b8b;
  text-decoration: none;
}
.search {
  background-color: white;
  border: solid 2;
  margin-left: 5px;
  width: 400px;
  height: 30px;
}
#searchTable {
  padding-left: 5px;
  position: relative;
  display: inline-block;
}
.advancedSearch {
  text-align: left;
  margin-left: 5px;
}
#searchOptions {
  background-color: white;
}

#companyDocs {
  position: relative;
  background-color: #afadad;
  border: solid 2;
  overflow-x: scroll;
  top: 50px;
  width: 100%;
  height: 800px;
}

#advancedToolsSection {
  position: relative;
  background-color: #afadad;
  border: solid 2;
  /*overflow-x:scroll;*/
  top: 50px;
  width: 100%;
  height: 800px;
}
#advancedToolsHeader {
  position: relative;
  text-align: center;
  font-size: larger;
}
.center {
  position: relative;

  border: solid 2;
  /*overflow-x:scroll;*/
  top: 50px;
  width: 99%;
  margin-left: 12px;
  height: intrinsic;
  min-height: 500px;
}
.lavuChat {
  position: absolute;
  background-color: #f5f3e5;
  border: solid 2;
  overflow-x: auto;
  top: 40px;
  width: 17%;

  left: 19px;
  z-index: 5;
}
.loggedIn {
  position: fixed;
  background-color: #cfcfcf;
  border: solid 2;
  overflow-x: scroll;
  top: 90%;
  width: 17%;
  height: 20%;
  left: 19px;
}
.mainTab {
  position: relative;
  color: white;
  background-color: #6883b6;
  width: intrinsic;
  border: solid 2 black;
  font-size: x-large;
  border-top-left-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.LLSTab {
  position: relative;
  color: white;
  background-color: #6883b6;
  left: 64px;
  top: -32px;
  border: solid 2 black;
  width: 100%;
  font-size: x-large;
  padding-left: 5px;
  padding-right: 5px;
}

.billingTab {
  position: relative;
  color: white;
  background-color: #6883b6;
  left: 119px;
  top: -64px;
  border: solid 2 black;
  width: intrinsic;
  font-size: x-large;

  border-top-right-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
}
#billingContent {
  min-width: 100%;
  min-height: 500px;
}
.searchResults {
  overflow: auto;
  color: white;
  padding: 5px;
  margin-top: 10px;
  font-weight: bold;
  font-size: 14px;
}
.resultTable {
  width: 100%;
  z-index: 1;
  font-size: smaller;
  table-layout: fixed;
  color: black;
  background-color: #7f7f7f;
  border-collapse: collapse;
  position: relative;
  /*top: -33px;*/
  /*background:#576814 ;*/
  /*background:black;*/
}
.bodClass {
  /*z-index:-100;*/
  /*background-color:#7F7F7F;*/
  background-color: gray;
}
td.main {
  border-style: solid;
  border-width: 1px;
}
td {
  overflow: auto;
}

td.smaller {
  width: 75px;
}
td.bigger {
  width: 150px;
}
td.auto {
  width: auto;
}
.rowResult {
  background-color: white;
  padding: 5px;
  border-bottom: 1px solid black;
  /*background-color: #555;*/
}
tr.rowResult:hover td {
  background-color: #aecd37;
  color: black;
  cursor: pointer;
  position: relative;
  /*overflow:auto;*/
  /*z-index:1000;*/
}

.ui-autocomplete {
  height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.details {
  position: inherit;
  width: inherit;
  height: inherit;
  display: none;
}
.floatingTable {
  width: 1000px;
  table-layout: fixed;
  font-size: small;
  overflow-x: auto;
}
.floatingTempResult {
  position: fixed;
  top: 77%;
  left: 20%;
  font-size: small;
  height: 80px;
  background-color: #a1acb5;
  border: 1px solid white;
  box-shadow: 7px 8px 10px 1px black;
  padding-top: 5px;
  display: none;
}

.loadingDiv {
  position: fixed;
  top: 50%;
  left: 50%;
  font-size: xx-large;
  height: 210px;
  width: 220px;
  opacity: 1;
  background-color: rgb(242, 242, 242);
  border: 1px solid white;
  box-shadow: 7px 8px 10px 1px black;
  padding-top: 30px;
  padding-left: 40px;
  z-index: 3;
  display: none;
}
#loading {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
  z-index: 999;
  display: none;
}
#loadingText {
  position: fixed;
  z-index: 1000;
  font-size: xx-large;
  text-align: center;
  top: 50%;
  left: 50%;
  color: #aecd37;
  display: none;
}
table {
  border-collapse: collapse;
}
th {
  background-color: #aecd37;
  /*background-color:#e1dede;*/
  position: relative;
  font-family: sans-serif, verdana;
  font-weight: 300;
  font-size: medium;
  border-bottom: 1px solid black;
}

#mainContainter {
  max-height: 700px;
  overflow: auto;
}
.smallHeader {
  font-size: small;
}
#resultHeader {
  height: 500px;
  overflow: auto;
}
.smallHeader {
  font-size: small;
}
.areaHeader {
  background-color: #7f981e;
}
.deviceInfo {
  table-layout: fixed;
  font-size: smaller;
}
#locationInfo {
  font-size: smaller;
  width: 100%;
}
#clientInfo {
  padding: 5px;
  font-size: smaller;
}
.notesRow {
  width: 200px;
  border-top: 1px solid black;
  overflow: auto;
}
#main {
  background-color: #f1f1f1;
  padding: 5px;
  border-spacing: 0;
  border-collapse: collapse;
}
.message {
  width: 400px;
}
#signupInfo {
  width: 100%;
  font-size: smaller;
}
.scrollableTable {
  overflow: auto;
  width: 700px;
  max-height: 300px;
}
.scrollableDevices {
  overflow: auto;
  max-height: 250px;
}
#notes {
  overflow: scroll;
  background-color: white;
  font-size: smaller;
  width: 100%;
  height: intrinsic;
}
#alertMessage {
  width: 1000px;
  height: 200px;
  overflow-y: auto;
}

#tableHeader {
  background-color: white;
  border-color: white;
  width: 100%;
  /*background:#555 ;(/
	width:inherit;*/
}
.chatbody {
  background-color: #f5f3e5;
  width: 100%;
}
.llsFileStructure {
  font-size: smaller;
}
#searchOptions {
  border: 1px solid black;
}
.vmenu {
  border: 1px solid #aaa;
  position: absolute;
  background: #fff;
  display: none;
  font-size: 0.75em;
}
.vmenu .first_li span {
  width: 100px;
  display: block;
  padding: 5px 10px;
  cursor: pointer;
}

.previousSearchesLinks:hover {
  cursor: pointer;
  background-color: white;
  color: #aecd37;
}
.buttonClass {
  font-weight: 100;
  font-family: sans-serif, times;
  font-size: large;
}
.buttonClass:hover {
  background-color: #aecd37;

  cursor: pointer;
}
.previousSearchesLinks {
  color: black;
  cursor: pointer;
  background-color: #aecd37;
  border-right: 1px solid #4a5717;
  border-left: 1px solid #4a5717;
  padding: 8px;
  font-size: 14px;
}
#quickaccountLinksDiv {
  display: none;
  width: 230px;
  height: 60px;
  background-color: transparent;
  padding: 0;
  margin: 0;
  position: fixed;
  z-index: 2;
  cursor: default;
}
#quickaccountLinksDiv div {
  background-color: #aecd37;
  border: 1px solid black;
}
.searchCols {
  text-align: center;
  background-color: #aecd47;
  color: black;
  height: 30px;
  font-size: small;
}
.searchCols:hover {
  cursor: pointer;
  background-color: white;
  color: #aecd37;
}

.searchColsSelected {
  cursor: pointer;
  background-color: white;
  border-bottom: 1px solid white;
  color: #aecd37;
}
.modList {
  text-align: center;
  border: 1px solid black;
  background-color: #bbbbbb;
  display: inline-block;
  width: 15px;
  height: 15px;
}
.modList:hover {
  cursor: pointer;
  background-color: white;
}
#bug_tracker_button {
  /*background-color:rgb(175,204,67);*/
}

#advancedToolsHeader {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: x-large;
  font-weight: 100;
}
.advancedToolsTab {
  float: left;
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
  background-color: #aecd37;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid #aecd37;
  color: white;
}
#advancedToolsTabScroller {
  width: 1500px;
  height: 40px;
}

.advancedToolsTabSelected {
  position: relative;
  float: left;

  text-align: center;
  background-color: white;
  border-bottom: 2px solid white;
  padding-top: 10px;
  padding-bottom: 10px;
  color: black;
  padding-right: 20px;
  padding-left: 20px;
}
.advancedToolsTab:hover {
  cursor: pointer;
  background-color: white;
  color: #aecd37;
  border-bottom: 2px solid white;
}
#advancedToolsArea {
  width: 100%;
  font-family: sans-serif, verdana;
  font-wieght: 200;
}
#advancedToolsTabContainer {
  width: 100%;
  height: 55px;
  overflow-x: auto;
  background-color: white;
}
#advancedToolsContent {
  width: 97.5%;
  height: 800px;
  background-color: white;
  padding: 20px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
}
#extensionTable {
  border: 1px solid black;
  table-layout: fixed;
  padding-right: 10px;
  padding-left: 10px;
  background-color: white;
  width: 2500px;
  border-collapse: collapse;
}

.extension {
  position: relative;
  float: left;
  border: 1px solid rgba(99, 99, 99, 0.49);
  width: 310px;
  height: 310px;
  margin: 5px;
  background-color: white;
}
.extensionUsage {
  position: relative;
  float: left;
  padding-top: 10px;
  padding-left: 10px;
  color: rgb(46, 113, 151);
}
.extensionLogo {
  padding-top: 60px;
  padding-bottom: 30px;
  height: 60px;
}

.extensionTitle {
  color: rgb(46, 113, 151);
  border-bottom: 2px solid #aecd37;
  width: 85%;
}
.extensionTypeImage {
  position: absolute;
  top: 85%;
  left: 10px;
}
.extensionLink {
  position: absolute;
  top: 84%;
  right: 10px;
}
.extensionLink:hover {
  cursor: pointer;
}
.extensionFeatures {
  font-size: smaller;
  padding: 10px;
  text-align: left;
}
.usage,
.typeImg,
.features,
.logo,
.titles:hover {
  cursor: pointer;
}

.addFeature:hover {
  color: #aecd37;
  cursor: pointer;
}
#detailsEditWindowPositioner {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  top: 0px;
  left: 0px;
}
#detailsEditWindow {
  position: relative;
  z-index: 10;
  top: 20px;
  display: inherit;
  width: 800px;
  height: 643px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.75);
  border: 1px solid gray;
  font-family: sans-serif, verdana;
  font-weight: 100;
}
#detailsTabsContainer {
  position: inherit;
  width: 100%;
  top: 50px;
  margin: 10px;
  margin-left: 0px;
}
#detailsContent {
  position: relative;
  width: 100%;
  height: 500px;
  background-color: white;
  top: 88px;
}
#communications,
#links,
#permissions {
  display: inline-block;
  float: left;
  background-color: #aecd37;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}
#detailsHeader {
  padding-top: 15px;
  text-align: center;
  font-size: x-large;
  color: white;
}
#closeExtensionDetailsBtn {
  text-align: right;
  float: right;
  margin-top: 5px;
  margin-right: 16px;
  background-color: gray;
  width: 11px;
  height: 16px;
  color: white;
  border: 1px solid #aecd37;
}
#closeExtensionDetailsBtn:hover {
  color: black;
  cursor: pointer;
}

#communications:hover,
#links:hover,
#permissions:hover {
  cursor: pointer;
  color: #aecd37;
  background-color: white;
}
.detailsTabSelected {
  /*display:inline-block;
	float:left;
	background-color:white;
	padding-left:30px;
	padding-right:30px;
	text-align:center;
	padding-top:10px;
	padding-bottom:10px;
	color:#aecd37;*/
}
.linkText {
  position: relative;
  left: 0px;
}
.detailsList {
  display: inline-block;
  position: absolute;
  left: 0px;
  padding-top: 50px;
  padding-left: 20px;
}
.rowsContent {
  position: relative;
  overflow: auto;
  top: 20px;
  width: 400px;
  margin: 0 auto;
  left: 100px;
  height: 350px;
}

.fieldRow {
}
.fieldRow[selected] {
  background-color: #8c1fcf;
}
.selectedFieldRow {
  background-color: #aecd37;
  color: white;
}
.fieldRow:hover {
  background-color: #aecd37;
  color: white;
  cursor: pointer;
}
.tabContainer {
  position: absolute;
  width: 100%;
  top: 50px;
  margin: 10px;
  margin-left: 0px;
}
#tabTabContainer {
  position: relative;
  margin: 0 auto;
  width: 525px;
}
#signup_communication,
#login_communication,
#disable_communication {
  border-top: 1px solid #aecd37;
  border-right: 1px solid #aecd37;
  border-left: 1px solid #aecd37;
  background-color: #aecd37;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}
#signup_communication:hover,
#login_communication:hover,
#disable_communication:hover {
  cursor: pointer;
  color: #aecd37;
  background-color: white;
  border-top: 1px solid #aecd37;
  border-right: 1px solid #aecd37;
  border-left: 1px solid #aecd37;
}
#commsContainer {
  position: relative;
  top: 40px;
  float: left;
  width: 100%;
  padding-left: 15px;
}
.floater {
  position: relative;
  /*display:inline-block;*/
  /*float:left;*/
  margin-right: 20px;
}
.floatRight {
  width: 580px;

  margin-left: 20px;
  position: relative;
  display: inline-table;
}
.floatLeft {
  position: relative;
  display: inline-table;
  width: 580px;
  top: 0px;
  left: 20px;
}
.allUserData {
  position: relative;
  width: 580px;
}
.timeOffRequests {
  width: 580px;
  border: 1px solid black;
  border-collapse: collapse;
}
#timeOffReason {
  width: 98%;
  height: 80px;
}
.tdUnderline {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  overflow-x: auto;
}
#displayAccountInfo {
  position: relative;
  top: -7px;
  margin: 5px;
  display: inline-block;
  color: white;
}
#displayAccountInfo:hover {
  color: #aecd37;
}

div.adminfullname {
  position: relative;
  top: -7px;
  margin: 5px;
  display: inline-block;
  color: white;
}
div.adminfullname:hover {
  color: #aecd37;
}

#accountInfo {
  display: none;
  background-color: white;
}
.infoTable {
  border: 1px solid black;
}
.infoContainer {
  margin: 0 auto;
  width: 300px;
  padding: 10px;
  padding-bottom: 30px;
  margin-top: 10px;
  margin-bottom: 30px;
}
#messagesArea {
  font-size: large;
  margin-left: 1px;
  margin-top: -1px;
  width: 100%;
}
#late_notices {
  margin-left: 20px;
  width: 580px;

  position: relative;
  display: inline-table;
  border: 1px solid black;
}
#accountArea {
  background-color: white;
}
#tabContainer {
  padding-top: 10px;
  width: 100%;
  /*background-color:#aecd37;*/
  overflow: auto;
}
#docsTabContainer {
  position: relative;
  padding-top: 10px;
  width: 100%;
  overflow: auto;
}
#docs {
  background-color: white;
  table-layout: fixed;
  position: relative;
  width: 248%;
}
#compDocHeader {
  min-width: 200px;
}
#tabContainerScroller {
  min-width: 200px;
}
.infoTab {
  float: left;
  /*display:inline-block;*/
  background-color: #aecd37;
  border: 1px solid white;
  color: white;
  margin: 0px;
  margin-right: -2px;
  width: 25%;
}
.docsTab {
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  color: black;
}
.compDocsTD {
  border-right: 1px solid black;
  border-left: 1px solid black;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
  font-size: smaller;
  overflow-x: auto;
}
.docsTab:hover {
  background-color: white;
  /*border-bottom:1px solid white;*/
  color: #aecd37;
  cursor: pointer;
}
.docsTabSelected {
  border-right: 1px solid black;
  border-left: 1px solid black;
  background-color: #aecd37;
  color: white;
}

.infoTab:hover {
  background-color: white;
  border-bottom: 1px solid white;
  color: #aecd37;
  cursor: pointer;
}
.infoTabSelected {
  float: left;
  /*display:inline-block;*/
  width: 25%;
  background-color: white;
  border: 1px solid white;
  color: #aecd37;

  margin-right: -5px;
}
#messageContentsArea {
  width: 100%;
}
.messagesTable {
  border-collapse: collapse;
}
.messageSender {
  font-size: medium;
  color: black;
}
.messagesCell {
  border-bottom-style: solid;
  border-width: 2px;
  font-size: small;
  color: black;
}
.messageText {
  color: black;
  text-indent: 10px;
  padding-top: 10px;
}
.messageTime {
  float: right;
  color: black;
}
.viewed {
  background-color: white;
}
.notViewed {
  background-color: #fffde1;
}
.urgent {
  color: red;
}
#leftCompDocsContent {
  height: 100%;
  float: left;
  width: 10%;
}
#compDocsContent {
  float: right;
  width: 75%;
}
.uploaded_document {
}
.uploaded_document:hover {
  color: #aecd37;
  cursor: pointer;
}
.advanced_tools_th,
.th_days_off_header {
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.advanced_tools_table_container {
  position: relative;
  width: 100%;
  border-collapse: collapse;
}
.subsite_td {
  border-top: 1px solid #b8b8b8;
}
.advanced_tools_td_odd {
  border-top: 1px solid #b8b8b8;
  background-color: #b8b8b8;
  padding-right: 5px;
  padding-left: 5px;
  text-align: center;
}
.advanced_tools_td {
  padding-right: 5px;
  padding-left: 5px;
  text-align: center;
}
.advanced_tools_table_positioner {
  margin: 0 auto;
}
.add_days_off_button {
  text-align: center;
}
.add_days_off {
  display: none;
}
.add_days_off_button:hover {
  color: #aecd37;
  cursor: pointer;
}
#companyDaysOff {
  display: none;
}
.new_message_btn {
  background-color: #aecd37;
  border: 1px inset black;
  padding: 2px;
}
.new_message_btn:hover {
  cursor: pointer;
  color: white;
}
.delete_message {
}
.delete_message:hover {
  background-color: #aecd37;
  color: white;
  cursor: pointer;
}
.edit_message:hover {
  background-color: #aecd37;
  color: white;
  cursor: pointer;
}
#message_editor {
  display: none;
  margin: 0 auto;
  width: 380px;
  margin-top: 10px;
}
.distributor_area {
  position: relative;
  background-color: #afadad;
  border: solid 2;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: 10px;
  min-width: 900px;
}
.distro_result_td {
  width: 100px;
  overflow: hidden;
  text-align: center;
}
.distributor_search {
  font-size: 20px;
  width: 400px;
}
.distro_result_th {
  padding: 5px;
}
.distro_result_table {
  width: 100%;
  border: 1px solid black;
  font-size: small;
  background-color: white;
  table-layout: fixed;
}
.distro_result_td_even {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.distro_result_edit:hover {
  cursor: pointer;
}
.distro_edit {
  display: none;
}
.reset_report_list_btn {
  border: 1px solid black;
}
.reset_report_list_btn:hover {
  background-color: #aecd37;
  color: white;
  cursor: pointer;
}
.td_under_border {
  border-bottom: 1px solid black;
}

.border_right_class {
  border-right: 1px solid black;
  vertical-align: text-top;
}
.multi_selector {
  height: 100px;
  overflow: auto;
  border: 1px solid black;
  width: 251px;
  margin-left: 2px;
}

#tabs.v2 .ui-tabs-nav .ui-state-default {
  background-color: #9ec030;
}
#tabs.v2 .ui-tabs-nav .ui-state-active {
  background-color: #ddd;
}
.dev_tools_menu_item {
  display: inline-block;
  padding: 5px 10px 5px 10px;
  background-color: #aecd37;
  margin: 0px 5px 0px 5px;
}
.dev_tools_menu_item:hover {
  color: black;
  background-color: white;
  cursor: pointer;
}
.dev_tools_menu {
  background-color: white;
  display: table;
  margin: 0 auto;
  min-width: 805px;
}
.dev_tools_content_container {
  width: 100%;
  height: 100%;
  display: inline-block;
}
.dev_tools_content {
  background-color: white;
  margin: 0 auto;
  width: 80%;
  min-height: 600px;
  height: 600px;
  max-height: 800px;
  overflow: auto;
  padding: 20px;
}
.support_tools_menu_item {
  display: inline-block;
  padding: 5px 10px 5px 10px;
  background-color: #aecd37;
  margin: 0px 5px 0px 5px;
}
.support_tools_menu_item:hover {
  color: black;
  background-color: white;
  cursor: pointer;
}
.support_tools_menu {
  background-color: white;
  display: table;
  margin: 0 auto;
  min-width: 805px;
}
.support_tools_content_container {
  width: 100%;
  height: 100%;
  display: inline-block;
}
.support_tools_content {
  background-color: white;
  margin: 0 auto;
  width: 80%;
  min-height: 600px;
  height: 600px;
  max-height: 800px;
  overflow: auto;
  padding: 20px;
}
.available_projects_container,
.past_work_container,
.current_working_project {
  display: inline-block;
  border: 1px solid black;
  padding: 10px;
  float: left;
}
.past_work_container,
.current_working_project {
  float: right;
}
.available_projects {
  background-color: white;
}
.available_projects:hover {
  background-color: #aecd37;
  cursor: pointer;
}
.dev_tools_overlay_container {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  z-index: 100;
}
.dev_tools_overlay {
  width: 600px;
  height: 250px;
  margin: 0 auto;
  background-color: white;
  border: 1px solid black;
}
.support_tools_overlay_container {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  z-index: 100;
}
.support_tools_overlay {
  width: 600px;
  height: 250px;
  margin: 0 auto;
  background-color: white;
  border: 1px solid black;
}
.note_area_header {
  display: inline-block;
  color: black;
}
.time_tracking_table {
}
.time_tracking_table td {
  padding: 2px;
  border-collapse: collapse;
  border: 1px solid black;
}

/**
 * NOTIFICATION STYLINGS
 **/

#notifications {
  z-index: 9999;
  font-size: small;
  font-family: arial;
  color: white;
  bottom: 0px;
  height: 0px;
  position: fixed;
  width: 600px;
  /*padding-left:10px;*/
  max-height: 500px;
  /*overflow-y: auto;*/
  text-align: center;
  right: 0px;
  background: rgba(120, 120, 120, 0.95);
  -webkit-transition: height 250ms ease-in-out;
  -moz-transition: height 250ms ease-in-out;
  -o-transition: height 250ms ease-in-out;
  -ms-transition: height 250ms ease-in-out;
  transition: height 250ms ease-in-out;
}

#notifications .scroll_view {
  overflow-y: auto;
  height: 100%;
}

.notification_tray_handle {
  position: absolute;
  width: 120px;
  background: rgba(120, 120, 120, 0.95);
  height: 24px;
  left: calc(100% - 140px);
  top: -24px;
  border-radius: 5px 5px 0 0;
}
.notification_tray_handle:hover {
  cursor: pointer;
}

notification-section-element {
  display: table;
  width: 100%;
  margin-bottom: 10px;
  position: relative;
  left: 0;
  opacity: 1;

  -webkit-transition-property: left, opacity;
  -moz-transition-property: left, opacity;
  -o-transition-property: left, opacity;
  -ms-transition-property: left, opacity;
  transition-property: left, opacity;

  -webkit-transition-duration: 250ms;
  -moz-transition-duration: 250ms;
  -o-transition-duration: 250ms;
  -ms-transition-duration: 250ms;
  transition-duration: 250ms;

  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.notifications_message {
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: white;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: white;
  width: 600px;
  text-align: left;
  overflow: auto;
  margin: auto;
}

notification-element {
  display: block;
  color: white;
  text-align: left;
  opacity: 1;
  left: 0;
  position: relative;

  border-bottom: 1px solid rgba(255, 255, 255, 0.15);

  -webkit-transition-property: left, opacity, height;
  -moz-transition-property: left, opacity, height;
  -o-transition-property: left, opacity, height;
  -ms-transition-property: left, opacity, height;
  transition-property: left, opacity, height;

  -webkit-transition-duration: 250ms;
  -moz-transition-duration: 250ms;
  -o-transition-duration: 250ms;
  -ms-transition-duration: 250ms;
  transition-duration: 250ms;

  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

notification-element > .notification_kill:before,
.notification_section_header_title:after {
  content: "\24e7";
  font-size: larger;
  cursor: pointer;
  text-align: center;
  position: relative;
  display: block;
  color: rgba(255, 255, 255, 0.5);
}

.notification_section_header_title:after {
  position: absolute;
  right: 5px;
  top: 2px;
}

notification-element > .notification_kill {
  display: inline-table;
  height: 100%;
  /*background: rgba( 0, 0, 0, 0.5 );*/
  width: 25px;
  vertical-align: text-top;
}

notification-element > .notification_container:before,
notification-element > .notification_container:after {
  content: "";
  height: 10px;
  display: block;
}
notification-element > .notification_container {
  color: inherit;
  display: inline-block;
  text-align: left;
  padding: 0 10px;
  height: 100%;
  vertical-align: text-top;
  vertical-align: text-top;
  width: calc(100% - 50px);
}

notification-element .notification_title {
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
  display: inline-table;
}

notification-element .notification_header {
  color: inherit;
  font-weight: bold;
  font-size: 1.1em;
}

notification-element .notification_message {
  color: rgba(255, 255, 255, 0.8);
}

notification-element custom-date-time {
  display: inline-table;
  font-weight: normal;
  padding-left: 5px;
  font-size: 0.8em;
  color: rgba(255, 255, 255, 0.4);
}

.notification_section_header_title {
  padding: 5px;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  position: relative;
  /* font-size: 1.2em; */
}

.notification_badge_icon {
	border-radius: 100%;
	/* height: 1em; */
	/* width: 1em; */
	display: table;
	margin: 0 auto;
	background: red;
	color: white;
	padding: 3px;
	margin: 2px auto;
}

.headerTxt {
  font-weight: bolder;
  text-align: center;
  color: white;
}

.ui-dialog-titlebar {
  background-color: #aecd37;
}
