<table cellspacing='3' align="center" width="350">
    <tr><td>
        <p>Use PayPal’s Chip Card Reader to accept payments with magnetic stripe, chip card, contactless or Apple Pay on your iPad or iPhone.</p>
        <p>Click below to create a PayPal Merchant account or link your existing PayPal Merchant account with your Lavu account.</p>
        <p>After linking your PayPal and Lavu accounts, PayPal will automatically be added to your Payment Methods.</p> 
        <p><b>Only available for accounts in the United States.</b></p>
        <form method="post" id="pphsignup_form" name="pphsignup_form" action="https://www.sandbox.paypal.com/signup-pph">
                <input type="hidden" name="partnertype" value="SDK">
                <input type="hidden" name="partner_id" value="Lavu_POS_PPHSDK">
                <input type="hidden" name="partner_name" value="LavuPOS">
                <input type="hidden" name="returnurl" value="https://admin.poslavu.com/components/payment_extensions/PayPal/ReturnFromPayPal.php">
                <input type="hidden" name="logourl" value="https://admin.poslavu.com/components/payment_extensions/PayPal/images/lavu_paypal_logo.png">
                <input type="hidden" name="swiper" value="n">
                <button type="submit" class="paypal-button paypal-blue">Get Started</button>
        </form>
    </td></tr>
</table>