.lavuaccountinfo .info {
    display: inline-block;
    zoom:1;
    *display:inline;
}

.update_password_box__input-placeholder label{
    font-size:11px;
}

.lavuaccountinfo__username{
    display:inline-block;
    vertical-align:top;
    width:45%;
    float:left;
}

.approved__new-password{
    display:inline-block;
    vertical-align: top;
    width:54%;
    float:left;
}

.approved__login-button{
    position:relative;
    top:50px;
    z-index:1;
}

.app_content_bottom__column{
    display:inline-block;
    vertical-align: bottom;
    width:32.5%;
    max-width: 318px;
}