*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
}

/*html,body{*/
    /*font-family: Verdana, Arial, sans-serif;*/
/*}*/

body {
    background-color: #f4f4f3;
    line-height: normal;
    overflow-x: hidden;
    background: #b5b5b5 url('/images/88_a_b_banner.jpg') no-repeat center top;
}

header{
    background-color: #2b2b2b;
    border-bottom: none;
    height:auto;
}

/*header .wrapper{*/
    /*padding:10px 0;*/
/*}*/

.reveal {
    position: absolute;
    top: 0;
    left: 0;
}
.reveal .content {
    width: 100%;
    position: relative;
    background: white;
    border: 2px solid #91918d;
    display: none;
    padding: 15px;
    border-radius: 5px;
}
.reveal_arrow {
    position: absolute;
    right: 16px;
    bottom: -20px;
}

#app_content_wrapper {
    max-width: 990px;
    margin: 0 auto;
    height: 100%;
    top: -1px;
    padding:10px;
}
#app_content_top {
    max-width: 990px;
    margin: 0 auto;
    background-color: transparent;
    position: relative;
}
#app_content_top h1{
    font-size:36px;
    border-bottom:2px solid #AECD37;
    display:inline-block;
    width:auto;
    zoom:1;
    *display:inline;
    text-transform: uppercase;
    margin:0 auto;
    padding:20px 0;
}

#app_content_top h1, #app_content_top h2{
    font-weight:100;
    color:white;
}

#app_content_top h2{
    font-style: italic;
    font-weight:100;
    font-size:26px;
}

#app_content_top b{
    font-weight:700 !important;
}
#app_content_bottom {
    width: auto;
    margin: 20px auto;
    position: relative;
    background: white;
    padding:50px 0;
}

#source select {
    height: 28px;
}

.check_thin_green {
    width: 34px;
    height: 24px;
    background: url('/images/check_thin_green.png');
    background-repeat: no-repeat;
    display: inline-block;
}
.check_thin_gray {
    width: 34px;
    height: 24px;
    background: url('/images/check_thin_gray.png');
    background-repeat: no-repeat;
    margin: 0 auto;
}

.banner {
    font-size: 21px;
    background-color: rgba(74,74,77,0.8);
    text-align: center;
    padding: 22px;
    position: relative;
}
.banner .green {
    color: #aecd37;
    display: inline-table;
    margin-top: -3px;
}
.banner .white {
    color: white;
    display: inline-table;
    margin-top: -3px;
}

.banner_background {
    width: 1px;
    height: 1px;
    margin: 0 auto;
}

.banner_dropshadow {
    position: relative;
    float: left;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
}
.banner_dropshadow .image {
    position: absolute;
    width: 990px;
    height: 24px;
    background: url('/images/fadeline_down_990x24_dark.png');
    background-repeat: no-repeat;
}

.lavuaccountinfo{
    background-color: rgba(255,255,255,0.3);
    border-radius:10px;
    padding:10px;
}

.spacer {
    display: inline-block;
    width: 147px;
    text-align: center;
    line-height:140px;
    background-color: white;
    border-radius:5px;
    vertical-align: middle;
    float:left;
}

.spacer img{
    max-width:98%;
}

.lavuaccountinfo .info {
    position: relative;
    vertical-align: top;
    padding:10px 0 10px 1em;
    float:left;
    font-size:20px;
}

.username_password span{
    display:block;
}

.lavuaccountinfo .info .username_password span {
    font-size: 0.75em;
    color: white;
}

#source {
    text-align: right;
    width: 150px;
    margin: 0 auto;
}

.login_dropshadow {
    position: relative;
    width: 1px;
    height: 1px;
    margin: 0 auto;
}
.login_dropshadow .image {
    position: relative;
    width: 990px;
    height: 24px;
    top: -1px;
    left: -495px;
    background: url('/images/fadeline_down_990x24.png');
    background-repeat: no-repeat;
}

.app_content_bottom__column {
    margin: 0;
    text-align: center;
    padding-top: 30px;
    position: relative;
}

.app_content_bottom__column p {
    display:table;
    margin:0 auto;
    text-align:center;
    position: relative;
    font-size: 13px;
    color: #484848;
}
.app_content_bottom__column p.header {
    margin: 0 auto 16px auto;
    font-size: 18px;
}
.login_form_container a {
    position: relative;
}
.login_form_container a:hover {
    text-decoration: none;
}
.login_form_container a.dark_link {
    color: #484848;
    text-decoration: underline;
    cursor: pointer;
}
.login_form_container a.dark_link:hover {
    color: #686868;
}
.login_form_container .check_thin_grey {
    position: relative;
    width: 34px;
    height: 24px;
    background: url('/images/check_thin_grey.png');
    background-repeat: no-repeat;
    margin: 2px auto;
}
.login_form_container a.green_link {
    color: #aecd37;
    text-decoration: underline;
    cursor: pointer;
}
.login_form_container a.green_link:hover {
    color: #bed057;
}
.login_form_container .check_thin_grey.transparent {
    opacity: 0.5;
}

.login_form_container .icon {
    width: 130px;
    height: 100px;
    margin: 0 auto;
    position: relative;
}
.login_form_container .icon .email_icon {
    background: url('/images/i_start_email.png');
    background-repeat: no-repeat;
    width: 112px;
    height: 88px;
    margin: 0 auto;
}
.login_form_container .icon .app_icon {
    background: url('/images/i_start_appicon.png');
    background-repeat: no-repeat;
    width: 112px;
    height: 88px;
    margin: 0 auto;
}
.login_form_container .icon .login_icon {
    background: url('/images/i_start_laptop_graph.png');
    background-repeat: no-repeat;
    width: 112px;
    height: 88px;
    margin: 0 auto;
}

.login_link a:hover {
    text-decoration: none;
}
.login_link .app-submit-button.new-colors {
    position: relative;
    width: 208px;
    height: 40px;
    margin: 12px auto 0 auto;
    background-color: #aecd37;
    border: 1px solid #aaa;
    border-radius: 5px;
    font-weight: normal;
    font-size: 18px;
    text-shadow: none;
    color: white;
    padding: 4px 0 0 20px;
}
.app-submit-button.new-colors .check_thin_green {
    display: inline-block;
    position: relative;
    top: 5px;
    width: 34px;
    height: 24px;
    background: url('/images/check_thin_green_light.png');
    background-repeat: no-repeat;
}

.next_step {
}
.next_step .container {
    cursor: pointer;
    display: table;
    margin: 0 auto;
    padding: 10px 0;
    border: 2px solid white;
    border-left: none;
    border-right: none;
    position: relative;
}
.next_step .text {
    font-size: 20px;
    text-align: center;
    color: #91918d;
    display: inline-block;
    position: relative;
    top: -8px;
    padding: 0 4px;
}
.next_step .container:hover .text {
}
.next_step .text .bold {
    font-weight: bold;
}
.next_step .arrow_icon {
    display: inline-block;
    position: relative;
    width: 32px;
    height: 32px;
    background: url('/images/arrow_next_sm.png');
    background-repeat: no-repeat;
}
.next_step .container:hover .arrow_icon {
}
.next_step .question_icon {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    background: url('/images/i_question.png');
    background-repeat: no-repeat;
}
.next_step .container:hover .question_icon {
    background: url('/images/i_question_dark.png');
}

.page-bottom-text {
    font-size: 12px;
    text-align: center;
    padding: 40px 0 4px 0;
    color: #91918d;
}
.page-bottom-text .text-container {
    display: table;
    margin: 0 auto;
}
.page-bottom-text .text-container span {
    margin-left: 5px;
}
.page-bottom-text .light {
}
.page-bottom-text .dark {
}
.update_pass_btn{
    background-color:#aecd37;

}

/* .update_password_box_cont, */
.modal-bg {
    width:100%;
    height:100%;
    position:fixed;
    top:0px;
    left:0px;
    background-color:rgba(0,0,0,.6);
    z-index:100;
    display:none;
}

.update_password_box{
    position:relative;
    height:150px;
    margin:0 auto;
    padding:10px;
    font-size:14px;
 }

#approved__show-password-box{
    font-size:13pt;
    cursor:pointer;
}

#approved__close-password-box{
    position:absolute;
    right:10px;
    top:10px;
    cursor:pointer;
}

/** INPUT PLACEHOLDERS **/

.update_password_box__input-placeholder{
    display:table;
    width:100%;
    border-radius:5px;
    border:2px solid #8b8b8b;
    margin:12px 0;
    overflow: hidden;
}

.update_password_box__input-placeholder label{
    display:table-cell;
    width:1px;
    white-space:nowrap;
    background-color:#f2f2f2;
    line-height:35px;
    padding:0 7px;
    font-size:14px;
}

.update_password_box__input-placeholder small{
    min-width:11em;
    display:inline-block;
    zoom:1;
    *display:inline;
    color:#8b8b8b;
}

.approved__input-container{
    width:100%;
    display:table-cell;
    border:none;
    border-left:1px solid #8b8b8b;
}

.approved__input-container input{
    width:100%;
    height:35px;
    display:inline-block;
    vertical-align: middle;
}

.approved__login-button{
    color:white;
    appearance: normal;
    -webkit-appearance: none;
    -moz-appearance: normal;
    padding:0;
    width:200px;
    text-align: center;
    background-color:#AECD37;
    font-size:19px;
    outline:none;
    margin-top:20px;
    font-weight:100;
    line-height:50px;
    height:50px;
    border:none;
    cursor:pointer;
}

.approved__login-button img{
    vertical-align: middle;
}

.error_div{
    color: red;
    white-space: nowrap;
    font-size: 17px;
    position:absolute;
    width:100%;
    bottom:1em;
    font-weight: bold;
}

@media only screen and (min-width:990px){
    .lavuaccountinfo .info {
        font-size:30px;
    }

    .update_password_box__input-placeholder label{
        font-size:14px;
    }
}