body{
    font-size:16px;
}


p{
    font-size:12px;
    line-height:17px;
}

h3{
    font-size:22px;
}

.big {
    font-size:36px;
}

#free-trial .signup_tagline {
    font-size: 51px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#free-trial .signup_tagline_2 {
    font-size: 26px;
    margin-bottom: 5px;
    margin-top: 10px;
    font-weight: normal;
}

#card-verify{
    font-size:25px;
}

#card-verify + .upper {
    margin-top:0;
    font-size:0.9em;
}

#verify-question{
    margin-top:2em;
}

#verify-bottom{
    margin-top:5em;
}

#verify-bottom{
    margin-top:7em;
}

#bluestar-content .first{
    padding-bottom:1px;
}

#starter-menu{
    margin-top:14px;
}

#myplan h3 {
    font-size: 18px;
}

#starter-menu__fitness{
    padding:81px 1px;
}

#starter-menu-single + .starter-menu-box{
    margin:3em auto 5em auto;
}