@CHARSET "UTF-8";

body{
    background:url(/images/banner_signup.jpg) repeat-x center 51px;
    font-size:14px;
}

body.lavu88{
    background:url(/images/bg_signup_banner_bw.jpg) repeat-x center 50px;
}

body.error{
    background:none !important;
}

header {
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

header .little-text {
    display: inline;
    font-size: 9px;
    color: #9a9a9a;
    vertical-align: baseline;
}

::-webkit-input-placeholder {
   color:#f4f4f4;
}

:-moz-placeholder { /* Firefox 18- */
   color:#f4f4f4;
}

::-moz-placeholder {  /* Firefox 19+ */
   color:#f4f4f4;
}

:-ms-input-placeholder {  
   color:#f4f4f4;
}

label{
    display:inline-block;
    width:47%;
}

.big{
    font-size:32px;
}

#title img{
    width:auto;
}

.lavu88 #free-trial{
    margin-bottom:3em;
}

#supported{
    background-size:contain;
}

.left-column {
    display:inline-block;
    width:52%;
    vertical-align: bottom;
}

.right-column{
    display:inline-block;
    width:44%;
    vertical-align: bottom;
    margin-left: 3.25%;
}

.step2 .left-column,
.step2 .right-column{
    vertical-align: top;
}

.agree{
    width:30%;
}

#submit_checkbox{
    display:inline-block;
    width:auto;
}

#agree_tos{
    margin:0;
}

.app-submit-button{
    margin:13px 5px;
}

#feature_table{
    table-layout:fixed;
    width:100%;
}

.col2k{
    width:76%;
}


.fieldsmall{
    display:inline-block;
    width:49%;
    vertical-align:top;
}

.fieldright {
    padding-left:1em;
}

.fieldsmall label{
    white-space:nowrap;
}

#card-verify{
    font-size:20px;
}

#card-verify + .upper {
    margin-top:0;
    font-size:10px;
}

#verify-question{
    margin-top:1.5em;
}

li, td{
    position:relative;
}

input[type="text"],
input[type="number"],
input[type="tel"],
input[type="email"],
#billing-info select{
    margin-bottom:1.25em;
}

input.error[type="text"],
input.error[type="tel"],
input.error[type="number"],
input.error[type="email"],
#billing-info select.error{
    margin-bottom:0;
}

label.error[for="mname"]{
    white-space:nowrap;
    position:absolute;
    width:100%;
    bottom:1em;
    left:0;
    text-align: center;
}


label.error[for="agree_tos"] {
    top:-14px;
    left:-1px;
}

#company-info{
    margin-top:1em;
}

.lavu88 #company-info{
    margin-top:2em;
}


.lavu88 #free-trial{
    color:white;
}

_:-moz-tree-row(hover), #free-trial {
    margin-bottom:61px;
}

.start_menu:hover .tooltip{
    display:inline-block;
}

.signup_tagline {
    font-size:30px;
}

.signup_tagline_2{
    font-size:16px;
}

.first, .second {
    background-repeat: no-repeat;
    background-position: left top;
    padding-left: 75px;
    margin-left: 10px;
}

#verify-bottom{
    margin-top:2em;
}

.second h2{
     margin-top:2em;
     font-size:30px;
     font-weight:normal;
}

.second h3{
    font-size:18px;
}

#cc-info{
    margin-top:1em;
}


#bluestar-content__license-level{
    margin:0;
}

#bluestar-content__license-level + h3{
    margin-top:0;
    font-size:14px;
}


.lavu88 #verify-top{
    color:white;
}

#myplan{
    padding-top:2px;
}

#myplan h3 {
    font-size: 13px;
}

#starter-menu__fitness{
    padding:94px 1px;
}

#boxlinks .icon-holder{
    background-color:white;
    height:150px;
}

.starter-menu__icon-wrapper{
    background-color:#ddd;
    margin-left:-10px;
    margin-top:-10px;
    width:180px;
    height:150px;
    border:1px solid #ddd;
    border-radius:4px;
}

.start_menu{
    margin: 0 auto;
}

#starter-menu{
    min-height:420px;
}

/** inline-block fix for old browsers **/
.oldie .left-column,
.oldie .right-column,
.oldie #submit_checkbox,
.oldie label,
.oldie .fieldsmall,
.oldie .start_menu:hover .tooltip{
    zoom:1;
    *display:inline;
}