@CHARSET "UTF-8";

*{
    -mox-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing: border-box;
}

html{
    font-family:sans-serif;
}

body{
    padding:0;
    margin:0;
    font-size:12px;
    color:#2b2b2b;
}

a{
    text-decoration: none;
}


a img
{
    border:none;
}

h3{
    font-weight:normal;
}

input[type="text"],
input[type="tel"],
input[type="number"],
input[type="email"],
#billing-info select{
    padding: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 2px solid silver;
    font-size: 1.1em;
    width:100%;
    outline:none;
    background-color:#f4f4f4;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#billing-info select{
    height:2em;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
input[type="email"]:focus{
    border: 2px solid #8ec03d;
}

.wrapper{
    max-width:970px;
    padding:1px 10px;
    margin:0 auto;
}

.clearfix, .wrapper{
    zoom:1;
}

.clearfix:before, .wrapper:before{
    content:' ';
    display:table;
}

.clearfix:after, .wrapper:after{
    content:' ';
    display:table;
    clear:both;
}

.center{
    text-align:center;
}

.float-right{
    float:right;
}

.caps, .capitals{
    text-transform:uppercase;
}

header{
    margin: 0;
    background: #f2f2f2;
    border: none;
    box-shadow: 0 0 3px rgba(0,0,0,0.6);
    border-bottom: 2px solid gray;
    padding:1px;
    height:50px;
}

.little-text{
    display:none;
}

#header-phone {
    padding: 0;
    color: #8b8b8b;
    font-size: 1.25em;
    vertical-align:baseline;
}

.form_container {
    margin: 0 auto;
    background-color: white;
    border: 4px solid #ddd;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 30px 30px 15px 30px;
    margin-bottom: 15px;
    position:relative;
}

.form_container ul{
    padding:0;
    list-style:none;
}


label{
    display:none;
}

label.show{
    display:inline-block;
}

.lavugreen{
    color:#AECD37;
}

.upper{
    text-transform:uppercase;
}

#sticker{
    margin-bottom:10px;
}

#ipad img{
    max-width:100%;
}
#trial{
    margin-top:0;
}

.big{
    font-size:30px;
}

.lightgray{
    color:#8b8b8b;
}

#title{
    font-weight:normal;
}

#no-license{
    color:white;
}

#title img{
    width:150px;
}

#simple{
    font-weight:normal;
    font-size:18px;
    border:1px solid #8b8b8b;
    line-height:40px;
}

#simple span{
    vertical-align:middle;
}

#simple strong{
    font-size:24px;
}

#supported{
    background-image:url(/images/88_devices.jpg);
    background-repeat:no-repeat;
    background-position:right 0;
    background-size:160px;
}

#supported ul{
    list-style:none;
    padding-left:0;
}

#learn-features{
    border:1px solid #8b8b8b;
    margin-top:1em;
    line-height:40px;
}

#learn-features img{
    transform:rotate(180deg);
    -ms-transform:rotate(180deg); /* IE 9 */
    -webkit-transform:rotate(180deg); /* Opera, Chrome, and Safari */
}

#learn-features img{
    filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0, M12=-1, M21=0, M22=1); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=0, M12=-1, M21=0, M22=1)"; /* IE8 */
}

#feature_table{
    font-size: 12px;
    margin: auto;
    margin-bottom: 30px;
    border: none;
    display: table;
    border-collapse: collapse;
    clear: both;
}

#feature_table tr {
    border-width: 1px;
    border-style: solid;
    border-color: #e0e0e0;
    background-color: #FFF;
    border-left: 0px;
    border-right: 0px;
}
#feature_table tr>td:nth-child(1) {
    width: 50px;
}
#feature_table td {
    height: 24px;
    padding-top: 8px;
}


td.col1k {
    background-image: url(http://try.poslavu.com/images/ibkg.png);
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    background-repeat: repeat-x;
    background-repeat: repeat-y;
    width: 50px;
    text-align: center;
}
.col2k {
    padding-left: 30px;
    border-left: none;
    border-right: none;
    white-space:nowrap;
}
.tooltip {
    color: #000000;
    outline: none;
    cursor: default;
    text-decoration: none;
    position: relative;
}

.tooltip span {
    margin-left: -999em;
    position: absolute;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.col1k:hover span {
  /*font-family: Tahoma, Geneva, sans-serif;*/
  position: absolute;
  left: 1em;
  top: 2em;
  z-index: 99;
  margin-left: 0;
}
.col1k.tooltip:hover img {
  border: 0;
  margin: -10px 0 0 -55px;
  float: left;
  position: absolute;
}
.col1k:hover em {
  /*font-family: Tahoma, Geneva, sans-serif;*/
  font-size: 1.2em;
  font-weight: bold;
  display: block;
  padding: 0.2em 0 0.6em 0;
}

.chart_check {
    background-image: url(http://try.poslavu.com/images/chart_check.png);
    background-position: center;
    background-repeat: no-repeat;
    width:50px;
}

.classic {
    padding: 1.2em 1.2em;
    background: #cde4f6;
    border: 0px;
}

/* STARTER MENU ICONS --------------------------- */
.boxlinks {
    color: #fff;
    font-size:14px;
    font-weight:600;
}
.boxlinks a:link{
    color: #fff;
    text-decoration: none;
    font-size:14px;
    font-weight:600;
}
.boxlinks a:hover {
    color: #505050;
    text-decoration: none;
    font-size:14px;
    font-weight:600;
}

.examtext {
    color: #919191;
    font-size:10px;
    padding:5px;
}

.maintextlight {
    color: #919191;
    font-size:11px;
    text-align:left;
}

.maintextlight img{
    float:left;
    margin-right:1em;
    margin-top:5px;
}

.boxtitle {
    color: #acacac;
    font-size:14px;
    font-weight:100;
    line-height:20px;
    display:block;
}

/* LINKS FOR STARTER MENU BUTTONS --------------------------- */
.select_link {
    padding-top:10px;
    text-align:center;
}

.select_link a, .select_link label{
    color: #fff;
    font-size:12px;
    padding:0 5px;
    background:url(/images/btn_100x35.png) no-repeat center top;
    width:100px;
    line-height:35px;
    vertical-align:middle;
    display:inline-block;
    cursor:pointer;
}

.select_link a:hover {
    font-weight:700;
    text-decoration: none;
}

.radioMenu {
    position:absolute;
    top:-9999px;
    left:-9999px;
}

.highlight,
input:checked + .starter-menu-box{
    background-color: #dddddd;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-top-bottom-radius: 4px;
    -webkit-border-top-bottom-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-radius: 4px;
}

.highlight span.boxtitle {

    color: #ffffff;
}
.starter-menu-box{
    text-align: center;
    width:49%;
    vertical-align: top;
    display:inline-block;
    padding:5px;
}

#boxlinks .tooltip {
    position: absolute;
    z-index: 10;
    top: -120px;
    left: -10px;
    display:none;
    background:transparent url(/images/black_arrow.png);
    font-size:12px;
    height:120px;
    width:210px;
    padding:25px;
    color:#fff;
    border: none;
}

.starter_menu_image {
    position: relative;
}

#boxlinks .starter_menu_image:hover + .tooltip{
    display:inline-block;
}

.start_menu {
    cursor: pointer;
}

label.error {
    color: #CD2626;
    font-size: 11px;
    display: none;
}

input.error, input.error:focus, #billing-info select.error { border-color: #CD2626; }

.server_error { color: #CD2626; background: #fff;   }
.server_error h3{ color: #CD2626; font-size: 18px;  }

.app-submit-button {
    text-align: center;
    color: #ffffff !important;
    background-color: #A1D85A;
    background: -moz-linear-gradient(100% 100% 90deg, #6A9832, #A1D85A);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#A1D85A), to(#6A9832));
    text-shadow: 1px 1px 1px #333333;
    border-radius: 5px;
    -moz-border-radius: 5px;
    font-size: 16px;
    line-height: 24px;
    padding: 15px;
    font-weight: bold;
    vertical-align:top;
}


.app-submit-button.new-colors {
    background-color: #a8c635;
    background: -moz-linear-gradient(100% 100% 90deg, #809628, #a8c635);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#A8C635), to(#809628));
    margin-right:2px !important;
}

#starter-menu{
    padding-left:0;
    padding-right:0;
}

#starter-menu h3{
    margin-left:30px;
}

.starter-menu{
    position:relative;
}

.maintextlight{
    display:block;
    padding-left:20px;
}

.agree{
    display:inline-block;
    width:80%;
}

#submit_checkbox {
    display:inline-block;
    width:17%;
    position:relative;
}

.no-ie #submit_checkbox {
    zoom:2;
}

label.show[for="card_expiration"]{
    display:block;
}

#verify{
    padding:1px 1em;
    margin-bottom:1em;
}

#card-verify{
    margin-bottom:0;
    font-weight:normal;
    font-size:16px;
}

#card-verify + .upper {
    margin-top:0;
    font-size:8px;
}

#verify-question{
    margin-top:1em;
}

label.error[for="agree_tos"] {
    position:absolute;
    width:auto;
    white-space:nowrap;
    top:-12px;
    left:-95px;
}

.company-info__emblem{
    display:none;
}

.lavu88 .company-info__emblem{
    display:block;
}

#company-info p.center:first-child{
    width:100%;
    position:absolute;
    top:-41px;
    left:0;
}

.form_container h3{
    margin-top:0;
}


/**
 *     Added for step1 
 */

#free-trial{
    color:#2b2b2b;
    margin-bottom:1em;
    background-size:auto 100%;
}

.signup_tagline {
    font-size: 2.5em;
}

.signup_tagline_2 {
    font-size: 1em;
    margin-bottom: 5px;
}

#myplan{
    margin-top:12px;
}

#myplan p.upper{
    margin:0;
    color:#8b8b8b;
}


#errorExplanation {
    max-width: 433px;
    background-image: url(/images/flash-error-badge.png);
    padding-left: 22px;
    padding: 0 0 0 24px;
    margin-bottom: 1em;
    color: #ffffff;
    background-repeat: no-repeat;
    background-position: 2px 7px;
}


#errorExplanation h2 {
    background-image: url(../images/flash-error-badge.png);
    text-align: left;
    font-weight: bold;
    padding: 10px 10px 10px 32px;
    color: #ffffff;
    font-size: 1.2em;
    background-color: #373636;
    background-repeat: no-repeat;
    background-position: -22px 7px;
    min-height: 28px;
    margin: 0;
    border-radius-topleft: 5px;
    border-radius-topright: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
}

#errorExplanation p {
    padding: 10px 10px 10px 32px;
    background-color: #373636;
    margin: 0;
    font-weight: normal;
    border-radius-bottomleft: 5px;
    border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
}

.step-counter {
    color: #DDDDDD;
    font-size: 0.9em;
    margin-top: 1em;
}


.signup_tagline {
    font-size:3.5em;
    font-weight:normal;
    font-size:32px;
}


.first {
    background-image: url("/images/btn_question.png");
    background-repeat: no-repeat;
    background-position: left top;
    padding-left: 75px;
    margin-left: 10px;
}

.white{
    color:white;
}

.second h3, .second p{
    color:#494949;
}
.second h3{
    font-weight:normal;
    font-size:1.1em;
}

.second p{
    font-size:0.9em;
}

.second h4{
    font-size:1.1em;
}

#myplan h3{
    margin:0;
}

.level {
    color: #CCCCCC;
    display: inline-block;
    text-align: center;
    margin: -1.25em 10px 0 10px;
}

.dot {
    background-color: transparent;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    display: inline-block;
}

.level.selected {
    color: #AECD37;
}

.selected .dot {
    background-color: #AECD37;
}

.pricing__column{
    max-width:235px;
    margin:auto;
}

.pricing__column h4 {
    text-align: center;
    border: 1px solid;
    margin: 5px auto;
    line-height: 1.5em;
    margin: 0.75em auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.pricing__column ul {
    list-style: none;
    font-size:0.85em;
    color:#8b8b8b;
    display:inline-block;
    width: auto;
    text-align:left;
    margin:0;
}

#pricing-88 h4 {
    border-color: #AECD37;
    color: #AECD37;
}

#pricing-silver h4 {
    border-color: #999999;
    color: #999999;
}

#pricing-gold h4 {
    border-color: #A79D62;
    color: #A79D62;
}

#pricing-pro h4 {
    border-color: #505251;
    color: #505251;
}

#modal {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 99;
    background-color: white;
    opacity: 0;
    background-image: url(/images/_anim_spincircs_12_32_007sec.gif);
    background-repeat: no-repeat;
    background-position: center;
    display: none;
    -webkit-transition:opacity 0.5s;
    transition:opacity 0.5s;
}

#modal.show{
    display:block;
    opacity:0.5;
}