/*
html { background-color: #dddddd; }
body {background-color: #dddddd;}
*/

body {
	background-color: white;
	padding-bottom: 20px;
}
/*
 * Styling for the header
 */

div.header-wrapper {
    height:50px;
    margin:0;
    background:#f2f2f2;
    border:none;
    box-shadow:0 0 3px rgba(0,0,0,0.6);
    border-bottom:2px solid gray;
}

#header-logo {
	float:left;
	display:inline-block;
	margin:0;
}

.lavu-logo>img{
    margin-top:-4px;
    padding:0;
    margin-right:5px;
}

header {
    margin:0 auto;
    padding:0 10px;
    overflow:auto;
    box-sizing:border-box;
}

header .little-text{
	display:none;
}
/*
 * End of the header stylings
 */

#app_content_wrapper {
	background-image:url(/images/banner_signup.jpg); 
	background-repeat:no-repeat;
	background-position:center top;
}

.step1 #app_content_wrapper{
/*	background-image:url("/images/banner_step1.jpg");*/
}

.step-counter{
    color:#9F9F9F;
	font-size:1.1em;
	margin-top:1em;
}

.capitals{
	text-transform:uppercase;
}

#app_content {
  max-width:970px;
  margin:0 auto;
  padding:1em 10px 0 10px;
}

.signup_tagline {
	font:normal 3.5em Arial, sans-serif;
	color: #AECD37;
}

.step1 .signup_tagline {
	font-size:4.25em;
	color: black;
}

.signup_tagline_2 {
	margin-bottom: 20px;
	font:normal 28px Arial, sans-serif;
	color:white;
}

.step1 .signup_tagline,
.step1 .signup_tagline_2,
.step1 .leftcol p{
	margin-left:5px;
}
/*i_help_sm.png*/
.step1 .signup_tagline_2{
	font-size:26px;
	color:#AECD37;
	margin-bottom:5px;
}

.step1 .signup_tagline_2 + p{
	margin-top:5px;
	margin-bottom:11px;
}


h2.signup_bottomtag {
	background: #DDD url(../images/secure90x72.gif) center left no-repeat;
	float: left;
	clear: both;
	margin-top: 10px;
	width: 430px;
	height:75px;
	text-indent: 100px;
}

.leftcol {
	width:500px;
	display: table;
}

.form_container {
    /* width: 367px;*/
	/* border-color:#ddd;*/
	margin: 0 auto;
	background-color: white;
	border: 4px solid #ddd;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 10px;
	padding: 30px 30px 15px 30px;
	margin-bottom: 15px;
	display: table;
}
.form_container h3 {
  font-size: 24px;
  color: #444444;
  font-weight: normal;
  margin-bottom: 20px;
}
body #app_content div.form_container h3 .highlighted { color: #89c530; }
body #app_content div.form_container ul li {
  margin-bottom:20px;
  float: left;
}
body #app_content div.form_container ul li input { width: 350px; }
body #app_content div.form_container ul li input.inputsmall { width: 160px; }
body #app_content div.form_container ul li.fieldsmall { width: 160px; }
body #app_content div.form_container ul li.fieldleft { margin-right: 29px; }
body #app_content div.form_container ul li.ccvinput { margin-left: 19px; }
body #app_content div.form_container ul li.expdate { width: 170px; }
body #app_content div.form_container ul li#address2 { display: none; }
body #signupccinfo ul li { margin-bottom: 16px !important; }



body #myplan a {
	color: #999999;
	float: right;
	text-decoration: underline;
}

body #app_content div.billing_info {

	margin: 0;
	padding: 5px 0;
	overflow: hidden;
}

body #app_content div.billing_info p{
	width: 367px;
	font-size: 11px;
	line-height: 1.4em;
	color: #666;
}

body #app_content div.billing_info h3{

	text-transform: uppercase;
}

body #myplan a:hover { text-decoration: none; }
body .left {
  float: left;
  clear: both;
}

.agree { clear: both; width: 367px; text-align: left; }
.right { float: right; }

#app_header {
  background: none;
  height: 85px;
  margin: 20px 0 11px;
}

#app_header #logo {
  background: url("../images/logo.png") no-repeat center;
  height: 71px;
  text-indent: -9999px;
}
input {
  border-color: silver;
  background-color: #f4f4f4;
  margin-top: 0;
}

input:focus { border-color: #8ec03d; }

.app-submit-button:hover { text-decoration: underline; }
.login-textfield {
  margin-top: 1.5em;
  margin-bottom: 10px;
}
h2.login {
  font-size: 2em;
  color: #b4b3b4;
}
input, textarea, select {
  padding: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 2px solid silver;
  font-size: 1.1em;
}
.frm fieldset.inputs {
  padding: 0;
  margin: 0;
}
.frm fieldset.inputs li { margin: 1.5em 0; }
.frm fieldset.inputs input { margin: 3px 0 0; }

/* STARTER MENU ICONS --------------------------- */
.boxlinks {
	color: #fff;
	font-size:14px;
	font-weight:600;
}
.boxlinks a:link{
	color: #fff;
	text-decoration: none;
	font-size:14px;
	font-weight:600;
}
.boxlinks a:hover {
	color: #505050;
	text-decoration: none;
	font-size:14px;
	font-weight:600;
}

.examtext {
	color: #919191;
	font-size:10px;
	padding:5;
}

.maintextlight {
	color: #919191;
	font-size:12px;
    text-align:left;
}

.maintextlight img{
	float:left;
	margin-right:1em;
	margin-top:5px;
}

.boxtitle {
	color: #acacac;
	font-size:14px;
	font-weight:100;
	line-height:20px;
}

/* LINKS FOR STARTER MENU BUTTONS --------------------------- */
.select_link {
	background-image:url(/images/btn_100x35.png);
	width:100px;
	height:26px;
	text-align:center;
	vertical-align:middle;
	padding-top:10px;
	color: #fff;
}

.select_link a{
	color: #fff;
	font-size:12px;
	padding:5;
}

.select_link a:hover {
	font-weight:700;
	text-decoration: none;
}

.radioMenu {

	display: none;
}

.highlight {
  	background-color: #dddddd;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-top-bottom-radius: 4px;
    -webkit-border-top-bottom-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-radius: 4px;
	}

.highlight span.boxtitle {

	color: #ffffff;
}

.starter_menu_image {
	position: relative;
	display: inline-block;
}
.starter_menu_image:hover .tooltip {
	display: block;
}

.starter_menu_image:hover .tooltip:hover,
.starter_menu_image .tooltip:hover {
	display: none;
}

.tooltip {
	position: absolute;
	z-index: 10;
	top: -120px;
	left: -56px;
	display:none;
	background:transparent url(/images/black_arrow.png);
	font-size:12px;
	height:70px;
	width:160px;
	padding:25px;
	color:#fff;
	border: none;
}


label.error {
	color: #CD2626;
	font-size: 11px;
	display: none;
}
  input.error, input.error:focus { border-color: #CD2626; }

.server_error { color: #CD2626; background: #fff; height  }
.server_error h3{ color: #CD2626; font-size: 18px;  }

.app-submit-button {
	text-align: center;
	color: #ffffff !important;
	background-color: #A1D85A;
	background: -moz-linear-gradient(100% 100% 90deg, #6A9832, #A1D85A);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#A1D85A), to(#6A9832));
	text-shadow: 1px 1px 1px #333333;
	border-radius: 5px;
	-moz-border-radius: 5px;
	font-size: 24px;
	line-height: 24px;
	padding: 15px;
	font-weight: bold;
    float: right;
}

.app-submit-button.new-colors {
	background-color: #a8c635;
	background: -moz-linear-gradient(100% 100% 90deg, #809628, #a8c635);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#A8C635), to(#809628));
	margin-right:2px !important;
}

.step1 #myplan{
	padding-top:1em;
}

.step1 #myplan p:first-child{
	color:#6CBDD5;
}


#myplan h3 {
	margin: 0 !important;
}

.step1 #myplan h3{
	font-size:20px;
}

.level{
	color:#CCCCCC;
	display:inline-block;
	text-align:center;
	margin:-1.25em 7px 0 7px;
}

.level.selected{
    color:#AECD37;;
}

.dot {
	background-color:transparent;
	width:20px;
	height:20px;
	border-radius:20px;
	display:inline-block;
}

.selected .dot{
	background-color:#AECD37;
}
.lavugreen{
	color:#AECD37;
}


.first, .second{
	background-repeat:no-repeat;
	background-position:left top;
	padding-left:75px;
	margin-left:10px;
}

.first{
	background-image:url("/images/btn_question.png");
}

.second{
/*	background-image:url("/images/btn_check.png");*/
	padding-bottom:15px;
}

#agreement{
	width:430px;
}

#agreement:after, #agreement:before{
	content:' ';
	display:block;
}

#agreement:after{
	clear:both;
}

#agreement .agree{
	width:22%;
	display:inline-block;
}

#submit_checkbox {
	position:relative;
	display:inline-block;
	width:50px;
	text-align:center;
}

#subscription_submit{
	display:inline-block;
}

#agree_tos{
/*	position:absolute;
	top:-9999px;
	left:-9999px;*/
	position:relative;
	vertical-align:middle;
}

#fake_agree_tos {
	background-image:url("/images/btn_check.png");
	cursor:pointer;
	vertical-align:bottom;
}

#agree_tos:checked + #fake_agree_tos {
	background-image:url("/images/btn_check_engaged.png");
}

label[for="agree_tos"]{
	position:absolute;
	top:-4.75em;
	white-space:nowrap;	
}

#errorExplanation {
	float:right;
	max-width:433px;
}

#signupccinfo ul {
    overflow: auto;
}

header{
	text-align:right;
	max-width:990px;
	padding:20px 12px 20px 20px;
	margin:0 auto;
	-moz-box-sizing:border-box;
    box-sizing:border-box;
}

#header-phone{
	padding-top:1em;
	color:#8b8b8b;
	font-size:1.25em;
}

@media only screen and (min-width:990px){
	
	header .little-text{
		display:inline;
		font-size:.5em;
		color:#9a9a9a;
		bottom:-1.1em;
	}
}
