#ip-notice{
     max-width:520px;
     margin:20px auto;
     border:3px solid #CCC;
     -webkit-border-radius:20px;
     -moz-border-radius:20px;
     border-radius:20px;
     padding:5px 20px 20px 20px;
     font-family:Arial, sans-serif;
}
.center {
    text-align:center;
}

#ip-notice>p:first-child{
    margin-bottom:2.5em;
}

#wait-animation{
    display:none;
}