<table cellspacing='3' align="center" width="350">
    <tr><td>
        <p>Your Lavu account is ready to accept payments using Square.<p>
        <p>Square has been added to your Payment Methods. Add Square to your checkout screen using the Checkout Layout Editor found in Settings > Location Settings > Checkout Layout Editor.</p>
        <p>To purchase your Square Chip Card Reader contact sales@lavu.com or call 1-855-767-5288. </p>
    </td></tr>
</table>