.gridster * {
}

/* demo
/*/

.controls {
    margin-bottom: 20px;
}

/*/
/* gridster
/*/

.gridster {
    opacity: 1;

    -webkit-transition: opacity .6s;
    -moz-transition: opacity .6s;
    -o-transition: opacity .6s;
    -ms-transition: opacity .6s;
    transition: opacity .6s;
}

.gridster .gs-w {
    background: #fff;
    cursor: pointer;
}

.gridster .player {
    background: #BBB;
}


.gridster .preview-holder {
    border: none!important;
    background: red!important;
}
