

/**
Mods on pre-existing tags
**/
body{
	/* IE10 Consumer Preview */ 
background-image: -ms-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #CFC39D 100%);

/* Mozilla Firefox */ 
background-image: -moz-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #CFC39D 100%);

/* Opera */ 
background-image: -o-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #CFC39D 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(radial, center center, 0, center center, 497, color-stop(0, #FFFFFF), color-stop(1, #CFC39D));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #CFC39D 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: radial-gradient(ellipse farthest-corner at center, #FFFFFF 0%, #CFC39D 100%);


background-attachment: fixed;
}

/**
Backgrounds and colors and things.
**/
.bg_light_to_dark{
	/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #FFFFFF 0%, #D4D3CD 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #FFFFFF 0%, #D4D3CD 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #FFFFFF 0%, #D4D3CD 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #D4D3CD));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #D4D3CD 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #FFFFFF 0%, #D4D3CD 100%);

background-attachment: fixed;	
}

/*Font for section headers*/
.h1_light{
	color:white;
	font-family: Verdana;
	text-align: center;
}


/**
Section Style
**/
#everything{
	width:960px;
	height:1000px;
	margin:10px auto;
}
#top{
	background: white;
	width:960px;
	min-width: 960px;
	margin:10px auto;	
	height:100px;
	border:1px solid;
}
#mid_level_sec{
	width:960px;
	margin:10px auto;	
	min-width: 960px;
	height:500px;
	border:1px solid;
}
#accounts{
	float:left;
	width:600px;
	height:450px;
	margin:10px;
	min-width:600px;
	border:1px solid;
}
#acc_table{
	margin:2px auto;
	width:575px;
	height:350px;
	border:1px solid;
}
#licenses{
	float:left;
	width:300px;
	height: 450px;
	margin:10px auto;	
	min-width:300px;
	border:1px solid;
}
#resources{
	width:960px;
	margin:10px auto;	
	min-width: 960px;
	height:300px;
	border:1px solid;	
}