body{
	background-image:url("../images/bg_distro_port.jpg");
	background-repeat:repeat;
}
a{
	text-decoration: none;
	color:#aecd37;
}
#distro_header{
	background-color: white;
	height:60px;
	border-bottom:1px solid black;
}
#distro_header_admin{
	background-color: black;
	height:60px;
	border-bottom:1px solid black;
}

#distro_header_middle{
	width:960px;
	min-width:960px;
	margin: auto;
	font-family: Verdana;
	font-size:12px;
}
.tab_header{
	border-bottom:1px solid black;
	height:30px;
}
.tab_header p{
	font-size:20px;
	font-family:verdana;
	float:left;
	margin:0;
}
#lead_desc{
	height:10px;
	margin: 4px auto;	
}
#unacc_lead_desc{
	height:100px;
	margin: 4px auto;
}
#in_prog_lead_desc{
	height:30px;
	margin:4px auto;
}
#archive_lead_desc{
	height:100px;
	margin: 4px auto;
}
#proc_lead_desc{
	height:10px;
	margin: 4px auto;
}
#proc_lead_desc span{
	font-size:8px;
	font-family:inherit;
	float:left;
}

#lead_desc span{
	font-size:8px;
	font-family:inherit;
	float:left;
}
#unacc_lead_desc span{
	font-size:8px;
	font-family:inherit;
	float:left;
}
#specialist_lead_desc span{
	font-size:8px;
	font-family:inherit;
	float:left;
}
#in_prog_lead_desc span{
	font-size:8px;
	font-family:inherit;
	float:left;
}
#archive_lead_desc span{
	font-size:8px;
	font-family:inherit;
	float:left;
}
#unassigned_lead_acc_wrapper{
	height:20%;
	overflow-y:scroll;
}
.need_follow_up12{
	background:yellow;
}
.need_follow_up24{
	background:orange;
}
.need_follow_up48{
	background:red;
}
#accnts_desc{
	height:10px;
	margin: 4px auto;
	padding:2px;
	
}
#accnts_desc span{
	font-size:8px;
	font-family:inherit;
	float:left;
}
#tab-container{
	width:980px;
	margin:30px auto;
}
#tabs{
	margin:0px;
	padding:0px;
}

.tab_section{
	padding:0;
}

.tab00 {
	width:978px;
	height:900px;
	text-align:center;
	margin:0px auto;
	font-family:Verdana;
	overflow-y:auto;
}

.tabs{
	margin:0px;
	padding:0px;
}
.tab{
	display: inline-block;
	zoom:1;
	*display:inline;
	background:#717074;
	border:solid 1px #999;
	border-bottom: none;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0; 
	width:130px;
	text-align: center;
	line-height:14px;
	font-family: verdana;
	padding:1px 0px;
}
.tab a { font-size: 12px; line-height: 2em; display: block; padding: 2px; outline: none;text-decoration:none;color:white; }
/*.tab a:hover { text-decoration: underline; }*/
.tab.active { background: #f7f7f7; padding-top: 10px; position: relative; top: 1px; border-color: #999;}
.tab a.active { font-weight: bold; color:#b7bdb0;}
#tab-container #panel-container { background: #fdfdfd; height: 900px; border: solid #999 1px; padding: 0px; -moz-border-radius: 0 4px 4px 4px;}

.adjust_body{
	position:relative;
	top:100px;
	height:100%;
}

/*news tab*/
.tab_top{
	height:60px;
	background-color:#f7f7f7;
	width:978px;
	position:absolute;
	z-index:5;
	
}
.tab_top_top{
	width:800px;
	height:30px;
	margin:0 auto;
	text-align:left;
	padding:30px 10px 0px 10px;
}
#news_content {
	width:600px;
	height:300px;
	margin:30px;
	padding:15px;
	overflow:scroll;
	border:1px solid black;
	font:14px verdana;
	text-align:left;
	position:relative;
	top:61px;
}
#featured_distributor{
	width:600px;
	height:300px;
	margin:30px;
	padding:15px;
	overflow:scroll;
	border:1px solid black;
	font:14px verdana;
	text-align:left;
	position:relative;
	top:61px;
}
.entry_title{
	margin:5px 0px;
}
.entry_date{
	margin:5px 0px;
	color:#b3b3b3;
}
.entry_body{
	line-height: 200%;
	color:#717074;
	margin-bottom:25px;
}
.edit_news_entry{
	cursor:pointer;
	float:right;
	border:1px solid blue;
	background:pink;
	padding:4px;
	
}
.edit_incentive_entry{
	cursor:pointer;
	float:right;
	border:1px solid blue;
	background:pink;
	padding:4px;
	display:none;
	
}
.edit_featured_entry{
	cursor:pointer;
	float:right;
	border:1px solid blue;
	background:pink;
	padding:4px;
	display:none;
	
}

/*leads tab*/
.b_name_head{
	height:20px;
	font-size: 18px;
	font-family:inherit;
}
.lead_content{
	background-color: white;
	height:320px;
}
#lead_acc_wrapper {
	width: 950px;
	margin:0px auto;
}
#account_acc_wrapper {
	width: 950px;
	height:30%;
	margin:0px auto;
}
 
.on {
	/*background: #cccccc;*/
}
	
.over {
	background: #CCCCCC;
}
	
.hover_flow{
	overflow:hidden;
}
.acc_head {	
	text-align:left;
	width: 935px;
	height:35px;
	float: left;
	/*background: #003366;*/
	cursor: pointer;
	overflow:hidden;
}
.acc_head span{
	float:left;
	font-size:12px;
	min-height: 23px;
	/*overflow-wrap: break-word;
	word-wrap: break-word;*/
}
.loc_head_div{
	font-size:23px;
	color:gray;
	float:left;
	width:10px;
}
.acc_lead_content {	
	width: 935px;
	float: left;
	background-color: white;
	/*background: #95B1CE;*/
	display: none;
}
.lead_acc_content_head{
	width:950px;
	height:16px;
	margin:40px auto 0px auto;
}
.lead_acc_current{
	width:950px;
}
.lead_level_text_boxes{
	width:480px;
	margin:0 auto;
}
.lead_level_text{
	height:30px;
	color:gray;
	font-family:verdana;
	text-align:center;
	float:left;
	width:118px;
	font-size:14px;
	margin:0px 1px;
}
.color_accept{
	background-color:#e91b1b;
	color:white;
}
.color_contact{
	background-color:#f6b324;
	color:white;	
}
.color_demo_account{
	background-color:#f9dc17;
	color:white;	
}
.color_apply_license{
	background-color:#65cd37;
	color:white;	
}

.jab_distro{
	color:#aecd37;
	cursor:pointer;
}

.in_progress_details{
	width:950px;
}

.lead_detail_title{
	display:inline-block;
	width:100px;
}

.license_pts_radio{
	margin:5px 10px;
	height:25px;
}
/*accounts tab stuff*/
.tab_top_accnts{
	width:800px;
	margin:auto;
	height:70px;
}

#account_create_account{
	cursor:pointer;
}

.acc_accnt_content {	
	width: 935px;
	float: left;
	background-color: white;
	/*background: #95B1CE;*/
	display: none;
}
.acc_drop_top{
	width:800px;
	height:20px;
	margin:20px auto 5px auto;
	font:13px Helvetica;
	color:#bebdbd;
	letter-spacing: 0.075em;
}
.loc_note_date{
	margin-right: 50px;
	font:10px Verdana;
	color: #717074;
}
.accnt_detail_wrapper{
	width:700px;
	margin:auto;
}
.accnt_detail{
	font:10px Helvetica;
	color:#333333;
	letter-spacing: 0.075em;
	text-align: left;
	padding:4px;
}
.acc_edit_details{
	font: 10px Helvetica;
	color: #333333;
	letter-spacing: 0.075em;
	text-align: left;
	padding: 4px;	
}
.acc_note_input{
	text-align:left;
	width:400px;
}
.loc_add_detail_submit_cancel{
	height:20px;
	width:300px;
	margin-top:15px;
}

.loc_cancel_add_detail{
	cursor:pointer;
	border:1px solid #717074;
	padding:3px;
	margin:2px 10px;
}
.loc_submit_add_detail{
	cursor:pointer;
	border:1px solid #717074;
	padding:3px;
	margin:2px 10px;
}

#account_form_div{
	position: fixed;
	top:10%; 
	left:20%;
	opacity:1;
	background-color:white;/*rgb(242,242,242) ;*/
	z-index: 500;

	width:700px;
	margin:20px auto;
	font:12px verdana;
	color:#717074;
	border:6px solid #717074;
	padding:20px;
}
#new_lead_form_div{
	position: fixed;
	top:10%; 
	left:20%;
	opacity:1;
	background-color:white;/*rgb(242,242,242) ;*/
	z-index: 500;

	width:700px;
	margin:20px auto;
	font:12px verdana;
	color:#717074;
	border:6px solid #717074;
	padding:20px;
	 
}
#news_form_div{
	position: fixed;
	top:10%; 
	left:20%;
	opacity:1;
	background-color:white;/*rgb(242,242,242) ;*/
	z-index: 500;

	width:700px;
	margin:20px auto;
	font:12px verdana;
	color:#717074;
	border:6px solid #717074;
	padding:20px;
	 
}
#news_form_div{
	position: fixed;
	top:10%; 
	left:20%;
	opacity:1;
	background-color:white;/*rgb(242,242,242) ;*/
	z-index: 500;

	width:700px;
	margin:20px auto;
	font:12px verdana;
	color:#717074;
	border:6px solid #717074;
	padding:20px;
	 
}
#lead_note_form_div{
	position: fixed;
	top:10%; 
	left:20%;
	opacity:1;
	background-color:white;/*rgb(242,242,242) ;*/
	z-index: 500;
	height: 380px;
	width:700px;
	margin:20px auto;
	font:12px verdana;
	color:#717074;
	border:6px solid #717074;
	padding:20px;
	 
}
#resource_upload_form_div{
	position: fixed;
	top:10%; 
	left:25%;
	opacity:1;
	background-color:white;/*rgb(242,242,242) ;*/
	z-index: 500;
	height: 380px;
	/*width:700px;*/
	margin:20px auto;
	font:12px verdana;
	color:#717074;
	border:6px solid #717074;
	padding:20px;
	 
}
#distro_agreement_div{
	position: fixed;
	top:10%; 
	left:15%;
	opacity:1;
	background-color:#c3c3cf;/*rgb(242,242,242) ;*/
	z-index: 500;
	height: 550px;
	width:850px;
	margin:20px auto;
	font:12px verdana;
	color:#717074;
	border:6px solid #717074;
	padding:20px;
	 
}
#resource_download_div{
	position: fixed;
	top:10%; 
	left:15%;
	opacity:1;
	background-color:#c3c3cf;/*rgb(242,242,242) ;*/
	z-index: 500;
	height: 550px;
	width:850px;
	margin:20px auto;
	font:12px verdana;
	color:#717074;
	border:6px solid #717074;
	padding:20px;
}
.dl_title_span{
	display:inline-block;
	width:120px;
}
.lead_note_date{
	
}
.lead_note_title{
	
}
.lead_note_content{
	margin-bottom:20px;
}

.lead_note_display_title{
	font-weight:bold;
	margin-right:10px;
}
#new_account fieldset{
	float:left;
	width:324px;
	text-align:left;
	border:none;
	line-height: 150%;
}
#new_lead_form fieldset{
	float:left;
	width:324px;
	text-align:left;
	border:none;
	line-height: 150%;
}
#news_form fieldset{
	float:left;
	width:324px;
	text-align:left;
	border:none;
	line-height: 150%;
}
#lead_note_form fieldset{
	float:left;
	width:324px;
	text-align:left;
	border:none;
	line-height: 150%;
}
.select_arrow_bg_new_account{
	background:url(../images/sort_arrow.png) no-repeat right;
	width:156px;
	float:left;
	position:absolute;
	height:20px;
}
.select_arrow_bg_no_float{
	background:url(../images/sort_arrow.png) no-repeat right;
	width:156px;
	height:20px;
}
#new_account select{
	background: transparent;
	padding: 2px 6px;
	font: 12px verdana;
	color: #717074;
	border: 1px solid #999;
	border-radius: 2px;
	-webkit-appearance: none;
	width:160px;
	height: 20px;	
}
#new_lead_form select{
	background: transparent;
	padding: 2px 6px;
	font: 12px verdana;
	color: #717074;
	border: 1px solid #999;
	border-radius: 2px;
	-webkit-appearance: none;
	width:160px;
	height: 20px;	
}
#new_account input{
	width:160px;
}
#new_lead_form input{
	width:160px;
}
#news_form input{
	width:160px;
}
#lead_note_form input{
	width:160px;
}

#apply_license_form_div{
	position: fixed;
	top:10%; 
	left:20%;
	opacity:1;
	background-color:white;/*rgb(242,242,242) ;*/
	z-index: 500;

	width:700px;
	margin:20px auto;
	font:12px verdana;
	color:#717074;
	border:6px solid #717074;
	padding:20px;	
}
#assign_lead_form_div{
	position: fixed;
	top:10%; 
	left:20%;
	opacity:1;
	background-color:white;/*rgb(242,242,242) ;*/
	z-index: 500;

	width:700px;
	margin:20px auto;
	font:12px verdana;
	color:#717074;
	border:6px solid #717074;
	padding:20px;
	
}
#apply_license_form fieldset{
	float:left;
	width:324px;
	text-align:left;
	border:none;
	line-height: 150%;
}
#assign_lead_form fieldset{
	float:left;
	width:324px;
	text-align:left;
	border:none;
	line-height: 150%;
}
#select_arrow_bg_apply_license{
	background:url(../images/sort_arrow.png) no-repeat right;
	width:156px;
	float:left;
	position:absolute;
	height:20px;
}

#apply_license_form select{
	background: transparent;
	padding: 2px 6px;
	font: 12px verdana;
	color: #717074;
	border: 1px solid #999;
	border-radius: 2px;
	-webkit-appearance: none;
	width:160px;
	height: 20px;	
}
#assign_lead_form select{
	background: transparent;
	padding: 2px 6px;
	font: 12px verdana;
	color: #717074;
	border: 1px solid #999;
	border-radius: 2px;
	-webkit-appearance: none;
	width:160px;
	height: 20px;	
}

#apply_license_form input{
	width:160px;
}
.opaque_modal_bg{

	position:fixed;
	width:100%;
	height:100%;
	background-color:black ;
	opacity:.7;
	z-index:6;
	display:none;
	top:0px;
	left:0px;
}


/*licenses tab*/
#licenses_meat{
	width:826px;
	margin:auto;
}
#licenses_form{
	float:left;
	width:500px;
	margin-right:50px;
}

#licenses_form label{
	width:10em;
	float:left;
	font:12px Verdana;
	color:#717074;
}
#licenses_form input{
		width:160px;	
}
#licenses_form select{
	background: transparent;
	padding: 2px 6px;
	font: 12px verdana;
	color: #717074;
	border: 1px solid #999;
	border-radius: 2px;
	-webkit-appearance: none;
	height:20px;
}
.select_arrow_background{
	background:url(../images/sort_arrow.png) no-repeat right;
	width:156px;
	float:left;
	position:absolute;
	left:134px;
	height:20px;
}
.select_full{
	width:160px;
	
}
.select_half{
	width:77px;
}

#available_licenses{
	text-align:left;
	float:left;
}
.license_display{
	color:#717074;
	font:12px helvetica;
	line-height: 150%;
}

#licenses_prices{
	float:left;
	font:11px Verdana;
	text-align:left;
	width:210px;
}
/*resources tab stuff*/
#res_tab_top{
	text-align:center;
	padding:10px;
	margin:23px auto 0px;
	cursor:pointer;

}
#res_tab_top span{
	margin:0 10px;
}
.res_drop_down{
	
	background-color: #f7f7f7;
	text-align: left;
	-moz-box-shadow:0px 1px 7px 1px #dad7d7;
	-webkit-box-shadow:0px 1px 7px 1px #dad7d7;
	box-shadow:0px 1px 7px 1px #dad7d7;
	
}
#res_print_drop{
	position: fixed;
	left: 350px;
	width: 160px;	
}
#res_web_drop{
	position: fixed;
	left: 446px;
	width: 160px;
}

.res_drop_choice{
	border-bottom: 1px solid #d6d4d4;
	padding: 10px;
	font: 12px Verdana;
	color: #717074;	
}

.resource_section_container{
	//border:1px solid #d6d4d4;
	display:none;
	padding-top:50px;
	
}
.resource_section_container_featured{
	border:1px solid #d6d4d4;
	padding-top:50px;
}
.resource_section_header{
	text-align:left;
}
/**Re-design resources
**/
.resources_home_row_wrapper{
	width:950px;
	margin:auto;
}
.resources_home_section{
	width:380px;
	/*border:1px solid black;*/
	/*height:275px;*/
	display:inline-block;
	vertical-align:top;
	margin: 25px;
	background:#f7f7f7;
}
.resources_home_section_header{
	text-align:left;
	padding:5px;
	font:18px Verdana;
	color:#fff;
	cursor:pointer;
}
.resources_home_section_content{
	text-align:left;
	height:175px;
	overflow:scroll;
	margin: 10px;
}
.resources_home_section_view_all{
	color:#8b8b8b;
	text-align:right;
	margin: 10px;
	font:24px Verdana;
}
.resources_home_btn{
	width:300px;
	margin:20px auto;
	width:25px;
}

.resources_content_file_name{
	font:14px Verdana;
	color:#8b8b8b;
	line-height:175%;
	cursor:pointer;
}

.resources_category_section{
	text-align:left;
	padding:10px;
	/*border:1px solid #8b8b8b;*/
	color:#8b8b8b;
	background:#f7f7f7;
	cursor:pointer;
	display:none;
}
.resources_section_main_head{
	padding:5px;
	font:18px Verdana;
	color:#fff;
	margin-bottom:30px;

}
.resources_subsection_head{
	margin-bottom:15px;
	margin-left:60px;
}
.sub_section_arrow_closed{
	display:inline-block;
}
.sub_section_arrow_open{
	display:inline-block;
	display:none;
	width:25px;

}
.resources_subsection_category_title{
	display:inline-block;
	font:21px Verdana;
	vertical-align: top;
}
.resources_subsection_content{
	display:none;
	margin-left:92px;
}
.resources_file_preview{
	display:inline-block;
	border:1px solid #8b8b8b;
	margin-bottom:15px;
	padding:5px;
	height:250px;

}
.resources_file_preview_title{
	color:#8b8b8b;


}
.resources_file_preview_date{

}
.resources_file_preview_type{
	
}
.resources_file_preview_view{
	
}
/*my_info tab stuff*/

.my_sales_title{
	margin:10px;
	font:24px Verdana;
	color:#b7bdb0;
	text-align:left;
}
#my_sales_incentives{
	height:300px;
	border:1px solid #b7bdb0;
	margin-bottom:10px;
	overflow:scroll;
	
}
.incentive_head_div{
	margin-bottom:10px;
}
.incentive_entry{
	margin:20px;
	padding:10px;
}
.incentive_entry_title{
	display:inline;
	font-weight:bold;
	float:left;
}
.incentive_start{
	font-weight:bold;
}
.incentive_end{
	font-weight:bold;
	margin-left:5px;
}
.incentive_entry_start{
	display:inline;
	color:#b7bdb0;
}
.incentive_entry_end{
	display:inline;
	color:#b7bdb0;
}
.view_incentive_start{}
.view_incentive_end{}
#sales_tools_quick_links{
	text-align:left;
	margin:25px;
}
.my_info_fieldset{
	width:250px;
	margin:10px;
	border:none;
	text-align:left;
	font:12px Verdana;
	color:#717074;
}
.my_info_fieldset{
	width:250px;
	margin:10px;
	border:none;
	text-align:left;
	font:12px Verdana;
	color:#717074;
}
.edit_account_info legend{
	background-color: #f0fdeb;
	border-bottom: 1px solid #999;
	width: 250px;
	font: 15px Verdana;
	color: #555555;
	text-align: left;
}
.edit_account_info .edit {
	display: none;
	text-align: left;
}
#p_edit label{
	width:120px;
	float:left;
}
#a_edit label{
	width:120px;
	float:left;
}
#c_edit label{
	width:100px;
	float:left;
}
.view_label{
	display:inline-block;
	width:80px;
}
.my_info_fieldset legend{
	background-color:#f0fdeb;
	border-bottom: 1px solid #999;
	width:250px;
	font:15px Verdana;
	color:#555555;
}

#my_info_fset_company{
	float:left;
}
#my_info_fset_personal{
	float:left;
}

#my_info_right{
	float:left;
}

#summary_numbers{
	width:100%;
	height:150px;
	margin:150px auto 20px auto;
	border-top:1px solid black;
}
.see_report{
	cursor:pointer;
}
.report_summary{
	width:180px;
	float:left;
	font:14px/150% verdana;
}
#distro_reports{
	margin:20px auto;
}
.distro_report_table_div{
	display:none;
}
.distro_report_table{
	border:1px solid black;
	width:100%;
}
.distro_report_table tr{
	
}
.distro_report_table td{
	font:12px verdana;
}


/************************************************** report tab stuff*/
/************************************************** report tab stuff*/

#report_header_desc{
	
}
.report_select_div{
	display:inline;
	height:40px;
	margin:0 50px;
	
}
.report_select{
	
}
#report_finished_choices{
	border:1px solid black;
	width:100px;
	margin: 50px auto;
	display:none;
	cursor:pointer;
	
}
.report_submit_choice{
	margin:auto;
	border:1px solid #aecd37;
}

.report_header_span{
	margin:0 50px;
	font:13px verdana;
	color: #aecd37;
}

#merc_time_table thead
{
}
#merc_time_table th
{
	background:blue;
	color:white;
	padding:10px;
}

/*
*
*********************tooltip stuff*/
.tooltip{
    display: inline;
    position: absolute;
}
.tooltip:hover:after{
    background: #cde4f6;
    border-radius: 5px;
    top: 15px;
    color: black;
    content: attr(title);
    right: 110%;
    padding: 5px 15px;
    position: absolute;
    overflow:visible;
    z-index: 9999;
    width: 220px;
    font-family:'Open Sans', 'Verdana';
    font-size:13px;
}

.review_1{
	color:red;
	font-weight:bold;
}
.review_2{
	color:orange;
	font-weight:bold;
}
.review_3{
	color:#aecd37;
	font-weight:bold;
}
.review_4{
	color:blue;
	font-weight:bold;
}
.review_5{
	color:green;
}
.sales_lead_display_time_segment_selection{
	cursor:pointer;

}
/**New Leads Tab 

**/
.not_accepted_yet_list{

}
.not_accepted_entry{
	width:900px;
	padding:5px;
	border:1px solid #717074;
	margin:10px auto;
	background:#F7F7F7;
	font-size:12px;

}
.not_accepted_entry_company{
	display:inline-block;
	width:200px;
	text-align:left;
}
.not_accepted_entry_zip{
	display:inline-block;
	width:115px;
}
.not_accepted_entry_time{
	display:inline-block;
	width:200px;
}
.not_accepted_entry_accept{
	display:inline-block;
	width:150px;
	cursor:pointer;
	border:1px solid #717074;
	padding: 5px;
	background:#aecd37;

}
.not_accepted_entry_decline{
	display:inline-block;
	width:55px;
	cursor:pointer;
	border:1px solid #717074;
	padding: 5px;
	background:pink;
	margin-left:55px;

}
.round_corners{
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px; 
}
.account_good_until{
	color:#aecd37;
}
/*
.tooltip:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    right: 100%;
    overflow:visible;
    position: absolute;
    z-index: 9999;
}
*/
/**********end tooltip stuff*/

