.lightybox{
	/*position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	z-index:10;*/
}
.curtain{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background:rgba(0,0,0,0.3);
	display:none;
}
.inner{
	position:absolute;
	display:none;
	left:50%;
	top:10%;
}
#select_location{
	background:#f2f2f2;
	width:500px;
	height:300px;
	display:none;
	position:relative;
	left:-50%;
}
.lavu_shadow_corner{
	-moz-box-shadow:0px 0px 10px 7px #aecd37;
	-webkit-box-shadow:0px 0px 10px 7px #aecd37;
	box-shadow:0px 0px 10px 7px #aecd37;
}