body{
/* IE10 Consumer Preview */ 
background-image: -ms-radial-gradient(center top, circle farthest-corner, #FFFFFF 0%, #CFCFCF 100%);

/* Mozilla Firefox */ 
background-image: -moz-radial-gradient(center top, circle farthest-corner, #FFFFFF 0%, #CFCFCF 100%);

/* Opera */ 
background-image: -o-radial-gradient(center top, circle farthest-corner, #FFFFFF 0%, #CFCFCF 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(radial, center top, 0, center top, 553, color-stop(0, #FFFFFF), color-stop(1, #CFCFCF));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-radial-gradient(center top, circle farthest-corner, #FFFFFF 0%, #CFCFCF 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: radial-gradient(circle farthest-corner at center top, #FFFFFF 0%, #CFCFCF 100%);


background-attachment: fixed;

}
a,img{border:0;}/*INTERNET EXPLORER BOX AROUND LINK FIX*/

a{color:#91b018;}
.gray-grad{
	/* IE10 Consumer Preview */ 
/* IE10 Consumer Preview */ 
background-image: -ms-radial-gradient(center top, circle farthest-corner, #FFFFFF 0%, #CFCFCF 100%);

/* Mozilla Firefox */ 
background-image: -moz-radial-gradient(center top, circle farthest-corner, #FFFFFF 0%, #CFCFCF 100%);

/* Opera */ 
background-image: -o-radial-gradient(center top, circle farthest-corner, #FFFFFF 0%, #CFCFCF 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(radial, center top, 0, center top, 553, color-stop(0, #FFFFFF), color-stop(1, #CFCFCF));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-radial-gradient(center top, circle farthest-corner, #FFFFFF 0%, #CFCFCF 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: radial-gradient(circle farthest-corner at center top, #FFFFFF 0%, #CFCFCF 100%);


background-attachment: fixed;
	
	
}

.green-grad{
		/* IE10 Consumer Preview */ 
background-image: -ms-radial-gradient(center top, circle farthest-corner, #FFFFFF 0%, #88BF93 100%);

/* Mozilla Firefox */ 
background-image: -moz-radial-gradient(center top, circle farthest-corner, #FFFFFF 0%, #88BF93 100%);

/* Opera */ 
background-image: -o-radial-gradient(center top, circle farthest-corner, #FFFFFF 0%, #88BF93 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(radial, center top, 0, center top, 553, color-stop(0, #FFFFFF), color-stop(1, #88BF93));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-radial-gradient(center top, circle farthest-corner, #FFFFFF 0%, #88BF93 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: radial-gradient(circle farthest-corner at center top, #FFFFFF 0%, #88BF93 100%);		
	
}


#everything{
	margin:auto;
}
#header_section{
	height: 200px;
	background: white;
}
#middle_top{
	width:960px;
	margin:auto;
	min-width:960px;
}
#logo{
	float:left;
}
#instructions{
	float:right;
	margin:20px auto 0px 50px;
	padding-right: 30px;
}
#header_section p{
	margin:5px auto;
	font-family:Verdana;
	font-size:14px;
}

#dist_choices{
	width: 960px;
	min-width: 960px;
	height: 570px;
	margin: 10px auto;
	
}

/*
 All #*_choice id's are contianers for .selection_content
*/
#first_choice{
	float: left;
	margin:10px;
}
#second_choice{
	float: left;
	margin: 10px;		
}
#third_choice{
	float: left;
	margin: 10px;		
}
.selection_content{
	width:250px;
	margin:50px auto;
	font-size:13px;
}

.select_button{
	border: 1px solid #98989a;
	width:200px;
	margin:10px auto;
	background:white;
	text-align: center;
	color:#aecd37;
	padding: 5px;
	font-size: 16px;
}
.d_choice{
	min-height: 550px;
	font-family: Arial;
	width:280px;
	
}
.choice_divider{
	height:400px;
	border-right:1px solid #98989a;
	margin-top:80px;
	float:left;
	max-width:2px;
}
.dist_type_header{
	margin-bottom: 8px;
	font-size: larger;
	text-align: center;
}

.d_choice p{
	margin:5px;
	font-family: Verdana;
}

.form_all{
	font-family: Verdana;
    font-size: 12px;
    list-style: none outside none;
    margin: 0;	
}


.form-list {
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2) inset;
    padding: 3px;
}

.form-list option {
    padding: 2px;
}

.form-radio, .form-checkbox {
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

.required_field{
	color:red;
}
