body{
	background-image: url("./images/KART_background.png");
	background-repeat: no-repeat;
	background-size:100% 100%;
	background-color:black;
	color:white;
}
#main_container{
	display: table;
	margin: 0 auto;
	background-color: black;
	padding-bottom: 33px;
	position:relative;
}
.bg_img{
	background-image: url("./images/bg.png");
	width: 100%;
	height: 126px;
}
#header{
	width:100%;	
	height: 130px;
}
#divider{
	width:100%;
	height:44px;
}
#debug{
	width:959px;
	height:200px;
	overflow: auto;
}
.button_container{
	display:table;
	margin:0 auto;
	margin-top:10px;
}
.p2r_btn{
	padding:20px;
	background-color:#ffe600;
	border:1px solid black;
}
.p2r_btn:hover{
	border:1px solid white;
	cursor:pointer;
}
#debug_container{
	display:none;
	margin:0 auto;
	margin-top:50px;
	border:1px solid white;
}
.p2r_btn[selected]{
	border:1px solid white;
}
#kart_assignment{
	display:none;
	margin:0 auto;
	width:60%;
}
#scoreboard{
	display:none;
	margin:0 auto;
	width:90%;
}
#upcoming_races{
	display:none;
	margin:0 auto;
	width:100%;
}
#scoreboard_data{
	border-radius: 5px;
	border-collapse: collapse;
	width: 100%;
}
#kart_assignment_data{
		border-radius: 5px;
	border-collapse: collapse;
	background-color:rgba(0,0,0,.4);
	width: 100%;
}
.scoreboard_col{

	padding: 10px;
	font-size: larger;
	font-family: arial;
	font-weight:bold;
	background-color: rgba(0,0,0,.3);
	-webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
	
}
.first_pos{
	color:white;
	padding: 10px;
	font-size: larger;
	font-family: arial;
	font-weight:bold;
	background-color: rgba(99,99,99,0.3);
	-webkit-transition: background-color 500ms ease-in-out;
    -moz-transition: background-color 500ms ease-in-out;
    -o-transition: background-color 500ms ease-in-out;
    -ms-transition: background-color 500ms ease-in-out;
    transition: background-color 500ms ease-in-out;
	
	
}.table_header{
	font-size:xx-large;
	background-color:gray;
}
.header_col{
	padding: 10px;
	font-size: larger;
	font-family: arial;
	font-weight:bold;
	background-color:#b8b8b8;
	color:black;
}
.over_header{
	background-color: black;
	width: 100.8%;
	height: 60px;
	background-image: url("./images/logo_black.png");
	background-repeat: no-repeat;
	position: relative;
	left: -8px;
	top: -7px;
}#lap_number{
	font-size:30px;
}
.lap_container{
	float:right;
}
#upcoming_races_data_0,#upcoming_races_data_1,#upcoming_races_data_2{
	width: 30%;
	background-color: rgba(0,0,0,.4);
	margin-right: 30px;
	display: none;
	float: left;
}
#upcoming_race_0,#upcoming_race_1,#upcoming_race_2{

	padding: 10px;
	font-size: larger;
	font-family: arial;
	font-weight:bold;
	background-color:#b8b8b8;
	color:black;
}
#p2r_ads{
	display:none;
	margin:0 auto;
	width: 500px;
	height: 600px;;
}
.images{
	position:absolute;
}
.race_name{
	float     : right;
	display   : none;
	color     : white;
	font-size :xx-large;
	font-family: arial;
	font-weight:100;
	padding-right:10px;
	padding-top:10px;
}
#lap_number{
	color:red;
}