body{
	background-color:#FFFFF7;
	margin:0px 0px;
	padding:0px;
	text-align:center;
	width:100%;
}

p,div,span
{
	margin:0px 0px;
	padding:0px 0px;
}

#main
{
	height:420px;
}

.header button{
	margin:0px 0px;
	padding:0px 10px;
	font-size: 40px;
	height: 60px;
}

.invisible{
	display:none;
}

.rounded
{
	border:2px solid #8B8B8B;
	border-radius: 6px;
	-khtml-border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

.Discount
{
	font-size: 24px;
	margin-bottom: 8px;
}

.Discount button
{	
	font-size: 24px;
	margin:0px 0px;
	padding:0px 10px;
	display:inline;
	height:;
}