body, div, table, tr, td, th, p {
	margin: 0 0 0 0;
	border: 0px solid black;
	padding: 5px 5px 5px 5px;
	
}
body {
	min-width: 600px;
	max-width: 600px;
	border: 1px solid transparent;
	//background: url(../images/win_overlay_keysplit.png) no-repeat no-repeat;
	background-size: cover;
}

input, button, label {
	font-size: medium;
	font-family: sans-serif;
}

input[type=number], input[type=text], input[type=email] {
	background: url(../images/field_win_overlay.png) no-repeat no-repeat;
	border: 2px solid transparent;
	padding: 5px 5px 5px 5px;
	background-size: cover;
	width: 165px;
	font-size: small;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.inputarea > label {
	font-size: small;
}

div.inputarea{
	width: 175px;
}

div.loyalty_logo{
	width: 350px;
	height: 75px;
	margin: 0 auto;
}

label{
	height: 42px;
}

.inline-block {
	display: inline-block;
}

.center {
	text-align: center;
}

.width30p {
	width: 30%;
}

.width100p {
	width: 100%;
}

.overflowauto {
	overflow: auto;
}

.cancelbutton{
	background: url(../images/btn_cancel_win_overlay.png) no-repeat no-repeat;
	background-size: cover;
	border: 1px solid transparent;
	width: 136px;
	height: 28px;
	padding: 5px 5px 5px 5px;
}

.acceptbutton{
	background: url(../images/btn_accept_win_overlay.png) no-repeat no-repeat;
	background-size: cover;
	border: 1px solid transparent;
	width: 136px;
	height: 28px;
	padding: 5px 5px 5px 5px;
}

.acceptbutton:hover{
	background-color: #000000;
}

.backbutton{
	background: url(../images/btn_back_win_overlay.png) no-repeat no-repeat;
	background-size: cover;
	border: 1px solid transparent;
	width: 136px;
	height: 28px;
	padding: 5px 5px 5px 5px;
}

table {
	border-collapse: collapse;
}

table#customerinformation {
	width: 100%;
	text-align: center;
	margin: 0 auto;
}

table#customerinformation > tbody > tr > td {
	border: 1px solid black;
	
}

table#availablecoupons {
	width: 100%;
	text-align: left;
	margin: 0 auto;
}

table#availablecoupons > thead {
	background-color: #cdcdcd;
	border: 1px solid black;
}

table#availablecoupons > thead > tr > th {
	border-left: 1px solid black;
	border-right: 1px solid black;
	padding: 0px 5px 0px 5px;
}

table#availablecoupons > tbody {
}

table#availablecoupons > tbody > tr > td {
	border: 1px solid black;
	padding: 0px 5px 0px 5px;
}

table#availablecoupons > tbody > tr[selected] {
	background-color: #aece37;
	color: white;
}

button {
	font-size: medium;
}
