body
{
	font-family:sans-serif;
	background-color: transparent;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
	-webkit-user-select: none;
}

body:after
{
	content:
		url("images/popup_upper_left.png")
		url("images/popup_upper.png")
		url("images/popup_upper_right.png")
		url("images/popup_left.png")
		url("images/popup_right.png")
		url("images/popup_lower_left.png")
		url("images/popup_lower.png")
		url("images/popup_lower_right.png")
		url("images/cn_input_field_bg.png")
		url("images/btn_wow_32x32.png")
		url("images/btn_wow_87x52.png")
		url("images/btn_wow_132x52.png")
		url("images/btn_wow_113x37.png")
		url("images/btn_cc_back.png")
		url("images/x_icon.png")
		url("images/moneris_activity.gif");
	display: none;
}

.gift_panel_title
{
	color:#111111;
	background-color:#DDDDDD;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	height:30px;
}

.gift_panel_card_number
{
	color:#003B5C;
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight:bold;
	height:30px;
}

.gift_panel_text
{
	color:#222222;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
}

.msg_txt1
{
	color:#888888;
	font-family:Arial, Helvetica, sans-serif;
	font-size:17px;
}

.msg_txt2
{
	color:#666666;
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
}

.msg_txt3
{
	color:#666666;
	font-family:Arial, Helvetica, sans-serif;
	font-size:22px;
}

.msg_txt4
{
	color:#999999;
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
}

.input_long
{
	width:260px;
	height:40px;
	background:url("images/cn_input_field_bg.png");
	background-repeat:no-repeat;
	background-position:center;
	border:hidden;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	padding-top:7px;
}

.btn_number_pad
{
	color:#7D7D7D;
	font-family:Arial, Helvetica, sans-serif;
	font-size:26px;
	font-weight:bold;
	text-align:center;
	width:87px;
	height:52px;
	background-image:url("images/btn_wow_87x52.png");
	background-repeat:no-repeat;
	background-position:center;
	border:hidden;
}

.btn_number_pad_wide
{
	color:#7D7D7D;
	font-family:Arial, Helvetica, sans-serif;
	font-size:26px;
	font-weight:bold;
	text-align:center;
	width:132px;
	height:52px;
	background-image:url("images/btn_wow_132x52.png");
	background-repeat:no-repeat;
	background-position:center;
	border:hidden;
}

.btn_light
{
	color:#7D7D7D;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	width:113px;
	height:37px;
	background:url("images/btn_wow_113x37.png");
	border:hidden;
	padding-top:2px;
}

.btn_light_long
{
	color:#7D7D7D;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	width:167px;
	height:37px;
	background:url("images/btn_wow_167x37.png");
	border:hidden;
	padding-top:2px;
}

.btn_light_super_long
{
	color:#7D7D7D;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	width:250px;
	height:37px;
	background:url("images/btn_wow_250x37.png");
	border:hidden;
	padding-top:2px;
	padding-left:8px;
	text-align: center;
}

.report_title
{
	color:#333333;
	font-family:Arial, Helvetica, sans-serif;
	font-size:22px;
}

.report_field
{
	color:#222222;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
}

.report_value
{
	color:#2C2C2C;
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
}

.content_container
{
	position:absolute;
	left:0px;
	top:-30px;
}