.dataRow:hover{
	background:grey;
	color:white;
	cursor:pointer;
}

#header_data{
	font-family: Helvetica;
	color: #d72a2a;
}

#race_data{
	position:absolute;
	top:70px;
	color:white;
	background-color:#3d4a4a;
	border: 1px solid #8a8282;
	margin:0 auto; 
	width:960px;
}

body{
	position:relative;
	font-family: "verdana";
	background-color:black;
	font-weight: 100;
}
#header{
	position:absolute;
	width:960px;
	margin:0 auto;
	color: gray;
	font-size: xx-large;
}
#search{
	position:absolute;
	z-index: 1000;

	right:0px;
	
}
#bodyContent{
	margin:0 auto;
	padding-left:-1px;
	width:960px;
	
}
#viewType{
	position:relative;
	display:table;
	color:white;
	margin:0 auto;
	font-family: "verdana";
	font-size:large;
	margin-bottom:10px;
	
	
}
#logo{
	
	background-image: url("../images/logo.jpeg") ;
	width:379px;
	height:126px;
	
}
#searchImage{
	
	background-image: url("../images/search.jpg");
	width:581px;
	height:126px;
}
#divider{
	position:absolute;
	width:960px;
	height:44px;
}
#category{

	margin:20px auto;
	color: #b1b1b1;
	font-size: x-large;
	
}
.divider{
	color:red;
	border-right:1px solid red;
}
a.links{
	color:white;
	text-decoration: none;
	font-size: large;
}
a.links:hover{
	color:yellow;
	
}
a.selected{
	color:yellow;
}
.search_btn{
	padding:3px;
}