.dataRow:hover{
	background:grey;
	color:white;
	cursor:pointer;
}

#header_data{
	font-family: Helvetica;
	color: #d72a2a;
}

#race_data{
	position:absolute;
	top:170px;
	color:white;
	background-color:#3d4a4a;
	border: 1px solid #8a8282;
	margin:0 auto; 
	width:960px;
}

body{
	position:relative;
	background-color:black;
}
#header{
	position:absolute;
	width:960px;
	margin:0 auto;
	color: gray;
	font-size: xx-large;
}
#search{
	position:absolute;
	z-index: 1000;
	left: 720px;
	top:60px;
	
}
#bodyContent{
	margin:0 auto;
	padding-left:-1px;
	width:960px;
	
}
#viewType{
	position:absolute; 
	z-index: 500;
	color:white;
	top:20px;
	left:25%;
	font-family: "LUCIDA CONSOLE";
	font-weight: bold;
	
	
}
#logo{
	
	background-image: url("../images/logo.jpeg") ;
	width:379px;
	height:126px;
	
}
#searchImage{
	
	background-image: url("../images/search.jpg");
	width:581px;
	height:126px;
}
#divider{
	position:absolute;
	top:125px;
	width:960px;
	height:44px;
}
#category{

	margin:20px auto;
	color: #b1b1b1;
	font-size: x-large;
	
}#track_selector, #type_selector{
	display:inline;
}