#picture_controls table{
    display:none;
}

h2 {
    text-transform:uppercase;
    font-weight:normal;
}

p{
    overflow:auto;
}

p img{
    vertical-align:-5px;
    margin-right:5px;
}

h2.first{
    margin-top:0;
    padding-top:0;
}

hr {
    border:none;
    border-bottom:1px solid #545454;
}

#main-form .left-column p{
    *zoom:1;
    margin:2.25em auto;
    font-weight:100;
}

#main-form .left-column>p:first-child{
    overflow:visible;
}

#main-form label{
    display:inline-block;
    text-transform:uppercase;
    text-align:right;
    white-space:nowrap;
}


input, select, #fake-file-input {
    display:inline-block;
    background: -webkit-gradient(linear, left top, left bottom, from(#bcbcbe), to(#ffffff));  
    background: -moz-linear-gradient(top,  #bcbcbe,  #ffffff);
    padding:5px 7px 5px 3px;
    border-radius:5px;
    font-size:1.12em;
    text-align:right;
    width:47%;
    margin-left:1.12em;
    float:right;
}


#file_selector{
    position:relative;
    top:5px;
}

#main-form select{
    font-size:0.9em;
}

#image-uploader{
    position:absolute;
    left:-9999px;
    top:-9999px
}

#tab_main_picture_area img{
    width:100%;
}

#main-form input#apply-button{
    background:#AECD37;
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

#preview-label {
    text-transform:uppercase;
    text-align:left;
    margin:0.25em 0 !important;
}

.left-column{
    float:left;
    width:61%;
    overflow:auto;
}

.right-column{
    float:right;
    width:32%;
    overflow:auto;
    margin-right:3%;
}

#apply-button{
    float:right;
    width:32%;
    margin-right:3%;
}

#icon-maker{
    float:right;
    width:32%;
    background:#AECD37;
    margin-right:3%;
}

#fake-file-input{
    text-align:right;
    box-sizing:border-box;
    text-transform:uppercase;
    border:1px solid transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#bcbcbe));  
    background: -moz-linear-gradient(top,  #ffffff, #bcbcbe);
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -o-border-radius:3px;
    border-radius:3px;
    margin-left:1em;
    color:#2B2B2B;
    cursor:pointer;
}