@CHARSET "UTF-8";

/*
@import url(../fonts/din/stylesheet.css);
@import url(../fonts/din_bold/stylesheet.css);
*/
@import url(fonts/muli-light/stylesheet.css);
@import url(fonts/muli-regular/stylesheet.css);

body{
	padding:0;
	margin:0;
}

#thumbnail-prototype{
	width:500px;
	height:450px;
	overflow:hidden;
	margin : 0 auto;
	padding:5px 20px 10px 20px;
	color: gray;
	font-family : sans-serif;
}

.navigation {
    height : 100px;
    padding-left : 35%;
}

.navigation .step-button{
	background-color:rgba(0,0,0,0);
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border:4px solid gray;
	color:gray;
	width:30px;
	height:30px;
}

.step-container{
    height: 400px;
}
#upload , #template {
	width:400px;
	height:100px;
	margin: 2px auto 2px auto;
	border: 4px solid gray;
	background:none;
	color : gray;
	font-size : 24pt;
	border-radius : 4px;
	-moz-border-radius : 4px;
	-webkit-border-radius : 4px;
}
#upload:hover, #template:hover{
	border : 3px dotted red;
}

table{
	margin-left : auto;
	margin-right : auto;
	border-collapse:separate;

}

#color-table {
	border-spacing:20px;
}

#layout-table {
	border-spacing:19px;
}

table td{
	border : 1px solid #B1B1B1;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	position:relative;
}

table td.selected, table td.selected:hover {
	border : 5px solid #B1B1B1;
	border-radius : 5px;
    -moz-border-radius : 5px;
    -webkit-border-radius : 5px;
}

table td.selected:after, table td.selected:hover:after {
  content : "\2714";
  color:black;
  position:absolute;
  top:-5px;
  right:-5px;
  z-index:5;
  background-color:#B1B1B1;
  padding:4px 6px;
  border:1px solid #B1B1B1;
  -khtml-border-radius:20px;
  -webkit-border-radius:20px;
  -moz-border-radius:20px;
  border-radius:20px;
}


table td:hover {
	border : 5px solid #B1B1B1;
}

#layout-table p {
	font-size : 9pt;
	padding:0;
	text-align : center;
	font-family : sans-serif;
	color : white;
	margin:0;
}

#layout-table .single-line p {
	font-size:27pt;
} 

#layout-table .single-line-bold p {
	font-size:15pt;
} 

#layout-table .two-lines p {
	font-size:15pt;
} 

#layout-table .three-lines p {
	font-size:14pt;
}

#upload-form p {
	text-align : center;
}
#upload-form input {
	background : none;
	border : 3px solid gray;
	border-radius : 4px;
	-moz-border-radius : 4px;
	-webkit-border-radius : 4px;
	color : gray;
}
#upload-form {
	position : relative;
}
#upload-form input[type=file]{
	z-index: 2;
}
#upload-form #fake-uploader-browse{
	border : 3px solid gray;
	border-radius : 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	color : gray;
	background : none;
}
#choice-buttons-container {
	text-align : center;
}

#previewer {
	margin: 5px auto;
	width:354px;
	height:275px;
	padding:0;
	border:2px solid gray;
	position:relative;
}


#previewer p {
	margin : 0;
	font-size : 28px;
	/*font-family : 'dinregular';*/
	font-family : 'mulilight';
	text-align : center;
	color : white;
	vertical-align:middle;
	position:absolute;
	text-align:center;
	width:100%;
	/*white-space:nowrap;*/
}

#previewer.single-line p{
	line-height:200px;
	
}

#previewer.two-lines p{
	line-height:100px;
}

#previewer.three-line p{
	line-height:75px;
}

#previewer.three-lines>p:first-child {
	top:5px;
}

#previewer.three-lines>p:nth-child(2) {
	top:95px;
}

#previewer.three-lines>p:last-child {
	bottom:5px;
}

#previewer.two-lines>p:first-child {
	top:40px;
}

#previewer.two-lines>p:nth-child(2) {
	top:143px;
}

#previewer.two-lines>p:last-child {
	display:none;
}
#previewer.single-line>p:first-child {
	top:40px;
}

#previewer.single-line>p:nth-child(2), #previewer.single-line>p:last-child {
	display : none;
}

#previewer p.bold {
	/*font-family:"dinbold";*/
	font-family:'muli';
}

#previewer span{
    white-space:nowrap;
}
div#result-image {
    margin : auto;
}

.step-button {
    width:20px;
    height:20px;
    background:gray;
    border-radius:1px;
    -moz-border-radius:1px;
    -webkit-border-radius:1px;
    float:left;
    margin:5px;
    margin-top :20px;
}

.step-button:last-child:after{
    clear : both;
}

#result-image {
	text-align:center;
}

/**
 * Added November 26th 2013
 */

/**
 * CSS buttons
 * Not mine, Matt made them
 */
.rounded
{
	border:2px solid transparent;
	border-radius: 6px;
	-khtml-border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

button
{
	background-color:#AECD37;
	color:#2B2B2B;
	display:inline-block;
	font-size:0.9em;
	padding:10px;
	padding-bottom:5px;
	padding-top:5px;
	text-indent:0;
	text-transform:uppercase;
	width:30%;
}

button.next{
   float:right;
   text-align:right;
}

button.prev{
   float:left;
   text-align:left;
   background-color:#8B8B8B;
}

.button-wrapper{
   margin:0 auto;
   overflow:auto;
   width:92.5%;
}

h2{
    color:white;
    text-transform:uppercase;
    font-size:2.25em;
    font-weight:normal;
}

.window-header p{
    color:white;
    text-transform:uppercase;
    font-size:0.9em;
}


.window-header *{
    margin:0;
}

.step-indicator{
    margin:0 0.075em;
    font-size:2.5em;
    line-height:0;
    position:relative;
    top:0.25em;
    color:#C7C7C7;

}

.step-indicator.current{
    color:#AECD37;
}

.header-separator{
    height:0;
    background:none;
    border:none;
    border-bottom:1px solid #b1b1b1;
}