/* 
 * HTML5 ✰ Boilerplate
 *
 * What follows is the result of much research on cross-browser styling. 
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 * 
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Force vertical scrollbar in non-IE
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 13px; line-height: 1.231; }

body, button, input, select, textarea { font-family: sans-serif; color: #222; }

/* 
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e 
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9 
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */

button, input { line-height: normal; *overflow: visible; }

/*
 * Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7
 */

table button, table input { *overflow: auto; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/* 
 * Remove inner padding and border in FF3/4: h5bp.com/l 
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* 
 * 1. Remove default vertical scrollbar in IE6/7/8/9 
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==|== primary styles =====================================================
   Author: Alvie #lavulog
   ========================================================================== */

body{
    margin : 0;
    padding: 0;
    width : 100%;
    min-width : 990px;
    max-width: 1920px;
    font-family: sans-serif;
}

#modal-bg {
    width:100%;
    height:100%;
    position : absolute;
    top:0;
    left:0;
    background-color: rgba(0,0,0,0.6);
    z-index : 1;
    display : none;
}
#panel-label {
    text-align : center;
    margin-top: 50px;
    color : white;
    font-family : sans-serif;
}
#features-table {
    padding-top : 10px;
    width : 990px;
    margin : 0 auto;
}
#control-panel {
    width : 100%;
    height : 50px;
    position : fixed:
    top : 0;
    background-color : #BADA55;   
}

#edit-entry>a, .home-button2>a {
    line-height : 50px;
    font-size : 14px;
    padding: 0 10px 0 10px;
    background : 0;
    border-right : 1px solid black;
    float:left;
}

#make-entry, .edit-submit, .back-button {
    height:50px;
    background : none;
    border-top : none;
    border-bottom:none;
    border-left : none;
}
.home-button, .back-button {
    padding: 20px 10px 18px 10px;
    border-left : 1px solid black;
    border-right : 1px solid black;
}

#make-entry:hover, #edit-entry:hover, .edit-submit:hover, .back-button:hover, .home-button:hover {
    background : white;
    color : #00A3E6;
}

#make-entry-form {
    position : absolute;
    z-index : 2;
    background : #DEADBB;
    padding : 25px;
    top : 100px;
    left : 15%;
    display : inline;
    width: 800px;
    height: 450px;
    overflow : auto;
    display : none;
}

#make-entry-form p{
    display:  table-row;
}

#make-entry-form label, #make-entry-form input {
    display : table-cell;
}


#entry-table, #entry-table td, #entry-table th {
    border : 1px solid #bada55;
    
}

#entry-table th, #entry-table td {
    padding: 6px 10px;
}

#entry-table th {
    background : #AECD37;
    color : #0077B3;
}
#entry-table th {
    width : 150px;
}


#entry-table {
    border-collapse : collapse;
}

.entry-even, .entry-odd{
    margin: 20px;
    width: 435px;
    padding : 0;
    background-color : #FFFF9D;
    border-radius : 15px;
    -webkit-border-radius : 15px;
    -moz-border-radius : 15px;
    font-family : sans-serif;
}
.entry-even {
    float : left;
}
.entry-odd {
    float : right;
}
.edit_handle {
    font-size : small;
    text-decoration: underline;
    color : #00AAAA;
    float: right;
}
.edit_handle:hover {
    cursor: pointer;
}

.entry-odd h2, .entry-even h2{
    text-align : center;
    margin : 3px 0 0 0;
}

h2[class^=header] {
    width : 100%;
    margin-top : 0;
    border-top-left-radius : 15px;
    border-top-right-radius : 15px;
    padding-top: 3px;   
}

.header-inreview{
    background : red;
    color : white;
}


.header-indesign {
    background : blue;
    color : white;
}

.header-testing {
    background : purple;
    color : white;
}

.header-dev {
    background : yellow;
}
.header-completed {
    background : white;
    box-shadow : inset 0 0 2px black;
    border-bottom : none;
}

.header-ready {
    background : #AECD37;
    color : black;
}

.entry-even ul, .entry-odd ul {
    list-style-type : none;
    padding-left : 20px;
    padding-right : 20px;
}

.entry-even ul li, .entry-odd ul li {
    width : 100%;
    border-bottom : 3px dashed green;
    margin-bottom : 5px;
    padding-bottom : 5px;
} 
.timestamp, .link-feature {
    margin  : 0;
}

.short-goal {
    color : gray;
}


/* Styles for the features pages */
#entry-container {
    width : 990px;
    margin : 0 auto;
    
}

#goal-container, #specs-container {
    border : 1px solid white;
    margin : 20px;
    padding : 10px;
}

#goal-container:hover, #specs-container:hover {
    border: 1px solid pink;
}

.double-click {
    float : right;
    color : pink;
    margin-top : -17px;
    background : white;
    display: none;
}

#goal-container:hover .double-click, #specs-container:hover .double-click{
    display: inline;
}
/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



/* ==|== media queries ======================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
