#saving, #loadingTables, #error_text{
	position:fixed;
    left:50%;
    top: 50%;
	
	background-color: #333;

	
	color: #FFF;
	font-size: 2.75em;
	text-align: center;
	font-family: Verdana, Tahoma, Helvetica, Arial;	
	
	-moz-border-radius: 12px; 
	-webkit-border-radius: 12px; 
	-khtml-border-radius: 12px; 
	border-radius: 12px;
	
	//margin-left: 340px;
	
	border-style:solid;
	border-color:#666;
	border-width: 3px;
	
	z-index: 20;

	display:none;
    
    opacity:0.9;
	filter:alpha(opacity=90);
}

#loadingTables{
	display: block;
	border-width: 4px;
	
	height: 165px;
	width: 400px;
	
	margin-left: 75px;
	margin-top: 50px;
	
	opacity: 0.965;
	filter:alpha(opacity=96);
	
	top:50%;
	left: 50%;
	
	margin-left: -200px;
	margin-top: -82px;
}

#saving{
	width: 300px;
	height: 150px;

    margin-left:-150px;
    margin-right:-75px;

    //display:block;
    
    z-index:100;
}

#savingAllBar, #loadingTablesBar{
	margin-top:10px;
	margin-bottom:30px;
}

#savingText, #loadingTablesText, #error_text{
	margin-top:30px;
}

#error_text{
	margin-bottom:30px;
}

#roomHeight, #roomWidth{
	width: 60;
}

#roomPropertiesTable{
	font-family: Verdana, Tahoma, Helvetica, Arial;
	text-align:center;
	color: #7a7974;
	
	/*border: 1px solid #aaa;
	border-bottom-style: none;
	for tieing into the old backend, was edited */
	border-style:none;
	
	margin-left: 6px;
	margin-bottom: -1px;
	
	border-collapse: collapse;
}

#roomWidthLabel{
	margin-left:35px;
	float:left;
}

#roomHeightLabel{
	float:left;
	padding-left: 20px;
}

#roomTitleLabel{
	padding-left: 10px;
	font-size:12px;
}

#roomLabel{
	padding-left: 10px;
	font-size:12px;
}

#circleTableIcon{
	margin-left:-2px;
}
#squareTableIcon{
	margin-left:-2px;
	margin-top: 70px;
	position: absolute;
	z-index: 200;
}
#slantLeftTableIcon{
	margin-left:-2px;
	margin-top: 220px;
	position: absolute;
	z-index: 200;
}
#slantRightTableIcon{
	margin-left:-2px;
	margin-top: 170px;
	position: absolute;
	z-index: 200;
}
#diamondTableIcon{
	margin-left:-2px;
	margin-top: 120px;
	position: absolute;
	z-index: 200;
}
#elementNameLabel{
	//padding-left: 210px;
	padding-left: 10px;
	color: #7A7974;
	width: 60px;
	font-size:12px;
}
#propertiesTable{
	width: 100%;
}

#roomCount{
	display: none;
}

#saveRoom{
	//margin-left:35px;
	//margin-left:325px;
	margin-left:22px;
	width:100px;
}

#newRoom{
	width: 100px;
}

#selectedRoom{
	width: 99px;
}

#roomTitle{
	width:90px;
	margin-right: 5px;
}

#deleteRoom{
	width:100px;
}

#dragToRotate{
	display: inline;
	margin-left:70px;
}

#dragToRotateText{
	width:200px;
	color: #7A7974;
}

#dragToRotateTD{
	width:75px;
}

#dragToRotateTD{
	visibility: hidden;
}

.notAvailable{
	//text-decoration: underline;
}

#tableToolBoxTD{
	vertical-align: top;
	/*border: solid 1px #AAA;
	border-top-style: none;
	for tieing into the old backend, was edited */
	border-style:none;
	width: 50px;
}


.tableIcon{
	margin-top: 30px;
	cursor: pointer;
}

#circleTableIcon{
	margin-top: 10px;
	position: absolute;
	z-index: 200;
}

#layoutTable{
	border-collapse: collapse;
	margin-left: 6px;
}

#canvas_containerTD{
	border: 1px solid #AAA;
	max-width: 968px;
	
    background-image: url('../../../images/table_layout_stripes.gif');
}

#deleteTable{
	margin-left: 5px;
	margin-top: 290px;
	position: absolute;
	z-index: 200;
	//border: 1px solid red;
}

#inputX{
	margin-left: 12px;
	margin-top: 330px;
	position: absolute;
	z-index: 200;
}

#inputY{
	margin-left: 12px;
	margin-top: 360px;
	position: absolute;
	z-index: 200;
}
.labelX{
	margin-left: 0px;
	margin-top: 330px;
	position: absolute;
	z-index: 201;
}

.labelY{
	margin-left: 0px;
	margin-top: 360px;
	position: absolute;
	z-index: 201;
}

#inputRotation{
	margin-left: 12px;
	margin-top: 385px;
	position: absolute;
	z-index: 200;
}

.labelRotation{
	margin-left: 6px;
	margin-top: 385px;
	position: absolute;
	z-index: 201;
}


#inputHeight{
	margin-left: 12px;
	margin-top: 405px;
	position: absolute;
	z-index: 200;
}

.labelHeight{
	margin-left: -1px;
	margin-top: 405px;
	position: absolute;
	z-index: 201;
}

#inputWidth{
	margin-left: 12px;
	margin-top: 435px;
	position: absolute;
	z-index: 200;
}

.labelWidth{
	margin-left: -3px;
	margin-top: 435px;
	position: absolute;
	z-index: 201;
}


#elementName{
	margin-right: 26px;

}

#elementNameTD{
	border-right: 1px solid #aaa;
	height: 35px;

}

.roomProperties{
	background-color: #d8d2cd;
}

.layoutButton{
	margin-right: 6px; 
}

.tableProperties{
	background-color: #e2dedc;
	width: auto;
}