
.rounded-corners {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.rounded-bottom-corners {
  border-radius-bottomleft: 5px;
  border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
}
.rounded-top-corners {
  border-radius-topleft: 5px;
  border-radius-topright: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
}
.icon_link_16x16 {
  padding-left: 21px;
  background-position: left -1px;
  background-repeat: no-repeat;
  line-height: 16px;
  display: block;
  float: left;
}
html { background-color: #dddddd; }
body {
  background-color: #dddddd;
  padding-bottom: 20px;
}
body #app_content_wrapper { background: none; }
body #app_content {
  width: 900px;
  margin: 0 auto;
}
body #app_content h2.signup_tagline {
  text-align: center;
  font-size: 32px;
  color: #444;
  /*text-shadow: 1px 1px 1px #ffffff;*/
}
body #app_content h3.signup_tagline_2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
  color: #666;
}
body #app_content h2.signup_bottomtag {
  background: #DDD url(../images/secure90x72.gif) center left no-repeat;
  float: left;
  clear: both;
  margin-top: 10px;
  width: 430px;
  height:75px;
  text-indent: 100px;
}
body .leftcol { width: 360px; }
body #app_content div.login_form_container {
  width: 367px;
  margin: 0 auto;
  background-color: white;
  border: 4px solid #cccccc;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 30px 30px 15px 30px;
  margin-bottom: 20px;
  overflow: hidden;
}
body #app_content div.login_form_container h3 {
  font-size: 24px;
  color: #999999;
  font-weight: normal;
  margin-bottom: 20px;
}
body #app_content div.login_form_container h3 .highlighted { color: #89c530; }
body #app_content div.login_form_container ul li {
  margin-bottom:20px;
  float: left;
}
body #app_content div.login_form_container ul li input { width: 350px; }
body #app_content div.login_form_container ul li input.inputsmall { width: 160px; }
body #app_content div.login_form_container ul li.fieldsmall { width: 160px; }
body #app_content div.login_form_container ul li.fieldleft { margin-right: 29px; }
body #app_content div.login_form_container ul li.ccvinput { margin-left: 19px; }
body #app_content div.login_form_container ul li.expdate { width: 170px; }
body #app_content div.login_form_container ul li#address2 { display: none; }
body #signupccinfo ul li { margin-bottom: 16px !important; }
body #myplan h3 { margin: 0 !important; }
body #myplan a {
  color: #999999;
  float: right;
  text-decoration: underline;
}

body #app_content div.billing_info {
  width: 367px;
  margin: 100px 0 0 0;
 
  text-align: center;
  padding: 30px 10px 15px 30px;
  
  overflow: hidden;
}

body #app_content div.billing_info p{
	width: 367px;
	font-size: 11px;
	line-height: 1.4em;
	color: #666;
	margin-left: 10px;
	text-align: center;
}

body #myplan a:hover { text-decoration: none; }
body .left {
  float: left;
  clear: both;
}

body .agree { clear: both; }
body .right { float: right; }
body #app_header {
  background: none;
  height: 85px;
  margin: 20px 0 11px;
}
body #app_header #logo {
  background: url("../../images/logo.png") no-repeat center;
  height: 71px;
  text-indent: -9999px;
}
body input {
  border-color: silver;
  background-color: #f4f4f4;
  margin-top: 0;
}
body input:focus { border-color: #8ec03d; }

body input.invalid_input { border-color: #CD2626; background-color: #EEB4B4; }

body input.app-submit-button {
  text-align: center;
  color: #ffffff;
  background-color: #A1D85A;
  background: -moz-linear-gradient(100% 100% 90deg, #6A9832, #A1D85A);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#A1D85A), to(#6A9832));
  text-shadow: 1px 1px 1px #333333;
  border-radius: 5px;
  -moz-border-radius: 5px;
  clear: both;
  font-size: 24px;
  line-height: 24px;
  padding: 15px;
  font-weight: bold;
  float: right;
}
body input.app-submit-button:hover { text-decoration: underline; }
.login-textfield {
  margin-top: 1.5em;
  margin-bottom: 10px;
}
h2.login {
  font-size: 2em;
  color: #b4b3b4;
}
input, textarea, select {
  padding: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 2px solid silver;
  font-size: 1.1em;
}
.formtastic fieldset.inputs {
  padding: 0;
  margin: 0;
}
.formtastic fieldset.inputs li { margin: 1.5em 0; }
.formtastic fieldset.inputs input { margin: 3px 0 0; }
.billzip { margin-left: 30px; }
.billstate { width: 176px; }