.extension_cell_top
{
	width: 360px;
	border-top: 1px solid #C4CCA3;
	border-left: 1px solid #C4CCA3;
	border-right: 1px solid #C4CCA3;
	padding: 6px;
}

.extension_cell_bottom
{
	width: 360px;
	border-left: 1px solid #C4CCA3;
	border-right: 1px solid #C4CCA3;
	border-bottom: 1px solid #C4CCA3;	
}

.dev_extension_cell_top
{
	width: 360px;
	border-top: 2px solid #588604;
	border-left: 2px solid #588604;
	border-right: 2px solid #588604;
	padding: 6px;
}

.dev_extension_cell_bottom
{
	width: 360px;
	border-left: 2px solid #588604;
	border-right: 2px solid #588604;
	border-bottom: 2px solid #588604;
}

.extension_title
{
	font-size: 19px;
	font-weight: bold;
	color: #444444;
}

.ext_inner_cell1
{
	border-bottom: 2px solid #C4CCA3;
	padding: 5px;
	height: 60px;
}

.ext_inner_cell2
{
	padding: 7px;
	font-size: 13px;
	color: #555555;
}

.ext_inner_cell3
{
	border-top: 2px solid #C4CCA3;
	padding: 2px;
	height: 34px;
}

.ext_enabled
{
	color: #5E663D;
}

.ext_disabled
{
	color: #801C1C;
}

.ed_cell
{
	padding: 0px 0px 4px 0px;
}

.btn_green_left
{
	width: 3px;
	height: 23px;
	background: URL(areas/extensions/images/btn_green_left.png);
	background-repeat:no-repeat;
}

.btn_green_mid
{
	height: 23px;
	background: URL(areas/extensions/images/btn_green_mid.png);
	padding: 0px 5px 0px 5px;
}

.btn_green_right
{
	width: 3px;
	height: 23px;
	background: URL(areas/extensions/images/btn_green_right.png);
	background-repeat:no-repeat;
}

.btn_green_link
{
	color: #444444;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	cursor: pointer;
}

.btn_green_link:hover
{
	color: #D7FF42;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
}

.btn_red_left
{
	width: 3px;
	height: 23px;
	background: URL(areas/extensions/images/btn_red_left.png);
	background-repeat:no-repeat;
}

.btn_red_mid
{
	height: 23px;
	background: URL(areas/extensions/images/btn_red_mid.png);
	padding: 0px 5px 0px 5px;
	color: #EEEEEE;
}

.btn_red_right
{
	width: 3px;
	height: 23px;
	background: URL(areas/extensions/images/btn_red_right.png);
	background-repeat:no-repeat;
}

.btn_red_link
{
	color: #E3E3E3;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	cursor: pointer;
}

.btn_red_link:hover
{
	color: #FFFFFF;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
}

.ext_learn_more, .ext_learn_more:link, .ext_learn_more:visited, .ext_learn_more:active
{
	color: #7A8066;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	cursor: pointer;
}

.ext_learn_more:hover
{
	color: #93997A;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
}

.extension_info_div
{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}

.extension_info_inner_div
{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
}

.extension_info_bg
{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	opacity: 0.75;
	background-color: #FFFFFF;
}

.ei_main_top
{
	border-top: 2px solid #444444;
	border-left: 2px solid #444444;
	border-right: 2px solid #444444;
	opacity: 0.90;
	background-color: #FFFFFF;
	padding:5px 5px 5px 5px;
}

.ei_main_cell
{
	border-left: 2px solid #444444;
	border-right: 2px solid #444444;
	border-bottom: 2px solid #444444;
	opacity: 0.90;
	background-color: #FFFFFF;
	padding:3px 30px 30px 30px;
}

.btn_ei_close
{
	width: 31px;
	height: 31px;
	background-image: URL(areas/extensions/images/ext_close.png);
	cursor: pointer;
}

.btn_ei_close:hover
{
	background-image: URL(areas/extensions/images/ext_close_hover.png);
}

.paypal-button
{
	font-size:18px;
	border:none;
	padding:10px 100px;
	border-radius:4px;
	box-shadow:0 8px #8b8b8b;
	margin:40px
}

.paypal-blue
{
	color:#fff;
	background-color:#009ce5;
}

.square-button
{
	font-size:18px;
	border:none;
	padding:10px 100px;
	border-radius:4px;
	box-shadow:0 8px #8b8b8b;
	margin:40px;
	cursor:pointer
}

.square-blue
{
	color:#fff;
	background-color:#009ce5;
}

.ext_inner_cell2 a, .ext_inner_cell2 a:link, .ext_inner_cell2 a:visited, .ext_inner_cell2 a:active {
	color: #aecd37;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:400;
}
.ext_inner_cell2 a:hover {
	color: #aecd37;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:400;
	text-decoration: underline;
}

/**********************Text input and text area styles********************/
/*All text inputs*/
input[type="text"], input[type="textarea"], input[type="password"], textarea {
	border-radius: 2px;
	-webkit-border-radius: 2px;
	border: 1px solid #bbb;

	font-family: sans-serif, verdana;
	color:#333;
	margin: 0 2px;

	cursor: pointer;
}
/*Hover states for above*/
input[type="text"]:hover, input[type="textarea"]:hover, input[type="password"]:hover, textarea:hover {
	 box-shadow: 0px 1px 3px #999;
}
/*Down states for above*/
input[type="text"]:active, input[type="textarea"]:active, input[type="password"]:active, textarea:active {
	-moz-box-shadow: inset 0 0 10px #999;
	-webkit-box-shadow: inset 0 0 10px #999;
	box-shadow: inset 0 0 10px #999;
}

/*Enabled Buttons*/
.enabledBtn {
	border-radius: 2px;
	-webkit-border-radius: 2px;
	border:0 none !important;

	width:10em;
	height:3em;

	font-family: sans-serif, verdana;
	font-weight: 600;
	font-size: 1em;
	color: #fff;
	text-transform: uppercase;
	text-shadow: 0px 1px 3px #999;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#aecd37+0,99bc08+51,99bc08+54,aecd37+100 */
	background: #aecd37; /* Old browsers */
	background: -moz-linear-gradient(top,  #aecd37 0%, #99bc08 51%, #99bc08 54%, #aecd37 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #aecd37 0%,#99bc08 51%,#99bc08 54%,#aecd37 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #aecd37 0%,#99bc08 51%,#99bc08 54%,#aecd37 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aecd37', endColorstr='#aecd37',GradientType=0 ); /* IE6-9 */

	transition:all 0.3s;
}

/*Hover states for enabled buttons*/
.enabledBtn:hover  {
	cursor: pointer;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#aecd37+0,99bc08+92,99bc08+94,aecd37+100 */
	background: #aecd37; /* Old browsers */
	background: -moz-linear-gradient(top,  #aecd37 0%, #99bc08 92%, #99bc08 94%, #aecd37 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #aecd37 0%,#99bc08 92%,#99bc08 94%,#aecd37 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #aecd37 0%,#99bc08 92%,#99bc08 94%,#aecd37 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aecd37', endColorstr='#aecd37',GradientType=0 ); /* IE6-9 */

	box-shadow: 0px 1px 3px #999;

	text-shadow: 0px 1px 3px #666;
}

/*Disabled Buttons*/
.disabledBtn {
	border-radius: 2px;
	-webkit-border-radius: 2px;
	border:0 none !important;

	width:10em;
	height:3em;

	font-family: sans-serif, verdana;
	font-weight: 600;
	font-size: 1em;
	color: #fff;
	text-transform: uppercase;
	text-shadow: 0px 1px 3px #999;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c6000d+0,fc0019+51,fc0019+54,c6000d+100 */
	background: #c6000d; /* Old browsers */
	background: -moz-linear-gradient(top, #c6000d 0%, #fc0019 51%, #fc0019 54%, #c6000d 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #c6000d 0%,#fc0019 51%,#fc0019 54%,#c6000d 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #c6000d 0%,#fc0019 51%,#fc0019 54%,#c6000d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c6000d', endColorstr='#c6000d',GradientType=0 ); /* IE6-9 */

	transition:all 0.3s;
}

/*Hover states for enabled buttons*/
.disabledBtn:hover  {
	cursor: pointer;
	color: white;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fc0019+0,c6000d+92,c6000d+94,fc0019+100 */
	background: #fc0019; /* Old browsers */
	background: -moz-linear-gradient(top, #fc0019 0%, #c6000d 92%, #c6000d 94%, #fc0019 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #fc0019 0%,#c6000d 92%,#c6000d 94%,#fc0019 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #fc0019 0%,#c6000d 92%,#c6000d 94%,#fc0019 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc0019', endColorstr='#fc0019',GradientType=0 ); /* IE6-9 */

	box-shadow: 0px 1px 3px #999;

	text-shadow: 0px 1px 3px #666;
}


/*Down states for above*/
.enabledBtn:active, .disbaledBtn:active  {
	-moz-box-shadow: inset 0 0 10px #999;
	-webkit-box-shadow: inset 0 0 10px #999;
	box-shadow: inset 0 0 10px #999;
}
/*  level wise for diable button */
.btn-disable {
   	cursor: not-allowed;
   	pointer-events: none;
    	border-radius: 2px;
	-webkit-border-radius: 2px;
	border:0 none !important;
	width:10em;
	height:3em;
	font-family: sans-serif, verdana;
	font-weight: 600;
	font-size: 1em;
	color: #fff;
	text-transform: uppercase;
	text-shadow: 0px 1px 3px #999;
	background: #cccccc; /* Old browsers */
	transition:all 0.3s;
}
