body{
	margin:0;
}
.inner_table_container{
	height: 100px;
	overflow: auto;
}.inner_table_td{
	border-bottom:1px solid black;
	border-collapse:collapse;
}.outer_table_td{
	border-top:1px solid gray;
	border-collapse:collapse;
	padding-top:20px;
	padding-bottom:20px;
	font-family:arial, sans-serif;
}.other_info_table{
	width:100%;
}.header{
	font-family: sans-serif;
	font-weight:100;
	width:100%;
	display:inline-table;
	text-align:left;
	font-size:30pt;
	color:#aecd37;
	background-color:rgb(43,43,43);
	border:1px solid black;
	padding-bottom: 10px;
	padding-top: 10px;
}.logout{
	float:right;
	padding-right:20px;
	font-size:15pt;
}.logout:hover{
	color:white;
	cursor:pointer;
}.my_account{
	
	//float: right;
	border: 1px solid black;
	background-color: rgba(0,0,0,.6);
	z-index: 100;
	position: absolute;
	top: 56px;
	left:0px;
	width:100%;
	height:100%;
}.my_account_table{
	background-color:white;
	border:1px solid black;
	border-radius:5px;
	margin:0 auto;
	width:500px;

	border-collapse:collapse;
	font-family: sans-serif, arial;
	font-weight:100;
}.user_info_holder{
	border-top:1px solid gray;
	text-align:right;
	padding:10px;

}	
.title_holder{
	border-top:1px solid gray;
	text-align:left;
	padding:10px;
}
.my_account_btn{
	float:right;
	padding-right:20px;
	font-size:15pt;
}.my_account_btn:hover{
	color:white;
	cursor:pointer;
}
.body{
	margin:0 auto;
	width:900px;

}
.btn_container{
	width: 900px;
	margin:0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
}.opt_btn{
	display:inline-block;
	padding:8px 0px 8px 0px;
	background-color:rgb(161, 161, 161);
	width:33%;
	color:white;
	font-size:small;
	margin-right:-5px;
	text-align:center;
	font-family:arial, sans-serif;
}.tab_container{
	display:none;
}.opt_btn_left{
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.opt_btn_right{
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.opt_btn_selected{
	color:black;
	background-color:rgb(174, 204, 54);
	width:33%;
}.opt_btn:hover{
	cursor:pointer;
}.header_text{
	color:white;
	font-size:16pt;
	padding-left:40px;
}.logo_img{
	background: url('./images/lavu_logo_sm.png');
	background-repeat: no-repeat;
	height: 35px;
	width: 143px;
	margin: 0 auto;
	position: relative;
	white-space:nowrap;
	float:left;
}.header_stuff_container{
	width:900px;
	margin:0 auto;
}.editor_input{
	width:100%;
	height: 50px;
	font-size: 12pt;
	border-radius: 5px;
	border:1px solid gray;
	text-align: left;
	padding-left: 43px;

	margin-bottom:10px;
}
.submit_ref{
	background-color: black;
	color: rgb(224,224,224);
	width: 100%;
	height: 50px;
	font-size: larger;
	border: 1px solid black;
	margin-top: 10px;
}.submit_ref:hover{
	cursor:pointer;
	background-color:white;
	color:black;
}
.add_more_btn{
	border: 1px solid #aecd37;
	border-radius: 14px;
	float: right;
	white-space: nowrap;
	padding: 2px 7px 1px 7px;
	font-family: arial, sans-serif;
	color: #aecd37;
	font-size: larger;
	z-index: 20;
	position: absolute;
	margin-top: 11px;
	margin-left: 11px;
	text-align: right;
}
.add_more_btn:hover{
	color:white;
	cursor:pointer;
	background-color:#aecd37;
}.remove_field_btn{
	border: 1px solid #aecd37;
	border-radius: 14px;
	float: right;
	white-space: nowrap;
	padding: 2px 9px 1px 9px;
	font-family: arial, sans-serif;
	color: #aecd37;
	font-size: larger;
	z-index: 20;
	position: absolute;
	margin-top: 11px;
	margin-left: 11px;
	text-align: right;
}.remove_field_btn:hover{
	color:white;
	cursor:pointer;
	background-color:#aecd37;
}

.select_overlay{
	display:none;
	height: 200px;
	width: 445px;
	box-shadow: 10px 10px 5px #888888;
	overflow: auto;
	z-index: 100;
	position: absolute;
	background-color: white;
	border: 1px solid black;
}.select_table{
	width:100%;
}.select_td{

}.selected_option{
	color:white;
	background-color:#aecd37;
}
.select_td:hover{
	background-color:#aecd37;
	color:white;
	cursor:pointer;
}.header_class{
	font-weight:100;
	font-family:arial, sans-serif;
	text-align:left;
	text-transform: uppercase;
	padding-bottom:10px;
	color:gray;
}.edit_ref_btn{
	font-weight:600;
	font-family:arial, sans-serif;
	color:black;
	padding-left:10px;
	padding-right:10px;
}
.edit_ref_btn:hover{
	color:#aecd37;
	cursor:pointer;
	
}.overlay_container{
	display:none;
	position:fixed;
	top:0px;
	left:0px;
	background-color:rgba(0,0,0,.6);
	width:100%;
	height:100%;

}.overlay{
	position:relative;
	margin:0 auto;
	width:80%;
	min-width:600px;
	height:600px;
	min-height:600px;
	padding-bottom:20px;
	margin-top:20px;
	overflow-y:auto;
	background-color:white;
	border:1px solid black;
	border-radius:5px;

}.overlay_table{
	padding-top: 25px;
	margin:0 auto;
}.overlay_th{
	font-family:arial, sans-serif;
	font-size:larger;
	padding-bottom:20px;
	font-weight:100;
	color:gray;
}.close_my_account{
	float: right;
	border: 1px solid #aecd37;
	border-radius: 14px;

	white-space: nowrap;
	padding: 2px 7px 1px 6px;
	font-family: arial, sans-serif;
	color: #aecd37;
	font-size: larger;
	z-index: 20;
	text-align: right;
	margin-right: 10px;
	margin-top: -10px;
}.close_my_account:hover{
	color:#aecd37;
	cursor:pointer;
	color:white;
	background-color:#aecd37;
}

.close_overlay{
	float: right;
	border: 1px solid #aecd37;
	border-radius: 14px;
	/* float: right; */
	white-space: nowrap;
	padding: 2px 7px 1px 6px;
	font-family: arial, sans-serif;
	color: #aecd37;
	font-size: larger;
	z-index: 20;
	position: absolute;

	text-align: right;
	right: 25px;
	top: 25px;
}.close_overlay:hover{
	color:#aecd37;
	cursor:pointer;
	color:white;
	background-color:#aecd37;
}