body{
	
	background: url("./images/background.png");
	
}.outer_container{
	position:fixed;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	background-color:rgba(0,0,0,.8);
}

.referrer_sign_in{
	margin:0 auto;
	padding-top:20px;
	padding-bottom:20px;
	width: 600px;
	height: 405px;
	background-color: rgb(224,224,224);
	border: 1px solid white;
	border-radius: 5px;
}.info_container{
	padding: 0px 10px 30px 10px;
	font-family: arial, sans-serif;
	color:gray;
	text-align: center;
}
.info_container_title{
	font-size:26px;
	margin-bottom:20px;
}
.info_container_subtitle{
	font-size:13px;
	color:black;
	margin-bottom:10px;
}
.info_container_shortlist{
	width:320px;
	text-align:left;
	margin:auto;
}
.logo{
	float:left;
	background: url("./images/logo.png");
	background-size:235px 217px;
	background-repeat:no-repeat;
	width:235px;
	height:217px;
}
.sign_in_table, .sign_up_table{
	margin: 0 auto;
	position: relative;
	font-family:sans-serif;
	width:330px;
}
.lavu_referrer_signup_btn{
	text-align:center;
	font-size:21pt;
	padding-top:10px;
	margin-top:10px;
	font-family:arial, sans-serif;
	color:rgb(224,224,224);
}.lavu_referrer_signup_btn:hover{
	color:#aecd37;
	cursor:pointer;
}
.referrer_sign_up_container{
	display:none;
	padding-top:20px;
	padding-bottom:20px;
	margin: 0 auto;
padding-top: 20px;
padding-bottom: 20px;
width: 600px;
height: 500px;
background-color: rgb(224,224,224);
border: 1px solid white;
border-radius: 5px;
}.error_div{
	font-size:smaller;
	color:red;
	white-space:nowrap;
}
 .center-contain{
    display:block;
    height: 300px;
    white-space: nowrap; /* prevents line-breaking */
    overflow: hidden; /* hides overflow */
}
.center-contain:after{
    content: '';
    display: inline-block;
    height: inherit;
    vertical-align: middle;
    width:0;
}
.center-contain > .center-this{
    display: inline-block;
    width:100%;
    white-space: normal; /* enables line-breaking */
}
.login_input{
	width:100%;
	height: 50px;
	font-size: 12pt;
	border-radius: 5px;
	border:1px solid gray;
	text-align:center;
	margin-bottom:10px;
}.pass_input{
	float:left;
	width:50%;
	height: 50px;
	font-size: 12pt;
	border-radius: 5px;
	border:1px solid gray;
	text-align:center;
}
.login_btn{
	background-color: black;
	color:rgb(224,224,224);
	width:100%;
	height:50px;
	font-size:larger;
	border:1px solid black;
}.login_btn:hover{
	background-color: rgb(224,224,224);
	color:black;
	cursor:pointer;
}
.forgot_pass{
	 color:black;
	 font-size:smaller;
	 float:right;
	 padding-bottom:10px;
}.forgot_pass:hover{
	color:gray;
	cursor:pointer;
}.forgot_pass_overlay_container{
	position:fixed;
	background-color:rgba(0,0,0,.6);
	top:0px; 
	left:0px;
	width:100%;
	height:100%;
	display:none;

}.forgot_pass_action{
	width: 100%;
height: 50px;
font-size: 12pt;
border-radius: 5px;
border: 1px solid gray;
text-align: center;
margin-bottom: 10px;
}
.forgot_pass_overlay{
	width: 400px;
	height:200px;
	background-color:rgb(225,225,225);
	margin:0 auto;
	margin-top:50px;
	border:1px solid black;
}
.forgot_pass_table{
	margin:0 auto;
	margin-top:40px;
	width:90%;
	font-family: arial, sans-serif;
}.forgot_pass_res{
	display:none;
	width:100px;
	margin:0 auto;
	text-align:center;
}
.close_overlay_btn{
	float: right;
	border: 1px solid #aecd37;
	border-radius: 14px;
	white-space: nowrap;
	padding: 2px 7px 1px 6px;
	font-family: arial, sans-serif;
	color: #aecd37;
	font-size: larger;
	z-index: 20;
	text-align: right;
	margin-right: 10px;
	margin-top: 6px;
}.close_overlay_btn:hover{
	color:#aecd37;
	cursor:pointer;
	color:white;
	background-color:#aecd37;
}.main_container{
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 20px;
}.sign_in_form{
	margin-top:9px;
}.signup_btn_container{
	margin:0 auto;
	width:480px;
}.crayon{
	background: url('./images/sign_up_icon.png');
	background-size: 25px 30px;
	height: 39px;
	width: 35px;
	margin-top: 10px;
	background-repeat: no-repeat;
	float: left;
}.lavu_logo{
	background: url('./images/lavu_logo_sm.png');
	background-repeat: no-repeat;
	height: 35px;
	width: 143px;
	margin: 0 auto;
	position: relative;
	top: 16px;
}.sign_up_btn{
	background-color: black;
	color:rgb(224,224,224);
	width:100%;
	height:50px;
	font-size:larger;
	border:1px solid black;
	margin-top:10px;
}.lavu_referrer_signup_btn{
	color:gray;
}.logo_img{
	background: url('./images/lavu_logo_sm.png');
	background-repeat: no-repeat;
	height: 35px;
	width: 143px;
	margin: 0 auto;
	position: relative;
	top: 16px;
}
.submit_forgot_pass_btn{

	background-color: black;
	color:rgb(224,224,224);
	width:100%;
	height:50px;
	font-size:larger;
	border:1px solid black;
}.submit_forgot_pass_btn:hover{
	background-color: rgb(224,224,224);
	color:black;
	cursor:pointer;
}
