/*Dark UI styles*/
@font-face {
  font-family: 'Nanami-Book';
  src: url('fonts/Nanami-Book.otf');
}
@font-face {
  font-family: 'Nanami-Medium';
  src: url('fonts/Nanami-Medium.otf');
}
@font-face {
  font-family:'Nanami-Light';
  src: url('fonts/Nanami-Light.otf');  
}
@font-face {
  font-family: 'Nanami-ExtraLight';
  src: url('fonts/Nanami-ExtraLight.otf');
}
@font-face {
  font-family: 'Nanami-Thin';
  src: url('fonts/Nanami-Thin.otf');
}


body, table {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;

  font-family: 'Nanami-Book', sans-serif;
  color: #fbfbfb;
  color: #fbfbfb;
  font-weight:300;
  margin:0px;
}


/*********CUSTOMER INFO STYLES************/
/*Pop up box*/
#popUp {
  border-radius:12px;

  background-color: rgba(0,0,0,.9);

  -webkit-box-shadow: 0px 5px 13px -3px rgba(102,102,102,.8);
  -moz-box-shadow: 0px 5px 13px -3px rgba(102,102,102,.8);
  box-shadow: 0px 5px 13px -3px rgba(102,102,102,.8);
}

/*Navigation tab unselected*/
.navtab {
  background-color: #3b3b3b;
  color: #fbfbfb;
  border-radius: 5px;
  border: 1pt solid #424242;

  -webkit-box-shadow: 0px 5px 7px -3px rgba(102,102,102,.2);
  -moz-box-shadow: 0px 5px 7px -3px rgba(102,102,102,.2);
  box-shadow: 0px 5px 7px -3px rgba(102,102,102,.2);

  padding:8px;
  padding-left:24px;
  padding-right:24px;
  
  font-family: 'Nanami-Light', sans-serif;
}

/*Navigation tab selected*/
.navtab_selected {
  background-color: #696969;
  color: #fbfbfb;
  border-radius: 5px;
  border: 1pt solid #727272;

  -webkit-box-shadow: 0px 5px 7px -3px rgba(102,102,102,.2);
  -moz-box-shadow: 0px 5px 7px -3px rgba(102,102,102,.2);
  box-shadow: 0px 5px 7px -3px rgba(102,102,102,.2);

  padding:8px;
  padding-left:24px;
  padding-right:24px;
}

/*Customer name input*/
#customername {
  color: #666;
  font-family: 'Nanami-ExtraLight', sans-serif;
  line-height: 33px;
}

/*Continue Button*/
.continueBtn {
  width:60px;
  height: 30px;

  position: absolute;
  right:30px;
  bottom: 40px;
  background-color: #3b3b3b;

  border-radius:5px;
  padding:12px;
  text-align:center;
  vertical-align:middle;

  font-size:20px;
  font-weight: 400;
  color: #fbfbfb;
  line-height: 30px;
  font-family: 'Nanami-Medium', sans-serif;

  margin-left: 20px;

  -webkit-box-shadow: 0px 5px 13px -3px rgba(102,102,102,.5);
  -moz-box-shadow: 0px 5px 13px -3px rgba(102,102,102,.5);
  box-shadow: 0px 5px 13px -3px rgba(102,102,102,.5);

  border: 1pt solid #424242;
}

/*Keyboard buttons*/
td [id*="key_"].keyboardBtns {
  width: 60px;
  height: 60px;

  color: #fbfbfb;
  font-size: 20px;
  font-family: 'Nanami-ExtraLight', sans-serif;

  background-color: #696969;
  border: 1pt solid #727272;
  border-radius: 5px;

  -webkit-box-shadow: 0px 5px 13px -3px rgba(102,102,102,.8);
  -moz-box-shadow: 0px 5px 13px -3px rgba(102,102,102,.8);
  box-shadow: 0px 5px 13px -3px rgba(102,102,102,.8);

  opacity: .7;
}

/*Vehicle button*/
.vbutton {
  width:105px;
  height:80px;
  text-align:center;
  vertical-align:middle;
  margin: 2px;

  font-size:16px;
  border-radius: 5px;
  border: 1px solid #d2d2d2;
  font-family: 'Nanami-Book', sans-serif;

  -webkit-box-shadow: 0px 5px 13px -3px rgba(102,102,102,.2);
  -moz-box-shadow: 0px 5px 13px -3px rgba(102,102,102,.2);
  box-shadow: 0px 5px 13px -3px rgba(102,102,102,.2);
}

/*Vehicle image*/
.vimg {
  max-width:70px;
}


/************MODIFIER STYLES************/

/*Modal overlay BG*/
#overlay {
  background-color: #212121;
  opacity: .7;
}

/*********TICKET STYLES************/
/*Ticket BG*/
#ticket {
  background-color: #fafafa;

  border-right: 1pt solid #d2d2d2;

  -webkit-box-shadow: 3px 0px 5px 0px rgba(0,0,0,0.29);
  -moz-box-shadow: 3px 0px 5px 0px rgba(0,0,0,0.29);
  box-shadow: 3px 0px 5px 0px rgba(0,0,0,0.29);

  z-index: 100;
}

/*Close button*/
#close_window_div_id {
  cursor:pointer;
  position:fixed;
  top:10px;
  left:10px;
  width:40px;
  height:40px;
  background-color: #fafafa;

  border-radius:5px;
  -webkit-box-shadow: 0px 2px 7px -3px rgba(102,102,102,.8);
  -moz-box-shadow: 0px 2px 7px -3px rgba(102,102,102,.8);
  box-shadow: 0px 2px 7px -3px rgba(102,102,102,.8);

  border: 1pt solid #d2d2d2;
  font-size:40px;
  color: #212121;
}

/*Notes text area*/
#notes{
  width:270;
  height:85px;

  background-color: #f2f2f2;
  opacity: .5;

  border-radius: 5px;

  border: 1px solid #d2d2d2;
  font-size:16px;
  font-family: 'Nanami-Light', sans-serif;
}

#notes::-webkit-input-placeholder{
  color: #b2b2b2;
  font-family: 'Nanami-Light', sans-serif;
}

/*Modifier name on ticket*/
.item_summary {
  font-size:20px;
  line-height:30px;
}

/*Subtotal text*/
.dollars {
  display: inline-block;
}

/*Cost of modifier in ticket*/
#subtotal {
  padding-top:8px;
  font-size:32px;

  border-top: 1px solid #d2d2d2;
  display:none;
  text-align:right; width:90%;
}

/*Border below modifiers*/
#subtotal:after {
  border-bottom: 1px solid #d2d2d2;
}

/*Add button*/
.sendbutton {
  width:200px;
  height: 25px;
  margin-left:0px;
  background-color: #fafafa;

  border-radius:5px;
  padding:12px;
  text-align:center;
  vertical-align:middle;
  font-size:18px;
  color: #666;
  line-height: 18px;

  margin-left: 20px;

  -webkit-box-shadow: 0px 5px 13px -3px rgba(102,102,102,.8);
  -moz-box-shadow: 0px 5px 13px -3px rgba(102,102,102,.8);
  box-shadow: 0px 5px 13px -3px rgba(102,102,102,.8);

  border: 1pt solid #d2d2d2;
}

/*Plus sign for Add button*/
.sendbutton:before {
  content: "+  ";
  font-size: 30px;
}




/**********ACTION AREA STYLES*******/
/*Category Tab Container*/
#tabContain {
  width: 707px;
  height: 100%;
}

/*Dark Divider line between Categories and Modifiers*/
#modBar {
  width:707px;
  /*position: relative;
  right:1px;

  margin-top: 9px;*/
  display: inline-block;

  border-top: 1px solid #666;
}

/*Light portion of the divider bar*/
hr {
  border: 1px solid #fff;
}

/*Unselected Category Tab*/
.tab_regular {
  text-align:center;

  padding:10px 0 0 0;

  width:160px;
  height: 30px;

  display: inline-block;

  margin: 5px 6px 5px 6px;

  border-radius: 5px;
  background-color: #3b3b3b;

  -webkit-box-shadow: 0px 5px 7px -3px rgba(102,102,102,.8);
  -moz-box-shadow: 0px 5px 7px -3px rgba(102,102,102,.8);
  box-shadow: 0px 5px 7px -3px rgba(102,102,102,.8);

  border: 1pt solid #424242;

  border-top: none;
}

/*Selected Category Tab*/
.tab_selected {
  text-align:center;

  padding:10px 0 0 0;

  width:160px;
  height: 30px;

  display: inline-block;

  margin: 5px 6px 5px 6px;

  border-radius: 5px;
  background-color: #696969;

  -webkit-box-shadow: 0px 5px 13px -3px rgba(102,102,102,.8);
  -moz-box-shadow: 0px 5px 13px -3px rgba(102,102,102,.8);
  box-shadow: 0px 5px 13px -3px rgba(102,102,102,.8);

  border: 1pt solid #727272;

  border-top: none;
}

/*Container for Modifiers*/
.containMod {
    margin: 0 5px 5px 5px;
}

/*Modifier top button, both selected and unselected*/
.item_regular, .item_selected {
  width:160px;
  height:80px;

  text-align:center;
  vertical-align:top;

  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border: 1pt solid #424242;
  border-bottom: 1px solid #666;

  background-color: #3b3b3b;

  -webkit-box-shadow: 0px 5px 7px -3px rgba(102,102,102,.8);
  -moz-box-shadow: 0px 5px 7px -3px rgba(102,102,102,.8);
  box-shadow: 0px 5px 7px -3px rgba(102,102,102,.8);

  line-height: 15px;
}

/*Unused Selected Modifier button*/
.item_selected {
  /*width: 30px;
  height: 30px;

  position: absolute;
  z-index: 2000;

  font-size: 45pt;
  font-weight: bold;
  text-align: center;
  line-height: 100px;

  border-radius: 47px;
  background-color: #fafafa;

  -webkit-box-shadow: 0px 5px 13px -3px rgba(102,102,102,.8);
  -moz-box-shadow: 0px 5px 13px -3px rgba(102,102,102,.8);
  box-shadow: 0px 5px 13px -3px rgba(102,102,102,.8);

  border: 1pt solid #d2d2d2;*/
}

/*Unselected bottom of modifier button*/
.item_regular_bottom, .item_selected_bottom {
  height:40px;

  margin: 0px;
  padding: 0px;

  border: 1pt solid #181818;
  border-top: 1px solid #666;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;

  background-color: #212121;

  text-align:center;
  vertical-align:middle;

  -webkit-box-shadow: 0px 5px 7px -3px rgba(102,102,102,.8);
  -moz-box-shadow: 0px 5px 7px -3px rgba(102,102,102,.8);
  box-shadow: 0px 5px 7px -3px rgba(102,102,102,.8);
}


/*Unused selected bottom*/
.item_selected_bottom {
  /*height:40px;
  border:solid 1px #917243;
  border-top:none;
  background-color:#ccbbaa;
  border-bottom-left-radius:12px;
  border-bottom-right-radius:12px;
  text-align:center;
  vertical-align:middle;
  color:#888888;

  height:40px;

  margin: 0px;
  padding: 0px;

  border: 1pt solid #d2d2d2;
  border-top: 1px solid #fff;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;

  background-color:#e0e0e0;

  text-align:center;
  vertical-align:middle;

  -webkit-box-shadow: 0px 5px 7px -3px rgba(102,102,102,.8);
  -moz-box-shadow: 0px 5px 7px -3px rgba(102,102,102,.8);
  box-shadow: 0px 5px 7px -3px rgba(102,102,102,.8);*/
}


/*Container for positioning Quantity circle*/
div[id*='item_bottom_'] {
  position: relative;
}

/*Styling for both Add and Subtract buttons*/
.qtybutton {
  width:70px;
  height:40px;

  text-align:center;
  vertical-align:middle;
  font-size:25px;
  font-weight: 400;

  padding: 0px;
  margin: 0px;
  display: inline-block;
}

/*Plus button*/
#plus{
border-left: 1pt solid #666;

line-height: 35px;
}

/*Subtract button*/
#sub {
font-size: 35px;
font-weight: 200;
line-height: 35px;
}

/*Hides the old quantity*/
.qtycell {
  display:none;
  width:0px;
  height: 0px;
}

/*Quantity circle*/
.qtycell_selected {
  width: 30px;
  height: 30px;

  position: absolute;
  bottom:20px;
  left:50%;
  margin-left: -15px;
  z-index: 2000;


  font-size: 15pt;
  font-weight: bold;
  text-align: center;
  line-height: 32px;
  color: #fbfbfb;


  border-radius: 47px;
  background-color: #212121;

  -webkit-box-shadow: 0px 5px 13px -3px rgba(102,102,102,.8);
  -moz-box-shadow: 0px 5px 13px -3px rgba(102,102,102,.8);
  box-shadow: 0px 5px 13px -3px rgba(102,102,102,.8);

  border: 1pt solid #666;
}
