<html>
<head>
	<style>
		#olo{ width: 100%;margin: 0px;letter-spacing: 0.5px;line-height: 18px;}
  #olo .olo-container{     
      font-family: sans-serif;
  }
  #olo .olo-reset-password-container{ 
      min-height: 400px;
      max-width: 600px;
      font-family: sans-serif;
  }
  #olo .olo-header
  {
      background: #f7f7f7;
   min-height: 50px;
   overflow: hidden;
   text-align: center;
   padding-bottom: 10px;
   padding-top: 10px;
   font-family: sans-serif;
  }
  #olo .olo-footer{
   min-height: 15px;
      overflow: hidden;
      text-align: left;
      padding: 8px;
      font-family: sans-serif;
  }
  #olo .olo-footer a
  {
      font-family: sans-serif;
      color: black;
      font-size: 11px;
  }
  #olo .reset-link-button{
      background: #08a708;
      color: white;
      border-color: #08a708;
      padding: 10px;
      font-size: 16px;
      font-family: sans-serif;
      width: 100%;
      margin: 30px 0px;
      display: block;
      text-align: center;
      max-width: 200px;
      text-decoration: none;
  }
  #olo .reset-link{
   font-size: 12px;
      color: #2196F3;
      text-decoration: underline;
      font-family: sans-serif;
  }
  #olo p{
   font-size: 14px;
      font-family: sans-serif;
  }
#olo{ width: 100%;margin: 0px;letter-spacing: 0.5px;line-height: 18px;}
  #olo .olo-container{     
      font-family: sans-serif;
  }
  #olo .olo-reset-password-container{ 
      max-width: 600px;
      font-family: sans-serif;
  }
  #olo .olo-header
  {
      background: #f7f7f7;
   min-height: 50px;
   overflow: hidden;
   text-align: center;
   padding-bottom: 10px;
   padding-top: 10px;
   font-family: sans-serif;
  }
  #olo .olo-footer{
   min-height: 15px;
      overflow: hidden;
      text-align: center;
      padding: 8px;
      font-family: sans-serif;
  }
  #olo .olo-footer a
  {
      font-family: sans-serif;
      color: black;
      font-size: 11px;
  }
  #olo .reset-link-button{
      background: #08a708;
      color: white;
      border-color: #08a708;
      padding: 10px;
      font-size: 16px;
      font-family: sans-serif;
      width: 100%;
      margin: 30px 0px;
      display: block;
      text-align: center;
      max-width: 200px;
      text-decoration: none;
  }
  #olo .reset-link{
   font-size: 12px;
      color: #2196F3;
      text-decoration: underline;
      font-family: sans-serif;
  }
  #olo p{
   font-size: 14px;
      font-family: sans-serif;
  }
	</style>
</head>
<body id="olo">
	<div class="olo-container">
		<div class="olo-reset-password-container">
			<div class="olo-body">
				<p>Hi {{username}},</p>
				<p>You have requested for password reset. Please click here to choose a new one</p>
				<a href="{{reset_link}}" class="reset-link-button"> Click here to reset </a>
				<p>or copy the link <br/> <a href="{{reset_link}}" class="reset-link">{{reset_link}}</a>
				<br/><br/>
				If you didn't mean to reset your password, then you can just ignore this email; your password will not change.
			</div>
			<div class="olo-footer">
				<p>
                        <img src="https://admin.poslavu.com/emails/lavutogo/power-by-lavu-olo.png" width="90" height="30" />  
                </p>
			</div>
		</div>
	</div>
</body>
</html>