.inner_table_container{
	height: 100px;
	overflow: auto;
}.inner_table_td{
	border-bottom:1px solid black;
	border-collapse:collapse;
}.outer_table_td{
	border:1px solid black;
	border-collapse:collapse;
}.other_info_table{
	width:100%;
}.header{
	font-family: sans-serif;
	font-weight:100;
	width:100%;
	display:inline-table;
	text-align:left;
	font-size:30pt;
	color:#aecd37;
	background-color:gray;
	border:1px solid black;
	padding:10px;
}.logout{
	float:right;
	padding-right:20px;
	font-size:15pt;
}.logout:hover{
	color:white;
	cursor:pointer;
}.my_account{
	display:none;

	border:1px solid black;
	background-color:white;
}.my_account_btn{
	/*float:right;
	padding-right:20px;*/
	font-size:15pt;
}.my_account_btn:hover{
	color:white;
	cursor:pointer;
}
.body{
	margin:0 auto;
	width:100%;
	border: 1px solid black;
}
.btn_container{
	width: 406px;
	margin:0 auto;
}.opt_btn{
	display:inline-block;
	padding:10px;
	background-color:#aecd37;
	color:white;
	width:100%;
	border:2px solid white;
	font-size:60pt;
	font-family:sans-serif;
}.tab_container{
	display:none;
}.opt_btn_selected{
	border-top:1px solid black;
	border-right:1px solid black;
	border-left:1px solid black;
	border-bottom:2px solid white;
	
}.opt_btn:hover{
	cursor:pointer;
}.long_inputs{
	width:100%;
	height:100%;
	text-align:center;
	font-size:50pt;
	padding-bottom:20px;
}