body{
	font-style:sans-serif;
	background-color:#878787;
}
.referrer_sign_in{
	margin:0 auto;
	padding-top:20px;
	padding-bottom:20px;
}
.sign_in_table, .sign_up_table{
	margin: 0 auto;
	position: relative;
	width:100%;
}
.lavu_referrer_signup_btn{

}.lavu_referrer_signup_btn:hover{
	color:white;
	cursor:pointer;
}
.referrer_sign_up_container{
	display:none;
	padding-top:20px;
	padding-bottom:20px;
}.error_div{
	font-size:smaller;
	color:red;
	white-space:nowrap;
}input{
	width:100%;
	height:100%;
	text-align:center;
	font-size:50pt;
}
.input_container{
	height:150px;
	width:100%;
}.lavu_referrer_signup_btn{
	color:white;
	font-size:50pt;
	font-family:sans-serif;
	background-color:white;
	border:1px solid black;
	font-weight:100;
	background-color:#aecd37;
}