body{
	color:white;
	/*font-family:sans-serif;*/
	font-family:arial;
	font-weight:100;
	/*background-color:#12111b;*/
	

}

#loading{
	display:  none;
	position: fixed;
	width:    100%;
	height:   100%;
	background-color:rgba(0,0,0,.5);
	left:0;
	top:0;
	z-index: 110;
}
#main_container{

	margin:0 auto;
	height: 650px;

}
.content_container{
	
	margin-top: -10px;
	width: 915px;
	margin: 0 auto;
}
.table_container{
	padding-left: 40px;
	padding-top: 20px;
}
.row_container{
	
}
.header_container{
	margin-left:80px;
}
.header_container_container{
	
	width: 915px;
	margin: 0 auto;
}
.time_class{
	text-align: left;
	width: 70px;
	display: inline-table;
	padding-right: 10px;
	
	height:40px;
}
.time_positioner{
	position: relative;
	top: 10px;
}
.track_cell{
	border:1px solid black;
	width:200px;
	height:40px;
	display:inline-table;
	background-color:rgba(255,255,255,.7);
	
	color:rgba(255,255,255,.7);
	font-weight:400;
	position:relative;
}
.track_cell_with_contents{
	border:1px solid black;
	width:200px;
	height:40px;
	display:inline-table;
	background-color:rgba(255,255,255,.7);
	color:#a41625;
	/*color:rgba(255,255,255,1);*/
	font-weight:400;
	position:relative;
}
 .room_cell{
	border:1px solid black;
	width:150px;
	height:40px;
	display:inline-table;
	background-color:rgba(218,230,235,.70);
	
	color:rgba(218,230,235,.70);
 }
 .date{
	 width:105px;
	 height: 41px;
	 display:inline-block;
 }
 .table_row{
	width: 900px;
	height:40px;
	

 }
 .date_container{
	 padding:0px 2px 5px 2px;
	 /*background-color:rgb(132,132,132);*/
	 background:url(./images/btn_x1.png);
	 height: 36px;
	 width: 111px;
	 color:#12111b;
	 text-align:center;
	 /*border:1px solid gray;
	// border-radius: 5px;*/
	 font-size:larger;
	 cursor:pointer;
	 font-weight:600;
 }
 .date_container_inner{
	 position: relative;
	 top: 7px;
	 left: 10px;
	 font-family: arial;
	 font-weight:bold;
	 color:#10719e;
 }
 .date_btn_thingy{
	 position:relative;
	 background:url(./images/i_cal.png);
	 width: 23px;
	 height: 15px;
	 top: -30px;
	 left: 6px;
 }
 .track_header{
	 width:200px;
	 display:inline-block;
	 font-weight:bold;
	 color:white;
	 font-size:21px;
	 text-align:center;
	 padding-bottom:10px;
	 margin-right:3px;
 }
 .room_header{
 	width:150px;
 	display:inline-block;
 	font-size:14px;
 	font-weight:bold;
	color:white;
 	padding-bottom:13px;
 	text-align:center;
 	margin-right:3px;
 }
.race_type{
	position: relative;
	top: 10px;
	display: inline-block;
	font-weight:400;
}.room_type{
	position: relative;
	top: 10px;
	display: inline-block;
	font-weight:400;
	left:5px;
}
.num_racers_inactive{
	display: inline-table;
	position: absolute;
	top: 2px;
	left: 50px;
	text-align: center;
	background: url(./images/i_kart_bg.png) no-repeat no-repeat;
	color: white;
	width: 50px;
	height: 38px;
	font-size: small;
}.num_racers_active{
	display: inline-table;
	position: absolute;
	top: 2px;
	left: 50px;
	text-align: center;
	background: url(./images/i_kart_bg.png) no-repeat no-repeat;
	color: white;
	width: 50px;
	height: 38px;
font-size: small;
}.containing_cell{
	height: 35px;
	width: 40px;
	display: inline-block;
	position: relative;
	top: 2.5px;
	left: 5px;
	color: white;
	text-align:center;
}
.header_selected{
	background-color:#dadada;
	color:black;
}
.time_selected{
	background-color:#dadada;
	color:black;
}
#overlay{
	display:none;
	width: 820px;
	height: 551px;
	margin: 0 auto;
	background-color: #dadada;
	position: fixed;
	top:0px;
	left: 96px;
	z-index: 100;
}
.event_button_container{
	padding-top:10px;
	width: 475px;

	overflow-y: auto;
	margin:0 auto;
}
#close_overlay{
	position: absolute;
	right: 5px;
	top: 5px;
	background: url("./images/close_icon.png") no-repeat;
	background-size: 40px 40px;
	width: 40px;
	height: 40px;
	cursor: pointer;
}
.event_button, .sequence_button{
	padding: 5px 10px 5px 10px;
	border:1px solid black;
	float:left;
	margin-right:3px;
	margin-bottom:3px;
	margin-left:5px;
	margin-top:5px;
	width:200px;
	color: black;
	background-color:#9e9e9e;
}
.remove_racer_div, .empty_div, .num_credits_remaining, .check_div{
	width:  37px;
	height: 30px;
	background-color:#9e9e9e;
	border: 1px solid black;
	color:  black;
	float:  left;
	font-size:smaller;
	margin:5px 2px 2px 2px;
}
.number_positioner{
	margin-top: 7px;
	margin-left: -10px;
	font-size: large;
	color:black;
}
.b_day_div{
	width:  100px;
        height: 30px;
	background-color:#9e9e9e;
        border: 1px solid black;
        color:  black;
        float:  left;
        margin:5px 2px 2px 2px;
}

.racer_name_div{
	width:  200px;
	height: 30px;
	background-color:#9e9e9e;
	border: 1px solid black;
	color:  black;
	float:  left;		
	margin:5px 2px 2px 2px;
}.search_bar_container{
	width: 295px;

	padding-top: 15px;

	margin: 0 auto;
}
.results_container{
	width: 400px;
	height: 400px;
	margin:0 auto;
	overflow-y: auto;
}
.racer_row_container{
	width:100%;
	height: 35px;

}
.check_class{
	-ms-transform: scale(1.5); /* IE */
	-moz-transform: scale(1.5); /* FF */
	-webkit-transform: scale(1.5); /* Safari and Chrome */
	-o-transform: scale(1.5); /* Opera */
	margin-left: 9px;
	margin-top: 7px;
}
.add_racers_btn, .remove_racers_btn{
	width: 50px;
	height:50px;
	border:1px solid black;
	background-color:#9e9e9e;
	margin-top:10px;
	margin-bottom:10px;
}
.add_remove_container{
	height: 130px;
	width: 60px;
	float: left;
	margin-top: 63px;
	margin-left: 175px;
}
.search_box{
	width:200px;
	height:30px;
}
.do_search{
	border:1px solid black;
	background-color:#9e9e9e;
	font-size:15px;
	/*margin-left:5px;*/
	float:right;

}
.cell_selected{
	background-color:#12111b;
}
.room_event_start_end_inner{
	position: relative;
	width:  96%;
	height: 35px;
	top: 1px;
	margin: 0 auto;
	border-top:   1px solid red;
	border-right: 1px solid red;
	border-left:  1px solid red;
	border-bottom:1px solid red;
	
	border-top-left-radius: 20px;
	border-top-right-radius:20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius:20px;
	border-collapse: collapse;
	background-color:white;
	color:black;
	text-align:center;
}
.room_event_start_inner{
	position: relative;
	width:  96%;
	height: 35px;
	top: 3px;
	margin: 0 auto;
	border-top:   1px solid red;
	border-right: 1px solid red;
	border-left:  1px solid red;
	border-top-left-radius: 20px;
	border-top-right-radius:20px;
	border-collapse: collapse;
	background-color:white;
	color:black;
	text-align:center;
	
}
.room_event_end_inner{
	position: relative;
	width: 96%;
	height: 38px;
	top: -4px;
	margin: 0 auto;
	border-collapse: collapse;
	border-bottom: 1px solid red;
	border-right: 1px solid red;
	border-left: 1px solid red;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	background-color: white;

}
.room_event_mid_inner{
	position: relative;
	width: 96%;
	height: 42px;
	top: -2px;
	margin: 0 auto;
	border-right: 1px solid red;
	border-left: 1px solid red;
	border-collapse: collapse;
	background-color: white;
}
.room_event_start, .create_room_event_start{
	margin-top:1px;

}

.room_event_end{
	margin-top: -1px;
	/*background-color: #d4d7d1;*/
}
.room_event_mid{

	color: white;
	position: relative;
	margin-top: 0px;
}
.room_event_start_end{
	/*color:#d4d7d1;*/ 
	position: relative;

	border-top:1px solid black;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	border-left: 1px solid black;

	background-color: #d4d7d1;
	margin-top:1px;
}
.date_select{
	background: rgba(0,0,0,.1);
	border: 0px;
	position:relative;
	top:-25px;
}
.cal_cell{
	vertical-align: top;
	width: 50px;
	height: 70px;
	color:black; 
	border:1px solid black;
}
.cal_cell_selected{
	background-color:white;
	color:black;
	border:1px solid yellow;
}
.cal_header{
	text-align:center;
	color:black;
}
.cal_table{
	table-layout:fixed;
	width: 700px;
	margin:0 auto;
	border-collapse: collapse;	
}
.empty_race_time{
	height: 1px;
	width: 80%;
	background-color: white;
	float: right;
}
.full_race_time{
	height: 1px;
	width: 80%;
	background-color: red;
	float: right;
}
.races_container{
	margin-top:-17px;
}
.current_date{
	background-color:white;
}.month_name{
	text-align:center;
	color:black;
	font-size:x-large;
}
.next_month_btn{
	border: 1px solid black;
	text-align: center;
	font-size: xx-large;
	color: black;
	background-color: white;
	border-radius: 10px 0px 0px 10px;
	padding: 150px 5px 5px 5px;
	height: 260px;
	margin-top: 48px;
}.previous_month_btn{
	border: 1px solid black;
	text-align: center;
	font-size: xx-large;
	color: black;
	background-color: white;
	border-radius: 0px 10px 10px 0px;
	padding: 150px 5px 5px 5px;
	height: 260px;
	margin-top: 48px;
}
.selected_date{
	width:99%;
	height:99%;
	border:2px solid red;
	/*background-color:#fffffa;*/
}
.room_event_table{
	margin:0 auto;
	padding-top:10px;
}
.room_event_title{
	color:black;
}
.room_event_input{
	float:right;
	width:200px;
}
.number_input{
	margin: 0 auto;
	width: 123px;
}
.number_pad_container{
	width: 222px;
	margin:0 auto;
	border:1px solid black;
	background-color:white;
	height: 372px;

}
.number_pad_num{
	color:black;
	padding:25px;
	font-size: xx-large;
	border:1px solid black;
	border-radius: 5px;
	float:right;
	margin:2px;
	background-color:#dadada;
}
.number_pad_num:active{
	background-color:black;
	color:white;
}
.number_pad_go{
	font-size: xx-large;
	padding: 11px;
	padding-bottom: 25;
	padding-top: 25px;
}
.number_pad_back{
	padding: 24px 24px 26px 22px;
	margin-right: 4px;

}
.num_racers_container{
	width:222px;
	background-color:white;
	height:60px;
	border:1px solid black;
	margin:0 auto;
	margin-top:40px;
	color:black;
	font-size:55;
}
.number_container{
	width:222px;
	background-color:white;
	border:1px solid black;
}
.note_container{
	float: right;
	height:33px;
	font-size:x-small;
	display: inline-table;
	position: relative;
	margin-top: 5px;
	margin-right:10px;
}.note_input{
	height:30px;
	opacity:0;
	z-index: 2;
	width:inherit;
	position:absolute;
	
}
.note_container_inner{
	text-align:center;
}
#advanced_search_area{
	display:none;
}.past_race{
	background-color:gray;
	color:white;
}