@charset "UTF-8";
/* CSS Document */

.leftForm{
	float:left;
	width:75px;
}

.rightForm{
	float:left;
	width:300px;
}

.smallerInput{
	background-image:url(images/tab_bg_51.png);
	background-repeat:no-repeat;
	background-color:transparent;
	border:none;
	width:51px;
	height:46px;
}

label{
	color: #5A75A0;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10pt;
	font-weight: bold;
}

.submitButton{
	/* karts_info.php and karts_addKart.php also have a .submitButton html class to use a different submit button image for each file */
	
	background-repeat: no-repeat;
	width:100px;
	border:none;
	height:33px;
}

input{
	
	background-image:url(images/tab_bg_262.png);
	background-repeat:no-repeat;
	background-color:transparent;
	border:none;
	width:262px;
	height:46px;
}

#showKartNumber{
		background-image:url(images/tab_bg_51.png);
	background-repeat:no-repeat;
	float:left;
	text-align:center;
	padding-top:11px;
	border:none;
	width:51px;
	height:46px;
}





