@charset "UTF-8";
/* CSS Document */

/* Makes the form select (list/menu) elements a custom image. This document is used by all pretty much all the garage app files */

select {
	-webkit-appearance: none;
	font-weight:700;
	
} 

.styled-select select {
   background: transparent;
	 
	
   width: 258px;
   padding-left: 5px;
	 padding-right:35px;
   font-size: 16px;
   border: 0px solid #0F0;
   height: 34px;
}

.styled-select-small select {
   background: transparent;
	 
	
   width: 58px;
   padding-left: 3px;
	 padding-right:35px;
   font-size: 16px;
   border: 0px solid #0F0;
   height: 34px;
}

.styled-select-150 select {
   background: transparent;
	 
	
   width: 150px;
   padding-left: 5px;
	 padding-right:40px;
   font-size: 16px;
   border: 0px solid #0F0;
   height: 34px;
}


.styled-select-150 {
   width: 150px;
	 margin-left:2px;
	 padding-left:7px;
   height: 35px;
	  border:0px solid #c10037;
   overflow: hidden;
   background:url(images/selectBG_150.png) no-repeat left;
}


.styled-select-small {
   width: 70px;
	 margin-left:2px;
	 padding-left:7px;
   height: 35px;
	  border:0px solid #c10037;
   overflow: hidden;
   background:url(images/selectBG_small.png) no-repeat left;
}


.styled-select {
   width: 282px;
	 padding-left:7px;
   height: 35px;
	  border:0px solid #c10037;
   overflow: hidden;
   background:url(images/selectBG.png) no-repeat left;
}



