@charset "UTF-8";
/* CSS Document */

.leftForm{
	float:left;
	width:75px;
	text-align:right;
}

.rightForm{
	float:left;
	width:300px;
}

.smallerInput{
	background-image:url(images/tab_bg_51.png);
	background-repeat:no-repeat;
	background-color:transparent;
	border:none;
	width:51px;
	height:46px;
	text-align:center;
	color:#333;
	font-size:12pt;
}

.tableHeader{
	float:left;
	font-weight:700;
	color:#333;
	font-size:14pt;
	text-align:center
}

label{
	color: #5A75A0;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10pt;
	font-weight: bold;
	
}

.submitButton{
	/* service_types_info.php and service_types_addServiceType.php also has a .submitButton to use a different submit button image for each file */
	
	background-repeat: no-repeat;
	width:100px;
	border:none;
	height:33px;
}

text{
	
	background-image:url(images/tab_bg_262.png);
	background-repeat:no-repeat;
	background-color:transparent;
	border:none;
	width:262px;
	height:46px;
	font-size:11pt;
	
}


textarea{
	background-image:url(images/tab_bg_200.png);
	background-repeat:no-repeat;
	border:none;
	background-color:transparent;
	
}

