table .cp_areas {
	border:solid 2px #aaaaaa;
}

td .section_break{
	background-color:#cccccc;
	color:#555555;
	font-weight:bold;
	text-align:center;
	height:27px;
	padding:5px 0px 2px 0px;
}

td .subsection_break{
	background-color:#eeeeee;
	color:#555555;
	text-align:center;
	height:27px;
	padding:5px 0px 2px 0px;
}

td .prompt{
	background-color:#eeeeee;
	text-align:right;
	padding-left:32px;
	vertical-align:top;
}

td .query{
	text-align:left;
	padding-right:32px;
}

a .unchanging_link {
  color: #d2ffd2;
  visited: #d2ffd2;
  hover: #d2ffd2;
  active: #d2ffd2;
}