<div>Customer Status</div>
<div>
	Customer Information: <span><b><![CDATA [customername]]></b></span>
</div>
<table id="customerinformation">
	<tr>
		<![CDATA [customerinformation]]>
	</tr>
</table><br />
<div>Available Coupons for this Customer</div>
<div style="height: 175px; border: 1px solid black; overflow: auto;" >
	<table id ="availablecoupons">
		<thead>
			<tr>
				<th>Code</th>
				<th>Description</th>
				<th>Discount</th>
				<th>Issue</th>
				<th>Expires</th>
			</tr>
		</thead>
		<tbody style="text-align: left;">
			<![CDATA [availablecoupons]]>
		</tbody>
	</table>
</div>
<div style="margin: 0 auto; text-align: center; width: 90%;">
	<button class="cancelbutton" onclick='<![CDATA [canceldata]]>'></button>
	<div class="inline-block" style="width: 48px;"></div>
	<button class="acceptbutton" onclick='<![CDATA [acceptdata]]>'></button>
</div>