<div style="text-align: center;">
	<![CDATA [errormessage]]>
</div>
<div style="margin: 0 auto; text-align: center; width: 90%;">
	<button class="cancelbutton" onclick="window.location='_DO:cmd=close_overlay'"></button>
	<div class="inline-block" style="width: 24px;"></div>
	<![CDATA [acceptbutton]]>
	<button class="backbutton" onclick="window.location='_DO:cmd=load_url&filenames=<![CDATA [backurl]]>'"></button>
</div>