#info_window_bg{
	position:fixed;
	width:100%;
	height:100%;
	left:0px;
	top:50px;
	visibility:hidden;
	z-index: 1000;
	/*
	position:fixed; 
	width:600px;
	margin:0 auto;
	top:10%; 
	left:30%;
	z-index:1240; 
	visibility:hidden;
	*/
}

#info_area_bgtable{
	border:solid 2px #888888; 
	background-color:#131310;
	color:white;
}
#info_window{
	position:fixed;
	width:100%;
	height:100%;
	left:0px;
	top:50px;
	visibility:hidden;
	z-index: 1000;
/*
	position:fixed;
	margin:0 auto;
	z-index:1280; 
	visibility:hidden;
*/
}
#dForm{
	color:white;
}

#info_area iframe{width:100%!important}