lavu-text-input input,
lavu-password-input input,
lavu-percentage-input input,
lavu-name-input input,
lavu-email-input input,
lavu-phone-input input,
lavu-select-input select,
[isa=lavu-text-input] input,
[isa=lavu-password-input] input,
[isa=lavu-percentage-input] input,
[isa=lavu-name-input] input,
[isa=lavu-email-input] input,
[isa=lavu-phone-input] input,
[isa=lavu-select-input] select {
	-webkit-transition: color 0.3s ease-in-out 0;
	-moz-transition: color 0.3s ease-in-out 0;
	-ie-transition: color 0.3s ease-in-out 0;
	-o-transition: color 0.3s ease-in-out 0;
	transition: color 0.3s ease-in-out 0;

	font-size: inherit;
	font-family: inherit;
	text-decoration: inherit;
	border: 0;
	margin: 0;
	padding: 0;
	outline: 0;
	background: transparent;
	/*color: #8b8b8b;*/
	width: 100%;
	color: inherit;
	-webkit-appearance: none;
}

lavu-select-input select,
[isa=lavu-select-input] select {
	padding-right: 1em;
}

lavu-text-input,
lavu-password-input,
lavu-percentage-input,
lavu-name-input,
lavu-email-input,
lavu-phone-input,
lavu-select-input,
[isa=lavu-text-input],
[isa=lavu-password-input],
[isa=lavu-percentage-input],
[isa=lavu-name-input],
[isa=lavu-email-input],
[isa=lavu-phone-input],
[isa=lavu-select-input] {
	display: block;
	position: relative;
}

lavu-text-input,
lavu-password-input,
lavu-percentage-input,
lavu-name-input,
lavu-email-input,
lavu-phone-input,
lavu-button,
lavu-select-input,
[isa=lavu-text-input],
[isa=lavu-password-input],
[isa=lavu-percentage-input],
[isa=lavu-name-input],
[isa=lavu-email-input],
[isa=lavu-phone-input],
[isa=lavu-button],
[isa=lavu-select-input],
.section_title {
	margin: 1.5em auto 0.5em auto;
}

lavu-text-input .outline_area,
lavu-text-input .place_holder_label,
lavu-password-input .outline_area,
lavu-password-input .place_holder_label,
lavu-percentage-input .outline_area,
lavu-percentage-input .place_holder_label,
lavu-name-input .outline_area,
lavu-name-input .place_holder_label,
lavu-email-input .outline_area,
lavu-email-input .place_holder_label,
lavu-phone-input .outline_area,
lavu-phone-input .place_holder_label,
lavu-select-input .outline_area,
lavu-select-input .place_holder_label,
[isa=lavu-text-input] .outline_area,
[isa=lavu-text-input] .place_holder_label,
[isa=lavu-password-input] .outline_area,
[isa=lavu-password-input] .place_holder_label,
[isa=lavu-percentage-input] .outline_area,
[isa=lavu-percentage-input] .place_holder_label,
[isa=lavu-name-input] .outline_area,
[isa=lavu-name-input] .place_holder_label,
[isa=lavu-email-input] .outline_area,
[isa=lavu-email-input] .place_holder_label,
[isa=lavu-phone-input] .outline_area,
[isa=lavu-phone-input] .place_holder_label,
[isa=lavu-select-input] .outline_area,
[isa=lavu-select-input] .place_holder_label {
	position: absolute;
	height: calc( 100% - 0.9em );
	width: calc( 100% - 1.24em );
	z-index: 0;
	background: none !important;
	pointer-events: none;
}

lavu-text-input .place_holder_label,
lavu-password-input .place_holder_label,
lavu-percentage-input .place_holder_label,
lavu-name-input .place_holder_label,
lavu-email-input .place_holder_label,
lavu-phone-input .place_holder_label,
lavu-select-input .place_holder_label,
[isa=lavu-text-input] .place_holder_label,
[isa=lavu-password-input] .place_holder_label,
[isa=lavu-percentage-input] .place_holder_label,
[isa=lavu-name-input] .place_holder_label,
[isa=lavu-email-input] .place_holder_label,
[isa=lavu-phone-input] .place_holder_label,
[isa=lavu-select-input] .place_holder_label {
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-ie-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	transform-origin: 0 0;

	-webkit-transition: top 0.3s, left 0.3s, color 0.3s, -webkit-transform 0.3s;
	-moz-transition: top 0.3s, left 0.3s, color 0.3s, -moz-transform 0.3s;
	-ie-transition: top 0.3s, left 0.3s, color 0.3s, -ie-transform 0.3s;
	-o-transition: top 0.3s, left 0.3s, color 0.3s, -o-transform 0.3s;
	transition: top 0.3s, left 0.3s, color 0.3s, transform 0.3s;


	-webkit-transform: scale3d(1,1,1) translate3d(0,0,0);
	-moz-transform: scale3d(1,1,1) translate3d(0,0,0);
	-ie-transform: scale3d(1,1,1) translate3d(0,0,0);
	-o-transform: scale3d(1,1,1) translate3d(0,0,0);
	transform: scale3d(1,1,1) translate3d(0,0,0);

	top: 0;
	left: 0;

	padding: 0.45em 0.62em;
}

lavu-text-input[hasvalue] .place_holder_label,
lavu-password-input[hasvalue] .place_holder_label,
lavu-percentage-input[hasvalue] .place_holder_label,
lavu-name-input[hasvalue] .place_holder_label,
lavu-email-input[hasvalue] .place_holder_label,
lavu-phone-input[hasvalue] .place_holder_label,
lavu-select-input[hasValue] .place_holder_label,
[isa=lavu-text-input][hasvalue] .place_holder_label,
[isa=lavu-password-input][hasvalue] .place_holder_label,
[isa=lavu-percentage-input][hasvalue] .place_holder_label,
[isa=lavu-name-input][hasvalue] .place_holder_label,
[isa=lavu-email-input][hasvalue] .place_holder_label,
[isa=lavu-phone-input][hasvalue] .place_holder_label,
[isa=lavu-select-input][hasValue] .place_holder_label {
/*	top: -80%;
	left: -1.45em;*/
	-webkit-transform: scale3d(0.75,0.75,0.75) translate3d(0,-100%,0);
	-moz-transform: scale3d(0.75,0.75,0.75) translate3d(0,-100%,0);
	-ie-transform: scale3d(0.75,0.75,0.75) translate3d(0,-100%,0);
	-o-transform: scale3d(0.75,0.75,0.75) translate3d(0,-100%,0);
	transform: scale3d(0.75,0.75,0.75) translate3d(0,-100%,0);
}

.ie9 [isa=lavu-text-input][hasvalue] .place_holder_label,
.ie9 [isa=lavu-password-input][hasvalue] .place_holder_label,
.ie9 [isa=lavu-percentage-input][hasvalue] .place_holder_label,
.ie9 [isa=lavu-name-input][hasvalue] .place_holder_label,
.ie9 [isa=lavu-email-input][hasvalue] .place_holder_label,
.ie9 [isa=lavu-phone-input][hasvalue] .place_holder_label,
.ie9 [isa=lavu-select-input][hasValue] .place_holder_label {
/*	top: -80%;
	left: -1.45em;*/
	position: relative;
	top: -1em;
}

lavu-text-input[error] .error_area,
lavu-password-input[error] .error_area,
lavu-percentage-input[error] .error_area,
lavu-name-input[error] .error_area,
lavu-email-input[error] .error_area,
lavu-phone-input[error] .error_area,
lavu-select-input[error] .error_area,
lavu-error[error],
lavu-error[success],
[isa=lavu-text-input][error] .error_area,
[isa=lavu-password-input][error] .error_area,
[isa=lavu-percentage-input][error] .error_area,
[isa=lavu-name-input][error] .error_area,
[isa=lavu-email-input][error] .error_area,
[isa=lavu-phone-input][error] .error_area,
[isa=lavu-select-input][error] .error_area,
[isa=lavu-error][error],
[isa=lavu-error][success] {
	opacity: 1;
}

lavu-text-input .error_area,
lavu-password-input .error_area,
lavu-percentage-input .error_area,
lavu-name-input .error_area,
lavu-email-input .error_area,
lavu-phone-input .error_area,
lavu-select-input .error_area,
lavu-error,
[isa=lavu-text-input] .error_area,
[isa=lavu-password-input] .error_area,
[isa=lavu-percentage-input] .error_area,
[isa=lavu-name-input] .error_area,
[isa=lavu-email-input] .error_area,
[isa=lavu-phone-input] .error_area,
[isa=lavu-select-input] .error_area,
[isa=lavu-error] {
	-webkit-transition: opacity 0.75s;
	-moz-transition: opacity 0.75s;
	-ie-transition: opacity 0.75s;
	-o-transition: opacity 0.75s;
	transition: opacity 0.75s;
	opacity: 0;
	color: red;
	font-size: 0.5em;
}

lavu-text-input .error_area,
lavu-password-input .error_area,
lavu-percentage-input .error_area,
lavu-name-input .error_area,
lavu-email-input .error_area,
lavu-phone-input .error_area,
lavu-select-input .error_area,
[isa=lavu-text-input] .error_area,
[isa=lavu-password-input] .error_area,
[isa=lavu-percentage-input] .error_area,
[isa=lavu-name-input] .error_area,
[isa=lavu-email-input] .error_area,
[isa=lavu-phone-input] .error_area,
[isa=lavu-select-input] .error_area {
	position: absolute;
}

lavu-text-input .input_container,
lavu-password-input .input_container,
lavu-percentage-input .input_container,
lavu-name-input .input_container,
lavu-email-input .input_container,
lavu-phone-input .input_container,
lavu-select-input .input_container,
[isa=lavu-text-input] .input_container,
[isa=lavu-password-input] .input_container,
[isa=lavu-percentage-input] .input_container,
[isa=lavu-name-input] .input_container,
[isa=lavu-email-input] .input_container,
[isa=lavu-phone-input] .input_container,
[isa=lavu-select-input] .input_container {
	-webkit-transition: border 0.3s;
	-moz-transition: border 0.3s;
	-ie-transition: border 0.3s;
	-o-transition: border 0.3s;
	transition: border 0.3s;
	padding: 0.3em 0.5em;
	border-radius: 0.3em;
	overflow: hidden;
	position: relative;
	color: inherit;
}

lavu-select-input .input_container.icon-down:before,
[isa=lavu-select-input] .input_container.icon-down:before {
	-webkit-transition: color 0.3s ease-in-out 0;
	-moz-transition: color 0.3s ease-in-out 0;
	-ie-transition: color 0.3s ease-in-out 0;
	-o-transition: color 0.3s ease-in-out 0;
	transition: color 0.3s ease-in-out 0;

	position: absolute;
	right: 0;
	color: inherit;
	font-size: 0.75em;
	margin: 0.5em 1em;
	pointer-events: none;
}


/**
 * Default Colors
 */
lavu-text-input .place_holder_label,
lavu-text-input .input_container,
lavu-password-input .place_holder_label,
lavu-password-input .input_container,
lavu-percentage-input .place_holder_label,
lavu-percentage-input .input_container,
lavu-name-input .place_holder_label,
lavu-name-input .input_container,
lavu-email-input .place_holder_label,
lavu-email-input .input_container,
lavu-phone-input .place_holder_label,
lavu-phone-input .input_container,
lavu-select-input .place_holder_label,
lavu-select-input .input_container,
[isa=lavu-text-input] .place_holder_label,
[isa=lavu-text-input] .input_container,
[isa=lavu-password-input] .place_holder_label,
[isa=lavu-password-input] .input_container,
[isa=lavu-percentage-input] .place_holder_label,
[isa=lavu-percentage-input] .input_container,
[isa=lavu-name-input] .place_holder_label,
[isa=lavu-name-input] .input_container,
[isa=lavu-email-input] .place_holder_label,
[isa=lavu-email-input] .input_container,
[isa=lavu-phone-input] .place_holder_label,
[isa=lavu-phone-input] .input_container,
[isa=lavu-select-input] .place_holder_label,
[isa=lavu-select-input] .input_container {
	color: #d7d7d7;
}

lavu-text-input .input_container,
lavu-password-input .input_container,
lavu-percentage-input .input_container,
lavu-name-input .input_container,
lavu-email-input .input_container,
lavu-phone-input .input_container,
lavu-select-input .input_container,
[isa=lavu-text-input] .input_container,
[isa=lavu-password-input] .input_container,
[isa=lavu-percentage-input] .input_container,
[isa=lavu-name-input] .input_container,
[isa=lavu-email-input] .input_container,
[isa=lavu-phone-input] .input_container,
[isa=lavu-select-input] .input_container {
	border: 0.1em solid #d7d7d7;
}