body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	background: white;
	font-family: sans-serif;

	/*display: -webkit-flex;*/
	/*display: flex;*/

	/*-webkit-flex-direction: column;*/
	/*flex-direction: column;*/

	/*-webkit-justify-content: center;*/
	/*justify-content: center;*/
	/*font-size: 1.25em;*/
	/*font-size: 3vh;*/
	color: #d7d7d7;
}

.bottom {
	font-size: 0.5em;
	text-align: center;
}

.bottom a:before, .bottom a:after {
	display: inline-block;
	content: "";
	width: 1em;
	height: 1em;
}
.bottom a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

.bottom a:hover {
	text-decoration: underline;
}

lavu-container,
[isa=lavu-container] {
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-ie-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
	opacity: 0;

	display: table;
	/*margin: auto;*/
	/*padding: 2em;*/
	position: relative;
	width: 100%;
}

lavu-top-container,
lavu-mid-container,
lavu-bottom-container,
[isa=lavu-top-container],
[isa=lavu-mid-container],
[isa=lavu-bottom-container] {
	display: table;
	margin: 0 auto;
}

lavu-top-container,
[isa=lavu-top-container] {
	height: 5em;
	background: #2b2b2b;
	display: table;
	width: 100%;
}

lavu-mid-container,
[isa=lavu-mid-container] {
	display: block;
	background: #e8e8e8;
}

lavu-bottom-container,
[isa=lavu-bottom-container] {
	padding-top: 2em;
}

lavu-relative,
[isa=lavu-relative] {
	display: block;
	position: relative;
}

/*.container:after {
	content: "";
	display: block;
	width: 12em;
	height: 14em;
}*/

lavu-section,
[isa=lavu-section] {
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-ie-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
	display: block;
	opacity: 0;
	/*display: none;*/
	z-index: 0;
	/*position: absolute;*/
	/*position: relative;*/
	/*position: absolute;*/
	top:0;
}

[hidden] {
	display: none !important;
}

[show] {
	opacity: 1;
	z-index: 1;
	/*display: block;;*/
}

#login_section {
	position: relative;
	top:0;
}

lavu-button:before,
[isa=lavu-button]:before {
	padding: 0.1em 0;
}

.submit-login lavu-glyph,
.submit-login [isa=lavu-glyph],
.submit-forgot lavu-glyph,
.submit-forgot [isa=lavu-glyph],
.submit-reset lavu-glyph,
.submit-reset [isa=lavu-glyph] {
	float: right;
}
.submit-login:before {
	content: "sign in";
}

.submit-forgot:before {
	content: "submit";
}

.submit-reset:before {
	content: "reset";
}

lavu-button,
[isa=lavu-button] {
	border-radius: 0.3em;
	color:white;
	position: relative;
	cursor: pointer;
	text-transform: uppercase;
	padding: 0.3em 0.5em;

	display: block;
	display: -webkit-flex;
	display: flex;

	align-items: center;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

lavu-glyph,
[isa=lavu-glyph] {
	font-size: 1.2em;
}

lavu-error:before,
lavu-error:after,
[isa=lavu-error]:before,
[isa=lavu-error]:after {
	content: " ";
	display: inline-table;
}
lavu-error,
[isa=lavu-error] {
	display: block;
	text-align: center;
	margin: 1em 0;
}

/**
 * Error Colors
 */
lavu-text-input[error] .place_holder_label,
lavu-password-input[error] .place_holder_label,
[isa=lavu-text-input][error] .place_holder_label,
[isa=lavu-password-input][error] .place_holder_label {
	color: red !important;
}

lavu-text-input[error] .input_container,
lavu-password-input[error] .input_container,
[isa=lavu-text-input][error] .input_container,
[isa=lavu-password-input][error] .input_container {
	border: 0.1em solid red !important;
}

/**
 * Section Colors
 */

#login_section lavu-text-input[active] .place_holder_label,
#login_section lavu-password-input[active] .place_holder_label,
#login_section lavu-text-input[active] .input_container,
#login_section lavu-password-input[active] .input_container,
#login_section [isa=lavu-text-input][active] .place_holder_label,
#login_section [isa=lavu-password-input][active] .place_holder_label,
#login_section [isa=lavu-text-input][active] .input_container,
#login_section [isa=lavu-password-input][active] .input_container,
#login_section lavu-error[success],
#login_section [isa=lavu-error][success] {
	color: #aecd37;
}

#login_section lavu-text-input[active] .input_container,
#login_section lavu-password-input[active] .input_container,
#login_section [isa=lavu-text-input][active] .input_container,
#login_section [isa=lavu-password-input][active] .input_container {
	border: 0.1em solid #aecd37;
}

#login_section lavu-button,
#login_section [isa=lavu-button] {
	background: #aecd37;
}

#login_section lavu-button:hover,
#login_section [isa=lavu-button]:hover {
	background: #99bc08;
}

#forgot_section lavu-text-input[active] .place_holder_label,
#forgot_section lavu-password-input[active] .place_holder_label,
#forgot_section lavu-text-input[active] .input_container,
#forgot_section lavu-password-input[active] .input_container,
#forgot_section [isa=lavu-text-input][active] .place_holder_label,
#forgot_section [isa=lavu-password-input][active] .place_holder_label,
#forgot_section [isa=lavu-text-input][active] .input_container,
#forgot_section [isa=lavu-password-input][active] .input_container,
#forgot_section lavu-error[success],
#forgot_section [isa=lavu-error][success] {
	color: #0eae95;
}

#forgot_section lavu-text-input[active] .input_container,
#forgot_section lavu-password-input[active] .input_container,
#forgot_section [isa=lavu-text-input][active] .input_container,
#forgot_section [isa=lavu-password-input][active] .input_container {
	border: 0.1em solid #0eae95;
}

#forgot_section lavu-button,
#forgot_section [isa=lavu-button] {
	background: #0eae95;
}

#forgot_section lavu-button:hover,
#forgot_section [isa=lavu-button]:hover {
	background: #108972;
}

#reset_password_section lavu-text-input[active] .place_holder_label,
#reset_password_section lavu-password-input[active] .place_holder_label,
#reset_password_section lavu-text-input[active] .input_container,
#reset_password_section lavu-password-input[active] .input_container,
#reset_password_section [isa=lavu-text-input][active] .place_holder_label,
#reset_password_section [isa=lavu-password-input][active] .place_holder_label,
#reset_password_section [isa=lavu-text-input][active] .input_container,
#reset_password_section [isa=lavu-password-input][active] .input_container,
#reset_password_section lavu-error[success],
#reset_password_section [isa=lavu-error][success] {
	color: #3382a9;
}

#reset_password_section lavu-text-input[active] .input_container,
#reset_password_section lavu-password-input[active] .input_container,
#reset_password_section [isa=lavu-text-input][active] .input_container,
#reset_password_section [isa=lavu-password-input][active] .input_container {
	border: 0.1em solid #3382a9;
}

#reset_password_section lavu-button,
#reset_password_section [isa=lavu-button] {
	background: #3382a9;
}

#reset_password_section lavu-button:hover,
#reset_password_section [isa=lavu-button]:hover {
	background: #196989;
}


lavu-logo,
[isa=lavu-logo] {
	display: table;
	/*Image file type changed to SVG by EV 4/12/16 per BT 6933*/
	background: url(../images/lavu_logo.png) no-repeat no-repeat;
	background-size: 100%;
	
	width: 9em;
	height: 1.3em;
	margin: 2em auto;
}

lavu-mid-container > lavu-color-collection,
[isa=lavu-mid-container] > [isa=lavu-color-collection] {
	width: 240px;
	margin: 0 auto;
}

lavu-color-collection,
[isa=lavu-color-collection] {
	display: block;
	display: -webkit-flex;
	display: flex;
	height: 0.5em;

	/*justify-content: center;*/
	background: #bdbdbd;
}

lavu-color-first,
lavu-color-second,
lavu-color-third,
lavu-color-fourth,
lavu-color-fifth,
lavu-color-sixth,
[isa=lavu-color-first],
[isa=lavu-color-second],
[isa=lavu-color-third],
[isa=lavu-color-fourth],
[isa=lavu-color-fifth],
[isa=lavu-color-sixth] {
	transition: background 0.7s, width 0.2s ease-in-out, opacity 0.7s ease-in-out;
	display: inline-block;
	float: left;
	align-self: auto;
	height: 0.5em;
	width: 16.66666%;
}

.section_title {
	color: #2b2b2b;
}

lavu-color-collection[animate] lavu-color-first,
[isa=lavu-color-collection][animate] [isa=lavu-color-first] {
	-webkit-animation: transitionFirst 6s infinite;
	-moz-animation: transitionFirst 6s infinite;
	-o-animation: transitionFirst 6s infinite;
	animation: transitionFirst 6s infinite;
}

lavu-color-collection[animate] lavu-color-second,
[isa=lavu-color-collection][animate] [isa=lavu-color-second] {
	-webkit-animation: transitionSecond 6s infinite;
	-moz-animation: transitionSecond 6s infinite;
	-o-animation: transitionSecond 6s infinite;
	animation: transitionSecond 6s infinite;
}
lavu-color-collection[animate] lavu-color-third,
[isa=lavu-color-collection][animate] [isa=lavu-color-third] {
	-webkit-animation: transitionThird 6s infinite;
	-moz-animation: transitionThird 6s infinite;
	-o-animation: transitionThird 6s infinite;
	animation: transitionThird 6s infinite;
}
lavu-color-collection[animate] lavu-color-fourth,
[isa=lavu-color-collection][animate] [isa=lavu-color-fourth] {
	-webkit-animation: transitionFourth 6s infinite;
	-moz-animation: transitionFourth 6s infinite;
	-o-animation: transitionFourth 6s infinite;
	animation: transitionFourth 6s infinite;
}
lavu-color-collection[animate] lavu-color-fifth,
[isa=lavu-color-collection][animate] [isa=lavu-color-fifth] {
	-webkit-animation: transitionFifth 6s infinite;
	-moz-animation: transitionFifth 6s infinite;
	-o-animation: transitionFifth 6s infinite;
	animation: transitionFifth 6s infinite;
}
lavu-color-collection[animate] lavu-color-sixth,
[isa=lavu-color-collection][animate] [isa=lavu-color-sixth] {
	-webkit-animation: transitionSixth 6s infinite;
	-moz-animation: transitionSixth 6s infinite;
	-o-animation: transitionSixth 6s infinite;
	animation: transitionSixth 6s infinite;
}

lavu-color-first,
[isa=lavu-color-first] {
	background: #ebcf4a;
}

lavu-color-second,
[isa=lavu-color-second] {
	background: #f68e20;
}

lavu-color-third,
[isa=lavu-color-third] {
	background: #3c4287;
}

lavu-color-fourth,
[isa=lavu-color-fourth] {
	background: #3382a9;
}

lavu-color-fifth,
[isa=lavu-color-fifth] {
	background: #0eae95;
}

lavu-color-sixth,
[isa=lavu-color-sixth] {
	background: #acdc37;
}

@-webkit-keyframes transitionFirst {
	00.00% { width: 16.6666%; }
	14.28% { width: 83.3333%; }
	28.57% { width: 3.3333%; }
	42.85% { width: 3.3333%; }
	57.14% { width: 3.3333%; }
	71.42% { width: 3.3333%; }
	85.71% { width: 3.3333%; }
	100.0% { width: 16.6666%; }

}

@-webkit-keyframes transitionSecond {
	00.00% { width: 16.6666%; }
	14.28% { width: 3.3333%; }
	28.57% { width: 83.3333%; }
	42.85% { width: 3.3333%; }
	57.14% { width: 3.3333%; }
	71.42% { width: 3.3333%; }
	85.71% { width: 3.3333%; }
	100.0% { width: 16.6666%; }
}

@-webkit-keyframes transitionThird {
	00.00% { width: 16.6666%; }
	14.28% { width: 3.3333%; }
	28.57% { width: 3.3333%; }
	42.85% { width: 83.3333%; }
	57.14% { width: 3.3333%; }
	71.42% { width: 3.3333%; }
	85.71% { width: 3.3333%; }
	100.0% { width: 16.6666%; }
}

@-webkit-keyframes transitionFourth {
	00.00% { width: 16.6666%; }
	14.28% { width: 3.3333%; }
	28.57% { width: 3.3333%; }
	42.85% { width: 3.3333%; }
	57.14% { width: 83.3333%; }
	71.42% { width: 3.3333%; }
	85.71% { width: 3.3333%; }
	100.0% { width: 16.6666%; }
}

@-webkit-keyframes transitionFifth {
	00.00% { width: 16.6666%; }
	14.28% { width: 3.3333%; }
	28.57% { width: 3.3333%; }
	42.85% { width: 3.3333%; }
	57.14% { width: 3.3333%; }
	71.42% { width: 83.3333%; }
	85.71% { width: 3.3333%; }
	100.0% { width: 16.6666%; }
}

@-webkit-keyframes transitionSixth {
	00.00% { width: 16.6666%; }
	14.28% { width: 3.3333%; }
	28.57% { width: 3.3333%; }
	42.85% { width: 3.3333%; }
	57.14% { width: 3.3333%; }
	71.42% { width: 3.3333%; }
	85.71% { width: 83.3333%; }
	100.0% { width: 16.6666%; }
}

@-moz-keyframes transitionFirst {
	00.00% { width: 16.6666%; }
	14.28% { width: 83.3333%; }
	28.57% { width: 3.3333%; }
	42.85% { width: 3.3333%; }
	57.14% { width: 3.3333%; }
	71.42% { width: 3.3333%; }
	85.71% { width: 3.3333%; }
	100.0% { width: 16.6666%; }

}

@-moz-keyframes transitionSecond {
	00.00% { width: 16.6666%; }
	14.28% { width: 3.3333%; }
	28.57% { width: 83.3333%; }
	42.85% { width: 3.3333%; }
	57.14% { width: 3.3333%; }
	71.42% { width: 3.3333%; }
	85.71% { width: 3.3333%; }
	100.0% { width: 16.6666%; }
}

@-moz-keyframes transitionThird {
	00.00% { width: 16.6666%; }
	14.28% { width: 3.3333%; }
	28.57% { width: 3.3333%; }
	42.85% { width: 83.3333%; }
	57.14% { width: 3.3333%; }
	71.42% { width: 3.3333%; }
	85.71% { width: 3.3333%; }
	100.0% { width: 16.6666%; }
}

@-moz-keyframes transitionFourth {
	00.00% { width: 16.6666%; }
	14.28% { width: 3.3333%; }
	28.57% { width: 3.3333%; }
	42.85% { width: 3.3333%; }
	57.14% { width: 83.3333%; }
	71.42% { width: 3.3333%; }
	85.71% { width: 3.3333%; }
	100.0% { width: 16.6666%; }
}

@-moz-keyframes transitionFifth {
	00.00% { width: 16.6666%; }
	14.28% { width: 3.3333%; }
	28.57% { width: 3.3333%; }
	42.85% { width: 3.3333%; }
	57.14% { width: 3.3333%; }
	71.42% { width: 83.3333%; }
	85.71% { width: 3.3333%; }
	100.0% { width: 16.6666%; }
}

@-moz-keyframes transitionSixth {
	00.00% { width: 16.6666%; }
	14.28% { width: 3.3333%; }
	28.57% { width: 3.3333%; }
	42.85% { width: 3.3333%; }
	57.14% { width: 3.3333%; }
	71.42% { width: 3.3333%; }
	85.71% { width: 83.3333%; }
	100.0% { width: 16.6666%; }
}

@-o-keyframes transitionFirst {
	00.00% { width: 16.6666%; }
	14.28% { width: 83.3333%; }
	28.57% { width: 3.3333%; }
	42.85% { width: 3.3333%; }
	57.14% { width: 3.3333%; }
	71.42% { width: 3.3333%; }
	85.71% { width: 3.3333%; }
	100.0% { width: 16.6666%; }

}

@-o-keyframes transitionSecond {
	00.00% { width: 16.6666%; }
	14.28% { width: 3.3333%; }
	28.57% { width: 83.3333%; }
	42.85% { width: 3.3333%; }
	57.14% { width: 3.3333%; }
	71.42% { width: 3.3333%; }
	85.71% { width: 3.3333%; }
	100.0% { width: 16.6666%; }
}

@-o-keyframes transitionThird {
	00.00% { width: 16.6666%; }
	14.28% { width: 3.3333%; }
	28.57% { width: 3.3333%; }
	42.85% { width: 83.3333%; }
	57.14% { width: 3.3333%; }
	71.42% { width: 3.3333%; }
	85.71% { width: 3.3333%; }
	100.0% { width: 16.6666%; }
}

@-o-keyframes transitionFourth {
	00.00% { width: 16.6666%; }
	14.28% { width: 3.3333%; }
	28.57% { width: 3.3333%; }
	42.85% { width: 3.3333%; }
	57.14% { width: 83.3333%; }
	71.42% { width: 3.3333%; }
	85.71% { width: 3.3333%; }
	100.0% { width: 16.6666%; }
}

@-o-keyframes transitionFifth {
	00.00% { width: 16.6666%; }
	14.28% { width: 3.3333%; }
	28.57% { width: 3.3333%; }
	42.85% { width: 3.3333%; }
	57.14% { width: 3.3333%; }
	71.42% { width: 83.3333%; }
	85.71% { width: 3.3333%; }
	100.0% { width: 16.6666%; }
}

@-o-keyframes transitionSixth {
	00.00% { width: 16.6666%; }
	14.28% { width: 3.3333%; }
	28.57% { width: 3.3333%; }
	42.85% { width: 3.3333%; }
	57.14% { width: 3.3333%; }
	71.42% { width: 3.3333%; }
	85.71% { width: 83.3333%; }
	100.0% { width: 16.6666%; }
}

@keyframes transitionFirst {
	00.00% { width: 16.6666%; }
	14.28% { width: 83.3333%; }
	28.57% { width: 3.3333%; }
	42.85% { width: 3.3333%; }
	57.14% { width: 3.3333%; }
	71.42% { width: 3.3333%; }
	85.71% { width: 3.3333%; }
	100.0% { width: 16.6666%; }

}

@keyframes transitionSecond {
	00.00% { width: 16.6666%; }
	14.28% { width: 3.3333%; }
	28.57% { width: 83.3333%; }
	42.85% { width: 3.3333%; }
	57.14% { width: 3.3333%; }
	71.42% { width: 3.3333%; }
	85.71% { width: 3.3333%; }
	100.0% { width: 16.6666%; }
}

@keyframes transitionThird {
	00.00% { width: 16.6666%; }
	14.28% { width: 3.3333%; }
	28.57% { width: 3.3333%; }
	42.85% { width: 83.3333%; }
	57.14% { width: 3.3333%; }
	71.42% { width: 3.3333%; }
	85.71% { width: 3.3333%; }
	100.0% { width: 16.6666%; }
}

@keyframes transitionFourth {
	00.00% { width: 16.6666%; }
	14.28% { width: 3.3333%; }
	28.57% { width: 3.3333%; }
	42.85% { width: 3.3333%; }
	57.14% { width: 83.3333%; }
	71.42% { width: 3.3333%; }
	85.71% { width: 3.3333%; }
	100.0% { width: 16.6666%; }
}

@keyframes transitionFifth {
	00.00% { width: 16.6666%; }
	14.28% { width: 3.3333%; }
	28.57% { width: 3.3333%; }
	42.85% { width: 3.3333%; }
	57.14% { width: 3.3333%; }
	71.42% { width: 83.3333%; }
	85.71% { width: 3.3333%; }
	100.0% { width: 16.6666%; }
}

@keyframes transitionSixth {
	00.00% { width: 16.6666%; }
	14.28% { width: 3.3333%; }
	28.57% { width: 3.3333%; }
	42.85% { width: 3.3333%; }
	57.14% { width: 3.3333%; }
	71.42% { width: 3.3333%; }
	85.71% { width: 83.3333%; }
	100.0% { width: 16.6666%; }
}
