.reporting_navigation {
	/*float: left;*/
	text-align: left;
	font-size: 11px;
	height: 20px;
}

.report_button {
	float: left;
	/*display: inline-block;*/
	height: 100%;
	background: #dfdfde;
	border: 1px solid white;
	padding: 5px 10px;
	color: #888;
	text-transform: uppercase;
	cursor: pointer;
	border-bottom: 0;
	line-height: 2.0em;
}

.report_button[selected] {
	background: white;
	/*font-size: 1.5em;*/
	border: 1px solid #dfdfde;
	border-bottom: 1px solid white;
	padding: 5px 20px;
}

.report_button[end]{
	background: transparent;
	float: none;
	border: 0;
	border-bottom: 1px solid #dfdfde;
}

.reporting_sub_navigation {
	color: #888;
	font-size: 10px;
	padding: 0px 10px;
	/*Removed by EV 8/5/16 per LAVU-210
	Fixes overlflow of extra filters or saved reports into the .breadcrumbs_stripe*/
	/*height: 100%;*/
	text-align: left;
}

.sub_nav_button {
	padding: 3px 10px;
	font-size: 10px;
	/*float: left;*/
	text-transform: uppercase;
	cursor: pointer;
	display: inline-table;
}

.sub_nav_button[selected] {
	font-weight: bold;
	text-decoration: underline;
}

.breadcrumbs {
	display: inline-block;
	margin-top: 3px;
}

.breadcrumbs > a.breadcrumb {
	position: relative;
	top: -0.25em;
}

.right_arrow {
	display: inline-block;
	font-size: 0.8em;
	position: relative;
	top: 50%;
	margin-top: -50%;
	color: #888;
}

.large {
	font-size: 1.2em;
	top: inherit;
}

a.breadcrumb {
	font-family: sans-serif;
	color: #5599cc;
	padding: 0 1em 0 1em;
	cursor: pointer;
	text-transform: capitalize;
}

.left {
	float: left;
}

.right {
	float: right;
}

.breadcrumbs_stripe {
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	text-align: left;
	background: #fafafa;
	margin: 1em 0;
}

.rounded_button{
	border: 1px solid #888;
	padding: 7px 15px 7px 15px;
	border-radius: 3px;
	background: white;
	color: #888;
	position: relative;
	top: -0.5em;
	text-transform: uppercase;
}

.rounded_button[disabled] {
	color: #dfdfde;
}

button.rounded_button.left {
	left: -0.5em;
}

button.rounded_button.right {
	right: -0.5em;
}

td.datetime_choice {
	color: #888888;
	background: #dfdfde;
	border: 1px solid #dfdfde;
	margin: 1px;
	cursor: pointer;
	font-size: 1.2em;
}

td.datetime_choice[selected] {
	background: white;
	border-bottom: 1px solid white;
}

div.input_wrapper {
	display: inline-table;
}

div.input_wrapper > input {
	margin: 0;
	border: 0;
	margin-top: 2px;
	text-transform: uppercase;
}

div.input_wrapper > select {
	margin: 0;
	margin-right: 5px;
	border: 0;
	-webkit-appearance: none;
	height: 100%;
	width: 100%;
	padding: 0 5px;
	text-transform: uppercase;
}

div.input_wrapper > button {
	margin: 1px 20px 1px 2px;
	border: 0;
	margin-top: 3px;
	cursor: pointer;
	width: 100%;
	cursor: pointer;
	background: transparent;
	color: #888;
	text-transform: uppercase;
}

.tcalInput, .ttimInput {
	padding-left: 25px !important;
	background-position-x: 4px;
	cursor: pointer;
}

.tcalInput {
	padding-right: 0;
	background: url('../reports_v2/i_cal_select_reports.png') 0% 50% no-repeat;
}

.ttimInput {
	padding-right: 0;
	background: url('../reports_v2/i_clock_select_reports.png') 0% 50% no-repeat;
}

button {
	cursor: pointer;
}

button.addFavorites, button.export, button.removeFavorites {
	padding-left: 25px !important;
}

button.addFavorites > .icon, button.export > .icon, button.removeFavorites > .icon {
	width: 19px;
	height: 19px;
	display: inline-block;
	position: absolute;
	left: 5px;
	top: 4px;
}

button.addFavorites > .icon {
	background: url('../reports_v2/i_star_reports_empty.png') 0% 50% no-repeat;
}

button.addFavorites:hover > .icon {
	background: url('../reports_v2/i_star_reports_full.png') 0% 50% no-repeat white;
}

button.export > .icon {
	background: url('../reports_v2/i_export_reports_empty.png') 0% 50% no-repeat;
}

button.export:hover > .icon {
	background: url('../reports_v2/i_export_reports_full.png') 0% 50% no-repeat;
}

button.removeFavorites > .icon {
	background: url('../reports_v2/i_star_reports_full.png') 0% 50% no-repeat white;
}

button.removeFavorites:hover > .icon {
	background: url('../reports_v2/i_star_reports_empty.png') 0% 50% no-repeat white;
}

.datetime_selector {
	display: table;
	margin: 0 auto;
	text-align: center;
}

.datetime_selector table {
	margin: 0 auto;
}

.datetime_interactive {
	display: inline-block;
}

.datetime_interactive div.input_wrapper {
	border: 1px solid #888888;
	background: white;
	margin: 0;
	height: 25px;
	box-sizing: border-box;
	float: left;
	border-left: 0;
}

.datetime_interactive div.arrow {
	display: inline-block;
	border: 1px solid #888888;
	background: #e6f0f8;
	color: #5599cc;
	margin: 0;
	height: 25px;
	width: 25px;
	box-sizing: border-box;
	line-height: 2em;
	float: left;
	cursor: pointer;
}

.datetime_interactive div.arrow.right {
	border-left: 0;
}

.datetime_interactive div.input_wrapper.leftBorder {
	border-left: 1px solid #888888 !important;
}

.report_table {
	color: #888;
}

.report_table th {
	padding: 7px;
	padding-bottom: 10px;
	vertical-align: text-top;
	text-transform: uppercase;
}

.alignRight {
	text-align: right;
	padding-right: 2px !important;
}

.alignLeft {
	text-align: left;
	padding-left: 2px !important;
}

.report_table > tfoot td {
	font-size: 1.2em;
	font-weight: bold;
}

.report_table > tbody td {
	padding: 5px;
	vertical-align: middle;
}

.report_table > tbody  td[supress] {
	color: #cfcfce;
}

.graph_title {
	text-transform: uppercase;
}

/*table {
	width: 100%;
}*/

td[nowrap] {
	white-space: nowrap;
}

tr[alt] {
	background: #fafafd;
}

#details_view{
	max-width: 400px;
	display: none;
	position: absolute;
	background: white;
	color: #555;
	box-shadow: 3px 3px 10px rgba(0,0,0,0.5);
	padding: 5px;
	border-radius: 3px;
	z-index: 1;
}

.void_alert {
	left: calc( 50% - 66px );
	display: table;
	font-size: -webkit-xxx-large;
	color: rgba( 255, 0, 0, 0.25 );
	position: absolute;
	text-transform: uppercase;
	font-family: sans-serif;
}

tr.eod_data_row > td > div {
	height: 1em;
}

.eod_table tr.eod_data_row:hover {
	background: #ddd;
}

.eod_subtotal {
	background: #eee;
	text-decoration: overline;
	font-weight: bold;
}

[onclick] {
	cursor: pointer;
}

fieldset.patchnotes {
	margin-top: 20px;
	display: table;
	text-align: justify;
	width: 900px;
}

fieldset.patchnotes  section {
	padding-bottom: 10px;
}

fieldset.patchnotes  add, fieldset.patchnotes  remove, fieldset.patchnotes  modify, fieldset.patchnotes  fix {
	display: block;
}

fieldset.patchnotes fix::before {
	content: "✓ ";
}

fieldset.patchnotes  fix {
	color: green;
}

fieldset.patchnotes  add {
	color: green;
}

fieldset.patchnotes  add::before {
	content: "+	";
}

fieldset.patchnotes  remove {
	color: red;
}

fieldset.patchnotes  remove::before {
	content: "-	";
}

fieldset.patchnotes  modify {
	color: gray;
}

fieldset.patchnotes  modify::before {
	content: "•	";
}

fieldset.patchnotes  em {
	font-weight: bold;
}

/**
 * REPORTS AREA
 */
.report_container {
	color: #555;
}

/**
 * SETTLEMENT SECTION
 */

.faux_card {
	width: 13em;
	height: 6em;
	background: white;
	border-radius: 0.5em;
	/* position: absolute; */
	text-align: left;
	padding: 1em;
	display: -webkit-flex !important;
	display: -moz-flex !important;
	display: flex !important;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: flex-end;
	-moz-justify-content: flex-end;
	justify-content: flex-end;
	position: relative;
	overflow: hidden;

	box-shadow: rgba( 0, 0, 0, 0.25 ) 0 0 2px 1px;
}
.faux_card[type]:before {
	content: " ";
	display: block;
	height: 25px;
	width: 50%;
	position: absolute;
	top: 1em;
	left: 1em;

	background-repeat: no-repeat;
	background-size: contain;
}

.faux_card[type=VISA]:before,
.faux_card[type=Visa]:before,
.faux_card[type=visa]:before {
	background-image: url( ../images/card_logo_visa.png );
	height: 15px;
}

.faux_card[type=AMEX]:before {
	background-image: url( ../images/card_logo_amex.png );
	height: 35px;
}

.faux_card[type=DISCOVER]:before,
.faux_card[type=Discover]:before,
.faux_card[type=discover]:before {
	background-image: url( ../images/card_logo_discover.png );
}

.faux_card[type=MASTERCARD]:before,
.faux_card[type=MasterCard]:before,
.faux_card[type=mastercard]:before {
	background-image: url( ../images/card_logo_mastercard.png );
	height: 35px;
}

.faux_card[type=UNKNWN]:before {
	content: "Unknown";
}

[processed] .faux_card:after,
[unprocessed] .faux_card:after {
	position: absolute;
	text-align: center;
	width: 100%;
	padding: 0.25em;
	color: white;
	font-weight: bold;
	top: 0;
	left: 0;
}

[unprocessed] .faux_card:after {
	content: "Unprocessed";
	background: rgba( 255, 140, 30, 0.75 );
}

[processed=approved] .faux_card:after {
	content: "Approved";
	background: rgba( 104, 205, 55, 0.75 );
}

[processed=declined] .faux_card:after {
	content: "Declined";
	background: rgba( 255, 40, 30, 0.75 );
}

.masked_pan {
	font-size: 0.75em;
	/*text-shadow: rgba(0,0,0,0.75) 1px 1px 2px;*/
	/*color: #eee;*/
	color: #aaa;
}

.settlement_server_section > div {
	display: table;
	border-radius: 0.5em
}

.settlement_server_section > div > div {
	padding: 0.5em;
}

.divtable,
.settlement_server_section > div > div > div {
	display: table-cell;
	vertical-align: middle;
	padding: 1em;
}

div[payment] {
	display: table-row;
}

.settlement_server_section input[type=button][name^=offline_payment_] {
	background: rgba( 255, 140, 30, 0.9 );
	border: 2px solid rgb( 255, 140, 30 );
	color: white;
	border-radius: 0.25em;
}
.settlement_server_section input[type=button][name^=offline_payment_]:hover {
	background: rgba( 255, 140, 30, 0.5 );
}

.divtable > div {
	display: table-row;
}

[hide] {
	display: none !important;
}
.errormessage {
	text-align: justify;
	font-size: 0.8em;
	position: absolute;
	background: rgba( 255, 40, 30, 0.75 );
	border-radius: 0.5em;
	color: white;
}

/*.divtable > div:hover {
	background: white;
	border-radius: 0.5em;
}*/


.settlement_server_section > div input[type=number],
.settlement_server_section > div input[type=text] {
	font-size: inherit;
	border: 0;
}

.divtable > div > div {
	display: table-cell;
	text-align: right;
}

.divtable > div > div:nth-child(1) {
	font-weight: bold;
	text-align: left;
}

.settlement_server_section > div input[type=text].failed,
.settlement_server_section > div input[type=number].failed,
.settlement_server_section > div input[type=text].diff,
.settlement_server_section > div input[type=number].diff {
	font-weight: bold;
}

.settlement_server_section > div input[type=text].failed,
.settlement_server_section > div input[type=number].failed {
	color: red !important;
}

.settlement_server_section:nth-child(5n+1) > h2 {
	color: rgba(246, 142, 32, 0.75 );
	/*#f68e20;*/
}
.settlement_server_section:nth-child(5n+1) > div {
	background: rgba(246, 142, 32, 0.25 );
}
.settlement_server_section:nth-child(5n+1) > div input[type=number].diff,
.settlement_server_section:nth-child(5n+1) > div input[type=text].diff {
	color: rgba(246, 142, 32, 1.0 );
}

.settlement_server_section:nth-child(5n+2) > h2 {
	color: rgba(60, 66, 135, 0.75 );
}
.settlement_server_section:nth-child(5n+2) > div {
	background: rgba(60, 66, 135, 0.25 );
}
.settlement_server_section:nth-child(5n+2) > div input[type=number].diff,
.settlement_server_section:nth-child(5n+2) > div input[type=text].diff {
	color: rgba(60, 66, 135, 1.0 );
}

.settlement_server_section:nth-child(5n+3) > h2 {
	color: rgba(55, 130, 168, 0.75 );
}
.settlement_server_section:nth-child(5n+3) > div {
	background: rgba(55, 130, 168, 0.25 );
	/*#3382a9;*/
}
.settlement_server_section:nth-child(5n+3) > div input[type=number].diff,
.settlement_server_section:nth-child(5n+3) > div input[type=text].diff {
	color: rgba(55, 130, 168, 1.0 );
}

.settlement_server_section:nth-child(5n+4) > h2 {
	color: rgba(14, 174, 149, 0.75 );
}
.settlement_server_section:nth-child(5n+4) > div {
	background: rgba(14, 174, 149, 0.25 );
	/*#0eae95;*/
}
.settlement_server_section:nth-child(5n+4) > div input[type=number].diff,
.settlement_server_section:nth-child(5n+4) > div input[type=text].diff {
	color: rgba(14, 174, 149, 1.0 );
}

.settlement_server_section:nth-child(5n+5) > h2 {
	color: rgba(235, 207, 74, 0.75 );
}
.settlement_server_section:nth-child(5n+5) > div {
	background: rgba(235, 207, 74, 0.25 );
	/*#ebcf4a;*/
}
.settlement_server_section:nth-child(5n+5) > div input[type=number].diff,
.settlement_server_section:nth-child(5n+5) > div input[type=text].diff {
	color: rgba(235, 207, 74, 1.0 );
}

/*lavu-color-first,
[isa=lavu-color-first] {
	background: #ebcf4a;
}

lavu-color-second,
[isa=lavu-color-second] {
	background: #f68e20;
}

lavu-color-third,
[isa=lavu-color-third] {
	background: #3c4287;
}

lavu-color-fourth,
[isa=lavu-color-fourth] {
	background: #3382a9;
}

lavu-color-fifth,
[isa=lavu-color-fifth] {
	background: #0eae95;
}

lavu-color-sixth,
[isa=lavu-color-sixth] {
	background: #acdc37;
}*/



/*.settlement_table tr.offline_needs_submission input {
	background: rgba(255,255,255,0.25);
}*/

/*ADDED 6/1 by EV per LAVU-82
Adds extra space to the copyright footer in the reports left nav version*/
.footer {
	margin-top: 150px;
}

.reports-pagination {
	margin-left: -40px;
}

.reports-pagination ul{
	margin:0 auto;
}

.reports-pagination li {
	color: #65a9a7;
	float: left;
	padding: 6px 12px;
	text-decoration: none;
	transition: background-color .3s;
	border: 1px solid #888888;
	list-style: none;
	height: 12px;
}

.reports-pagination .active-page {
	background-color:rgb(85, 153, 204);
	color: white;
}

.next-prev-button {
	height: 10px;
	background: #e6f0f8;
	color: #5599cc;
}

.table-loader-row {
	position: absolute;
	left: 0px;
	right: 0px;
	text-align: center;
	bottom: 0px;
	top: 0px;
}

.loadingImage {
	padding-top: 25%;
	z-index: 1;
	width: 24px;
	padding-left: 124px;
}

.action-disabled {
	pointer-events:none;
	opacity:0.6;
}

.table-loader {
	position: fixed;
	top: 0;
	bottom: -50px;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.06);
	text-align: center;
	z-index: 100000;
}

.table-loader-text {
	position: absolute;
	bottom: 50%;
	margin: 0 auto;
	left: 52%;
	padding: 8px;
}

.scrollable-element {
	margin-right: -16px;
	overflow-y:scroll;
	position: relative;
	overflow-x:hidden;
}

.hidden {
	display:none;
}
.show-query {
	display: block;
	width: 100%;
	overflow: auto;
	font-size: 12px;
	background: black;
	color: white;
	padding: 20px;
}