/*
body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
	margin: 0; padding: 0; border: 0;
}
*/

a,
img {
  border: 0;
}


/*Removed 9/19 by EV per LP-32*/


/*Allows iFrame src's to auto scroll vertically, and not scroll horizontally*/


/*body {
			min-width: 1300px;
		}*/

body,
table {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
}

a,
a:link,
a:visited {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 400;
}

a:hover {
  color: #aecd37;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 400;
}

.form_row_title {
  text-align: right;
  font-size: 16px;
}

.form_submit_button {
  padding-right: 20px;
  padding-left: 20px;
  font-weight: bold;
  font-size: 16px;
}

.top_panel {
  color: #c6ef26;
  font-weight: bold;
  font-size: 16px;
}

.top_panel2 {
  color: #c6ef26;
  font-weight: bold;
  font-size: 14px;
}

.top_panel a:link,
.top_panel a:visited {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
}

.top_panel a:hover {
  color: #a6cf26;
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
}

.top_nav {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #696969;
  font-weight: bold;
  font-size: 10px;
}

.top_nav a {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #696969;
  font-weight: bold;
  text-decoration: none;
  font-size: 10px;
}

.top_nav a:visited {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #696969;
  font-weight: bold;
  text-decoration: none;
  font-size: 10px;
}

.top_nav a:hover {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #454545;
  font-weight: bold;
  text-decoration: none;
  font-size: 10px;
}

.top_nav a:active {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #454545;
  font-weight: bold;
  text-decoration: none;
  font-size: 10px;
}

.titletext {
  color: #414141;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.headline_text {
  color: #868686;
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.maintext {
  color: #414141;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.maintextlight {
  color: #919191;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.maintexthead {
  color: #414141;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

#maintext {
  color: #414141;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

#maintext h4 {
  color: #95ae31;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 300;
}

#maintext h3 {
  color: #797979;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 600;
}

#maintext h2 {
  color: #797979;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 600;
}

#maintext a:link {
  color: #95ae31;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: 700;
}

#maintext a:visited {
  color: #95ae31;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: 700;
}

#maintext a:hover {
  color: #797979;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: 700;
}

.overview_greentext {
  color: #95ae31;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: 700;
  text-decoration: none;
}

.overview_blacktext {
  color: #5c5c5c;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: 700;
  text-decoration: none;
}

.help_greentext {
  color: #95ae31;
  background-color: #e9eed3;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  padding: 10px;
}

.numbox {
  color: #fff;
  background-image: url(images/circ1.png);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: 700;
}

.msg {
  color: #95ae31;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 300;
  text-decoration: none;
}

.msg_bold {
  color: #95ae31;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
}

#boxlinks {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 600;
}

#boxlinks a:link,
#boxlinks a:visited {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
}

#boxlinks a:hover {
  color: #505050;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
}

.boxlinks {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.boxlinks a:link,
.boxlinks a:visited {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
}

.boxlinks a:hover {
  color: #505050;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
}

.msg a:link,
.msg a:visited,
.msg a:hover {
  color: #95ae31;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 300;
  text-decoration: underline;
}

.sectiontitle {
  color: #9f9f9f;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 24px;
}

.sectiontext {
  color: #9f9f9f;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 12px;
}

.whitetitle {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.whitetitle_small {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 700;
}

.cct_labels {
  color: #999999;
  font-size: 11px;
}

.cct_info {
  color: #666666;
  font-size: 11px;
}

.videobox {
  background-image: url(images/youtube_box_full.jpg);
}

.table_header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #006600;
  padding: 1px 5px 1px 5px;
}

.info_value {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #000000;
}

.info_value2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #111111;
}

.info_value3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #222222;
}


/* howdy bar ------------------------------------------------------- */

.howdydo-style {
  background: #eaeaae;
  border-bottom: 2px solid #dbdb70;
  color: #d44942;
  font-size: 16px;
  text-align: center;
}

#aboveHeader {
  position: relative;
  width: 100%;
  top: 0px;
  min-width: 1256px;
  min-height: 10px;
  background-color: #aecd37;
}

#aboveHeaderContDiv {
	font-size:16px;
	padding-top:10px;
	padding-bottom:15px;
	padding-left:0px;
	padding-right:0px;
}

#aboveHeaderContText1 {
	color: #ffffff;
	font-weight: bold;
}

#aboveHeaderContDiv a:link,
#aboveHeaderContDiv a:visited,
#aboveHeaderContDiv a:hover,
#aboveHeaderContDiv a:active {
	color: white;
	text-decoration: underline;
	font-size:15px;
}

#header {
  position: relative;
  width: 100%;
  top: 0px;
  min-width: 1256px;
  margin-bottom: 10px;
  background-color: white;
  text-align: start;
}

#alignRightDiv {
  position: relative;
  left: 27%;
  padding-top: 10px;
  padding-bottom: 10px;
}

#logInfo {
  margin: 0 auto;
  width: 1100px;
  font-family: Verdana, Tahoma, Helvetica, Arial;
  font-size: 0.75em;
}

#underHeader {
  top: 52px;
  height: 20px;
  width: 900px;
  margin: 0 auto;
  background-image: url('/cp/images/banner_underfade.png');
  margin-top: -12px;
}

#fadeLine {
  background-image: url(/cp/images/fadeline_360.png);
  background-repeat: no-repeat;
  width: 102%;
  height: 5px;
  margin-left: -10px;
}

#logo {
  float: left;
  margin-top: 7px;
}

#userName {
  color: #73736f;
  float: left;
}

#separator {
  margin-left: 15px;
  float: left;
}

#logStatus {
  float: left;
  margin-left: 15px;
}

#loggedIn:link,
#loggedIn:visited {
  color: #83a010;
}

.logStatusIcon {
  margin-left: 5px;
}

#menuMyAccount {
  float: left;
  margin-left: 15px;
  cursor: pointer;
  color: #83a010;
}

#navigationDropDown {
  float: left;
  margin-left: 22px;
}


/* changed position of navigationDropDown select to accomidate database name feature By: Kelly Campbell */

#navigationDropDown select {
  max-width: 150px;
  margin-top: auto;
}


/* added css for placement of LP-133 Feature database name display By: Kelly Campbell */

#databasename {
  margin-left: 10px;
}

#howdydo-wrapper {
  overflow: visible;
  padding: 0;
  width: 100%;
  z-index: 999999;
}

.howdydo-box {
  display: none;
  padding: 10px 0;
  width: 100%;
}

#howdydo-close {
  position: absolute;
  /*	float: right;
		margin: 0 30px 0 0; */
  bottom: 10px;
  right: 30px;
  border: none;
}

#howdydo-open {
  padding: 7px;
  position: absolute;
  right: 20px;
  top: 0;
  border: none;
}

#center {
  position: relative;
  width: 100%;
}

#mainTable {
  display: table;
  min-width: 1100px;
  margin: 0 auto;
}

.content {
  /*padding:50px;*/
  background-color: white;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  height: 100%;
  padding-bottom: 90px;
  text-align: center;
}

.howdydo-hover {
  position: absolute;
  top: 0;
  left: 0;
}

.howdydo-scroll {
  position: fixed;
  top: 0;
  left: 0;
}

.howdydo-push {
  position: relative;
  clear: both;
  float: left;
  margin-bottom: 1px;
}

#notify a {
  color: #336699;
  font-size: 12px;
}

body {
  background: white;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  /*line-height: 5px;*/
}

nav {}

nav>ul>li>ul>li>ul {
  left: 0;
  top: 100%;
}

nav ul ul {
  display: none;
  z-index: 100;
}

nav ul li:hover>ul {
  display: block;
}

nav ul {
  width: 100%;
  padding: 0 20px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  list-style: none;
  position: relative;
  display: inline-table;
  margin-bottom: 0px;
  height: auto;
  margin: 0 auto;
  text-align: center;
}

nav ul:after {
  content: '';
  clear: both;
  display: block;
}

nav ul li {
  display: inline-block;
  margin-bottom: -5px;
}

nav ul li:hover {
  color: white;
  /*
	//background-color: #aecd37;

	//background: #4b545f;
	//background: linear-gradient(top, #cef046 0%, #aecd37 20%);
	//background: -moz-linear-gradient(top, #cef046 0%, #aecd37 20%);
	//background: -webkit-linear-gradient(top, #cef046 0%,#aecd37 20%);*/
}

nav ul li:hover a {
  /*color: #eeeeee;*/
}

nav ul li a {
  display: block;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  color: #8b8b8b;
  text-decoration: none;
}

nav ul ul {
  background: #ededed;
  background: rgba(224, 224, 224, 0.9);
  border-radius: 0px;
  padding: 0;
  position: absolute;
  width: 100%;
  width: calc(100% - 40px);
  top: 100%;
  left: 0px;
  height: 40px;
}

nav ul ul li {
  /*
	//width:100px;
	//border-top: 1px solid #6b727c;
	//border-bottom: 1px solid #575f6a;
	*/
  white-space: nowrap;
  background: #ededed;
  background: rgba(224, 224, 224, 0.9);
  position: relative;
}

nav ul ul li a {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 0px;
  /*border-right:1px solid #a0bb33;*/
  padding-bottom: 10px;
  /*border-left:1px solid #a0bb33;*/
  color: #8b8b8b;
}

nav ul ul li a:hover {
  background: white;
  color: #313235;
}

nav ul ul ul {
  list-style: none;
  position: absolute;
  min-width: 200px;
  text-align: left;
  border-top: 0px;
  left: 100%;
  top: 0;
}

nav ul ul ul li {
  position: relative;
  z-index: 100;
  width: 100%;
  /*border-bottom:1px solid #a0bb33;*/
  float: left;
}

.reportMenu {
  padding-right: 5px;
  text-align: left;
  position: static;
  float: left;
  vertical-align: top;
}

.menuHeader {
  color: #8b8b8b;
  font-size: larger;
  padding-bottom: 10px;
  text-align: center;
  border-bottom: 1px solid #8b8b8b;
}

#contentHome {
  margin-left: 0px;
}

#contentHomeRight {
  text-align: left;
  display: inline-block;
  border: 1px solid #b1b2a8;
  margin-left: 80px;
  width: 480px;
  margin-bottom: 25px;
}

.contentHomeRightTitle {
  color: #74766a;
  background-color: #b3b4ae;
  text-align: center;
}

#messagesAccordion {
  font-size: 13px;
  font-family: Verdana, Tahoma, Helvetica, Arial;
  color: #8d8e87;
}

.dataCenter {
  border: solid 1px #777777;
  width: 100px;
  background-color: #cccccc;
  color: white;
  cursor: pointer;
}

.dataCenter:hover {
  color: #aecd37;
  background-color: white;
  border-color: #aecd37;
}

.ui-state-default .messagesIcon {
  margin-left: -10px;
  margin-right: 20px;
}

.ui-state-active .messagesIcon {
  margin-left: -10px;
  margin-right: 20px;
}

.messagesIcon {
  margin-top: -5px;
}

.messagePreview {
  font-size: 0.7em;
  color: #a7a6a3;
  margin-left: 27px;
  padding-top: 5px;
  display: block;
}

.ui-state-active .messagePreview {
  color: #fcfaf5;
}

#messagesButtonContainer {
  background-color: #b3b4ae;
  color: #f0f0ef;
  height: 20px;
  margin-top: -16px;
}

.accordionButton {
  cursor: pointer;
}

#accordionShade {
  margin-top: -19px;
  margin-left: 175px;
  position: absolute;
}

.accordionButton {
  display: inline;
}

.accordionContent {
  font-size: 0.75em;
  margin: 0 auto;
}

.ui-accordion-content {
  position: relative;
}

.titleAccordion {
  display: block;
  font-family: verdana;
  font-size: 12px;
  margin-left: 10px;
  /*
	//margin-top:8px;

	//margin-top:-10px;
	*/
  padding: 20px;
}

.accordionContentText {
  margin-left: 20px;
  margin-right: 20px;
}

#contractAllMessages {
  display: none;
}

#expandAllMessages {
  margin-left: 370px;
  margin-right: 10px;
  display: none;
}

.tableSpacing {
  position: relative;
  margin: 0 auto;
}

.internalMenu {
  border: 0px;
  border-spacing: 0px;
  padding-bottom: 15px;
}

.subInternalMenuItem {
  padding: 0px;
  color: black;
  width: 150px;
  white-space: pre-wrap;
}

.subInternalMenuItem a {
  padding: 0.1em 0.3em;
}

.internalMenuItemSelected {
  padding: 10px;
  color: black;
  font-weight: bold;
  /*border-top:1px solid #aecd37;*/
  /*border-right:1px solid #aecd37;*/
  /*border-left:1px solid #aecd37;*/
  /*border-left:1px solid #a0bb33;*/
  padding-left: 30px;
  padding-right: 30px;
}

.internalMenuItem {
  /*border-right:1px solid #a0bb33;*/
  /*border-left:1px solid #a0bb33;*/
  padding-left: 30px;
  padding-right: 30px;
  background-color: #efefef;
  padding-top: 10px;
  padding-bottom: 10px;
}

.subInternalMenuItemLink {
  text-align: center;
  color: #8b8b8b;
  text-decoration: none;
  white-space: nowrap;
}


/*Inserted by Brian D.*/

.subInternalMenuItemLinkDisabled {
  text-align: center;
  color: #bbb;
  text-decoration: none;
  white-space: nowrap;
}

.subInternalMenuItemLinkDisabled:hover {
  text-align: center;
  color: #bbb;
  text-decoration: none;
  white-space: nowrap;
}


/*End Insert*/

.subInternalMenuItemLinkSelected {
  text-align: center;
  color: black;
  background-color: #efefef;
  border: 1px solid #efefef;
  text-decoration: none;
  white-space: nowrap;
}

.subInternalMenuItemLinkSelected:hover {
  color: white;
  text-decoration: none;
}

.subInternalMenuItemLink:hover {
  text-align: center;
  color: black;
  text-decoration: none;
}

.internalMenuItemLink {
  text-align: center;
  color: #8b8b8b;
  text-decoration: none;
}

.internalMenuItemLinkSelected {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.internalMenuItemLink:hover {
  color: black;
  text-decoration: none;
}

.selectedLink {
  position: relative;
  height: 20%;
  margin-bottom: 0px;
  background-color: white;
}

#extendPageHeader {
  font-size: x-large;
  padding-bottom: 30px;
}

.extension {
  position: relative;
  float: left;
  border: 1px solid rgba(99, 99, 99, 0.49);
  width: 310px;
  height: 310px;
  margin: 5px;
}

.extensionUsage {
  position: relative;
  float: left;
  padding-top: 10px;
  padding-left: 10px;
  color: rgb(46, 113, 151);
}

.extensionLogo {
  padding-top: 60px;
  padding-bottom: 30px;
  height: 60px;
}

.extensionTitle {
  color: rgb(46, 113, 151);
  border-bottom: 2px solid #aecd37;
  width: 85%;
}

.extensionTypeImage {
  position: absolute;
  top: 85%;
  left: 10px;
}

.extensionLink {
  position: absolute;
  top: 84%;
  right: 10px;
}

.extensionLink:hover {
  cursor: pointer;
}

.extensionFeatures {
  font-size: smaller;
  padding: 10px;
  text-align: left;
}


/*.saveBtn{
	font-family:sans-serif,verdana;
	background-color:#aecd37;
	border-radius:3px;
	padding-top:8px;
	padding-bottom:8px;
	padding-right:50px;
	padding-left:50px;
	color:white;
	font-weight:400;
	border:1px solid #29310b;
	text-transform: uppercase;

}
.saveBtn:hover{
	background-color:#1d1d1d;
	border:1px solid #aecd37;
	color:#aecd37;
	border-radius:3px;

}*/

.categoryDetails {
  font-size: 10px;
  background-color: #f4f4ff;
  border: solid 1px #777777;
  background-image: url(/cp/images/btn_details_cat_init.png);
  color: rgba(134, 182, 230, 0);
  width: 95px;
  height: 20px;
}

.categoryDetails:hover {
  background-color: #c4c4cf;
  cursor: pointer;
}


/*.itemDetails{
	font-size:10px;
	background-color:white;
	border:solid 1px #777777;
	background-image:url(/cp/images/btn_details_lit.png);
	width:39px;
	color: rgba(134, 182, 230, 0.0);
}*/

.itemDetails:hover {
  background-color: #c4c4cf;
  cursor: pointer;
}

#grayBackground {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(78, 78, 78, 0.68);
  z-index: 100;
  left: 0px;
  top: 0px;
}

#permissionsRequest {
  display: none;
  z-index: 101;
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  border: 1px solid #aecd37;
  border-radius: 3px;
  width: 600px;
  height: 400px;
  left: 25%;
  position: fixed;
  top: 200px;
}

#disclamer {
  display: none;
  width: 670px;
  height: 412px;
  font-size: large;
  font-weight: 100;
  font-family: sans-serif, verdana;
  padding: 10px;
  border: 1px solid black;
  background-color: rgba(1, 1, 1, 0.5);
  position: absolute;
  height: 470px;
  top: 350px;
  margin: 0 auto;
  left: 155px;
}

.text_container {
  background-color: white;
  padding: 15px;
}

.permissionsLI {}

#informationRequests {
  padding-top: 30px;
  width: 70%;
  margin: 0 auto;
  height: 200px;
  overflow: auto;
}

.permissionsUL {
  text-align: left;
}

#approveOrDeny {
  padding-top: 30px;
  width: 70%;
  margin: 0 auto;
}

.permissionsButton {
  margin-top: 10px;
  background-color: #aecd37;
  color: white;
  border: 1px solid #aecd37;
}

.permissionsButton:hover {
  color: black;
  border-color: #aecd37;
  cursor: pointer;
}

#extensionBackend {
  display: none;
  width: 100%;
  height: 100%;
}

#extendBackend {
  border: 0;
  width: 960px;
  height: 600px;
}

#extensionBackBtn {
  text-align: left;
  color: #aecd37;
  font-family: sans-serif, verdana;
  font-weight: 200;
  font-size: large;
}

#extensionBackBtn:hover {
  cursor: pointer;
}

.configReports {
  position: relative;
  padding: 10px;
  color: #313235;
  padding-bottom: 10px;
  right: 0px;
  top: -20px;
  text-align: right;
  font-family: sans-serif, verdana;
  font-size: large;
  font-weight: 100;
}

.configReports:hover {
  color: #aecd37;
  cursor: pointer;
}

#lavuLogo {
  background-image: url('/cp/images/lavucp_logo.png');
  color: #aecd37;
  font-family: sans-serif, verdana;
  font-weight: 500;
  font-size: x-large;
  display: inline-block;
  position: absolute;
  top: 15px;
  padding-left: 51px;
  width: 110px;
  height: 40px;
}

.contentHomeLeftTitleText {
  font-family: sans-serif, verdana;
  font-weight: 100;
  font-size: large;
}

#legendContainer {
  position: absolute;
  float: left;
}

.aboutDataCenter:hover {
  cursor: pointer;
}

#homePopupArea {
  display: none;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 100;
}

#homeLightBox {
  position: relative;
  top: 40%;
  margin: 0 auto;
  border: 2px solid gray;
  border-radius: 4px;
  width: 500px;
  height: 200px;
  margin: 0 auto;
  background-color: rgba(49, 49, 49, 0.86);
  color: white;
}

#homeTextContent {}

#lightBoxClose {
  position: absolute;
  right: 3px;
  top: 2px;
}

#lightBoxClose:hover {
  cursor: pointer;
}

#lockout {
  display: none;
  position: fixed;
  z-index: 10000;
  width: 100%;
  top: 0px;
  height: 130%;
  background-color: rgba(90, 90, 90, 0.81);
}
#lockout_billing {
  display: none;
  position: fixed;
  z-index: 10000;
  width: 100%;
  top: 130px;
  height: 130%;
  background-color: rgba(90, 90, 90, 0.81);
}
#lightBoxContent {
  position: absolute;
  left: 0px;
  text-align: left;
  padding-top: 61px;
  margin-left: 20px;
  margin-right: 20px;
  width: 460px;
  height: 10%;
}

#configValuesForm {
  position: relative;
  top: 40px;
  font-weight: 100;
}

.feature_content:hover {
  cursor: pointer;
}

.feature_content {
  border: 1px solid black;
  padding: 5px;
}

.feature_content_all {
  display: none;
}

#add_reseller {
  color: #aecd37;
}

#add_reseller:hover {
  color: white;
  cursor: pointer;
}

#main_container {
  width: 100%;
}

.container {
  width: 100%;
  background-color: gray;
  height: 40px;
}

.message_title {
  display: inline-table;
  font-weight: 100;
  position: relative;
  font-size: 30px;
  left: 0px;
  float: left;
  background-color: gray;
  color: white;
}

.message_date {
  right: 0px;
  background-color: gray;
  font-size: 10px;
  display: inline-table;
  float: right;
}

.ind_container {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #cbcbcb;
}

.message_content {
  background-color: #cbcbcb;
  text-align: left;
  padding-left: 10px;
}

.text_container {
  text-align: left;
  font-size: smaller;
  width: 640px;
}

.close_overlay {
  position: relative;
  float: right;
  background: url('/cp/images/close_icon.png');
  width: 30px;
  height: 30px;
}

.close_overlay:hover {
  cursor: pointer;
}

.upgrade_devices_container {
  border: 1px solid black;
  width: 610px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #eeeeee;
  margin-bottom: 10px;
}

.upgrade_notice {
  width: 600px;
}

.move_arrow {
  position: relative;
  background: url('/cp/images/drag_arrow.png');
  background-size: 20px, 20px;
  width: 20px;
  height: 20px;
  float: left;
}

.multi_input_container {
  /*
	margin:10px;
    border:1px solid black;
    min-width:40%;
*/
}

.move_arrow:hover {
  cursor: ns-resize;
}

.multi_text_input {
  display: inline-block;
}

#multi_text_list {
  list-style: none;
  padding: 0;
  /*min-height: 12em;*/
  width: 100%;
}

.footer {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
  color: gray;
}

#emergency_notice_content {
  padding: 10px;
}

#emergency_notice_title {
  padding: 10px;
}

#emergency_notice {
  display: none;
}

.add_ministry_btn,
.add_payment_amt_btn {
  background-color: #aecde7;
  border-radius: 4px;
  display: inline-table;
  border: 1px solid #aecde7;
  padding: 5px 10px 5px 10px;
}

.add_ministry_btn:hover,
.add_payment_amt_btn:hover {
  background-color: white;
  border: 1px solid #aecde7;
  cursor: pointer;
}

.ministry_row {
  width: 270px;
  cursor: row-resize;
}

.ministries_sortable {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 60%;
}

.ministries_sortable li {
  margin: 0 3px 3px 3px;
  padding: 0.4em;
  padding-left: 1.5em;
  font-size: 1.4em;
  height: 18px;
}

.ministries_sortable li span {
  position: absolute;
  margin-left: -1.3em;
}

.amounts_sortable {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 60%;
}

.amounts_sortable li {
  margin: 0 3px 3px 3px;
  padding: 0.4em;
  padding-left: 1.5em;
  font-size: 1.4em;
  height: 18px;
}

.amounts_sortable li span {
  position: absolute;
  margin-left: -1.3em;
}


/*Added by EV 5/17/16 per BT6928
Fixes left padding on all "Add" buttons in CP*/

div [id^='ic_cat'] table tbody tr td {
  padding-left: 30px !important;
}

#ic_area+table tbody tr td {
  padding-left: 30px !important;
}


/*Added 6/8 by EV per LAVU-88*/


/*Styles container holding the message counter int he Messages header*/

#displayContainer {
  margin-left: 10px;
  font-weight: normal !important;
  font-size: 12px !important;
}


/*Style for the highlight of unread messages*/

.unreadMessage {
  background-color: rgb(195, 238, 245);
}


/*Below added 9/12/16 by EV per LP-32*/


/**********************Universal styles***********************************/


/*Removes outline on click of all elements*/

*:focus {
  outline: 0;
}


/*****************Hyperlink Styles*******************/

a:link,
a:visited {
  text-decoration: none;
}


/*Hyperlinks in meals periods*/

a#sort1,
a#sort2,
a#sort3,
a#sort4 {
  color: #666;
  font-weight: bold;
  text-decoration: underline;
  transition: all 0.3s;
}


/*Hover states for above styles*/

a#sort1:hover,
a#sort2:hover,
a#sort3:hover,
a#sort4:hover {
  text-shadow: 0px 1px 3px #ddd;
  color: #aecd37;
}


/**********************Add button styles*******************/


/*All Add buttons*/

.addBtn,
.addNewBtn,
.addShiftBtn,
.addMoreBtn {
  width: 160px;
  height: 22px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  border: 0 none;
  font-family: sans-serif, verdana;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  /*text-align: left;*/
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0px 1px 3px #999;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#aecd37+0,99bc08+51,99bc08+54,aecd37+100 */
  background: #aecd37;
  /* Old browsers */
  background: -moz-linear-gradient( top, #aecd37 0%, #99bc08 51%, #99bc08 54%, #aecd37 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient( top, #aecd37 0%, #99bc08 51%, #99bc08 54%, #aecd37 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient( to bottom, #aecd37 0%, #99bc08 51%, #99bc08 54%, #aecd37 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aecd37', endColorstr='#aecd37', GradientType=0);
  /* IE6-9 */
  transition: all 0.3s;
  cursor: pointer;
  margin: 8px 4px;
}


/*Hover states for above*/

.addBtn:hover,
a.addNewBtn:hover,
.addShiftBtn:hover,
.addMoreBtn:hover {
  cursor: pointer;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#aecd37+0,99bc08+92,99bc08+94,aecd37+100 */
  background: #aecd37;
  /* Old browsers */
  background: -moz-linear-gradient( top, #aecd37 0%, #99bc08 92%, #99bc08 94%, #aecd37 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient( top, #aecd37 0%, #99bc08 92%, #99bc08 94%, #aecd37 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient( to bottom, #aecd37 0%, #99bc08 92%, #99bc08 94%, #aecd37 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aecd37', endColorstr='#aecd37', GradientType=0);
  /* IE6-9 */
  box-shadow: 0px 1px 3px #999;
  text-shadow: 0px 1px 3px #666;
  color: #fff;
}


/*Down states for above*/

.addBtn:active. a.addNewBtn:active,
.addShiftBtn:active,
.addMoreBtn:active {
  -moz-box-shadow: inset 0 0 10px #999;
  -webkit-box-shadow: inset 0 0 10px #999;
  box-shadow: inset 0 0 10px #999;
}


/*Plus sign style for all Add buttons*/

.plus {
  font-size: 18px;
  font-weight: lighter;
  border-right: 1px solid rgba(255, 255, 255, 0.35);
  margin: 0 10% 0 -12%;
  padding-right: 9%;
}


/*Hover state for above*/

.plus:hover {
  font-weight: 900;
}


/*Hyperlink based add buttons (old image based add buttons)*/

a.addNewBtn {
  display: inline-block;
  width: 140px;
  height: 20px;
  text-decoration: none;
  line-height: 17px;
}


/*Line height for above*/

.addNewBtn {
  line-height: 17px;
}


/*Plus sign for above*/

a.addNewBtn .plus {
  font-size: 20px;
  font-weight: lighter;
  position: relative;
  top: 2px;
  left: 2px;
}


/*New style for old image based Add Shift buttons*/

.addShiftBtn {
  line-height: 20px;
}


/*New Style for old image based Add More buttons*/

.addMoreBtn span {
  position: relative;
  top: 3px;
  left: 40px;
}


/*Adjusts the placement of the text and plus sign on all hyperlink based Add buttons in Left Nav CP*/

.leftNav a.addNewBtn {
  padding-left: 32px;
  width: 118px;
}


/***********************Small action button styles****************/


/*All close and move arrow buttons*/

.closeBtn,
.moveArrow,
#upArrow,
#downArrow {
  border-radius: 2px;
  -webkit-border-radius: 2px;
  border: 1px solid #ddd;
  display: inline-block;
  width: 16px !important;
  height: 16px !important;
  font-family: sans-serif, verdana;
  font-size: 15px;
  font-weight: normal;
  text-align: center;
  color: #aecd37 !important;
  /*text-shadow: 0px 1px 3px #999;*/
  line-height: 1.1em;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,fcfcfc+50,f7f7f7+51,f6f6f6+100 */
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient( top, #ffffff 0%, #fcfcfc 50%, #f7f7f7 51%, #f6f6f6 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient( top, #ffffff 0%, #fcfcfc 50%, #f7f7f7 51%, #f6f6f6 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient( to bottom, #ffffff 0%, #fcfcfc 50%, #f7f7f7 51%, #f6f6f6 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6', GradientType=0);
  /* IE6-9 */
  transition: all 0.3s;
  cursor: pointer;
}
.move-td{
  border: 1px solid #ddd;
  text-align: center;
  color: #aecd37 !important;
  /*text-shadow: 0px 1px 3px #999;*/
  line-height: 0px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,fcfcfc+50,f7f7f7+51,f6f6f6+100 */
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient( top, #ffffff 0%, #fcfcfc 50%, #f7f7f7 51%, #f6f6f6 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient( top, #ffffff 0%, #fcfcfc 50%, #f7f7f7 51%, #f6f6f6 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient( to bottom, #ffffff 0%, #fcfcfc 50%, #f7f7f7 51%, #f6f6f6 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6', GradientType=0);
  /* IE6-9 */
  cursor: pointer;
}

/*Hover states for above*/

.closeBtn:hover,
.moveArrow:hover,
#upArrow:hover,
#downArrow:hover {
  cursor: pointer;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f6f6f6+0,f7f7f7+49,fcfcfc+50,ffffff+100 */
  background: #f6f6f6;
  /* Old browsers */
  background: -moz-linear-gradient( top, #f6f6f6 0%, #f7f7f7 49%, #fcfcfc 50%, #ffffff 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient( top, #f6f6f6 0%, #f7f7f7 49%, #fcfcfc 50%, #ffffff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient( to bottom, #f6f6f6 0%, #f7f7f7 49%, #fcfcfc 50%, #ffffff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#ffffff', GradientType=0);
  /* IE6-9 */
  box-shadow: 0px 1px 3px #999;
  font-weight: 900;
  display: inline-block;
  width: 16px !important;
  height: 16px !important;
  font-family: sans-serif, verdana;
  font-size: 15px !important;
  font-weight: normal;
  text-align: center;
  color: #aecd37 !important;
  /*text-shadow: 0px 1px 3px #999;*/
  line-height: 1.1em;
}


/*Down states for above*/

.closeBtn:active,
.moveArrow:active,
#upArrow:active,
#downArrow:active {
  -moz-box-shadow: inset 0 0 10px #999;
  -webkit-box-shadow: inset 0 0 10px #999;
  box-shadow: inset 0 0 10px #999;
}


/*Add Edit Menu Groups arrow styles*/

#upArrow,
#downArrow {
  text-align: center;
}


/*Rotation for the up arrow*/

#upArrow {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1.0);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}


/*Position for close button in menu header*/

.menuHead .closeBtn {
  position: relative;
  bottom: 8px;
  margin-right: 2px;
}


/*Cursor for Move Arrow*/

.moveArrow {
  cursor: move;
}


/*****************Large & medium action button styles**************/


/*All Save buttons*/

.saveBtn,
input[type='submit'] {
  border-radius: 2px;
  -webkit-border-radius: 2px;
  border: 0 none !important;
  width: 10em;
  height: 3em;
  font-family: sans-serif, verdana;
  font-weight: 600;
  font-size: 1em;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0px 1px 3px #999;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#aecd37+0,99bc08+51,99bc08+54,aecd37+100 */
  background: #aecd37;
  /* Old browsers */
  background: -moz-linear-gradient( top, #aecd37 0%, #99bc08 51%, #99bc08 54%, #aecd37 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient( top, #aecd37 0%, #99bc08 51%, #99bc08 54%, #aecd37 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient( to bottom, #aecd37 0%, #99bc08 51%, #99bc08 54%, #aecd37 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aecd37', endColorstr='#aecd37', GradientType=0);
  /* IE6-9 */
  transition: all 0.3s;
}

button#migrateBtn.saveBtn:disabled {
  cursor: no-drop;
  background: #999;
}

button#migrateBtn.saveBtn:hover:disabled {
  cursor: no-drop;
  background: #999;
  box-shadow: none;
}


/*ancher export button*/

a.exportBtn {
  border-radius: 2px;
  -webkit-border-radius: 2px;
  border: 0 none !important;
  width: 10em;
  height: 3em;
  padding: 12px 5px;
  font-family: sans-serif, verdana;
  font-weight: 600;
  font-size: 1em;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0px 1px 3px #999;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#aecd37+0,99bc08+51,99bc08+54,aecd37+100 */
  background: #aecd37;
  /* Old browsers */
  background: -moz-linear-gradient( top, #aecd37 0%, #99bc08 51%, #99bc08 54%, #aecd37 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient( top, #aecd37 0%, #99bc08 51%, #99bc08 54%, #aecd37 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient( to bottom, #aecd37 0%, #99bc08 51%, #99bc08 54%, #aecd37 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aecd37', endColorstr='#aecd37', GradientType=0);
  /* IE6-9 */
  transition: all 0.3s;
}


/*All medium buttons*/

input[type='button'],
input[type='reset'],
.contBtn,
.renameBtn {
  border-radius: 2px;
  -webkit-border-radius: 2px;
  border: 0 none !important;
  /*width:10em;*/
  height: 1.75em;
  display: inline-block;
  font-family: sans-serif, verdana;
  font-weight: 400;
  font-size: 1em;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0px 1px 1px #999;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#aecd37+0,99bc08+51,99bc08+54,aecd37+100 */
  background: #aecd37;
  /* Old browsers */
  background: -moz-linear-gradient( top, #aecd37 0%, #99bc08 51%, #99bc08 54%, #aecd37 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient( top, #aecd37 0%, #99bc08 51%, #99bc08 54%, #aecd37 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient( to bottom, #aecd37 0%, #99bc08 51%, #99bc08 54%, #aecd37 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aecd37', endColorstr='#aecd37', GradientType=0);
  /* IE6-9 */
  transition: all 0.3s;
}


/*New style for Continue button in Assistance*/

.contBtn {
  width: 150px;
  text-align: center;
  line-height: 21px;
}


/*Rename button in add edit menu groups*/

.renameBtn {
  width: 60px;
  text-align: center;
  line-height: 21px;
}

.renameBtn:hover {
  color: #fff;
}


/*Hover states for all large & medium buttons*/

.saveBtn:hover,
input[type='submit']:hover,
input[type='button']:hover,
input[type='reset']:hover,
.contBtn:hover,
.renameBtn:hover,
a.exportBtn:hover {
  cursor: pointer;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#aecd37+0,99bc08+92,99bc08+94,aecd37+100 */
  background: #aecd37;
  /* Old browsers */
  background: -moz-linear-gradient( top, #aecd37 0%, #99bc08 92%, #99bc08 94%, #aecd37 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient( top, #aecd37 0%, #99bc08 92%, #99bc08 94%, #aecd37 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient( to bottom, #aecd37 0%, #99bc08 92%, #99bc08 94%, #aecd37 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aecd37', endColorstr='#aecd37', GradientType=0);
  /* IE6-9 */
  box-shadow: 0px 1px 3px #999;
  text-shadow: 0px 1px 3px #666;
}


/*Down states for above*/

.saveBtn:active,
input[type='submit']:active,
input[type='button']:active,
input[type='reset']:active,
.contBtn:active,
.renameBtn:active {
  -moz-box-shadow: inset 0 0 10px #999;
  -webkit-box-shadow: inset 0 0 10px #999;
  box-shadow: inset 0 0 10px #999;
}


/*Category Buttons in Menu*/

input[type='button'].categoryDetails {
  width: 130px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#666666+0,888888+51,888888+54,666666+100 */
  background: #777777;
  /* Old browsers */
  background: -moz-linear-gradient( top, #777777 0%, #888888 51%, #888888 54%, #777777 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient( top, #777777 0%, #888888 51%, #888888 54%, #777777 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient( to bottom, #777777 0%, #888888 51%, #888888 54%, #777777 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#777777', endColorstr='#777777', GradientType=0);
  /* IE6-9 */
  transition: all 0.3s;
}


/*Hover states for above*/

input[type='button'].categoryDetails:hover {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#888888+0,666666+92,666666+94,777777+100 */
  background: #777777;
  /* Old browsers */
  background: -moz-linear-gradient( top, #777777 0%, #666666 92%, #666666 94%, #777777 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient( top, #777777 0%, #666666 92%, #666666 94%, #777777 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient( to bottom, #777777 0%, #666666 92%, #666666 94%, #777777 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#777777', endColorstr='#777777', GradientType=0);
  /* IE6-9 */
}

.scheduleTable .categoryDetails {
  margin-bottom: 8px;
}


/**********************Text input and text area styles********************/


/*All text inputs*/

input[type='text'],
input[type='textarea'],
input[type='password'],
textarea,
input[type='text']:disabled {
  border-radius: 2px;
  -webkit-border-radius: 2px;
  border: 1px solid #bbb;
  font-family: sans-serif, verdana;
  color: #333;
  margin: 0 2px;
  cursor: pointer;
}


/*Hover states for above*/

input[type='text']:hover,
input[type='textarea']:hover,
input[type='password']:hover,
textarea:hover {
  box-shadow: 0px 1px 3px #999;
}


/*Down states for above*/

input[type='text']:active,
input[type='textarea']:active,
input[type='password']:active,
textarea:active {
  -moz-box-shadow: inset 0 0 10px #999;
  -webkit-box-shadow: inset 0 0 10px #999;
  box-shadow: inset 0 0 10px #999;
}


/*Disabled states for above*/

input[disabled]:hover,
input[disabled]:active {
  box-shadow: 0 0 0;
  cursor: no-drop;
}


/**********************Dropdown styles*******************/


/*Select dropdown style*/

select,
input[type='hidden'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  font-size: 0.9em !important;
  height: 1.65em;
  padding-left: 2px;
  padding-right: 18px;
  margin: 5px 2px;
  font-size: 16px;
  color: #333;
  background-color: #fbfbfb;
  border: 1px solid #cccccc;
  -ms-word-break: normal;
  word-break: normal;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  background: url(/cp/images/120906.svg) 96% / 8px no-repeat #fbfbfb;
  max-width: 17.9em;
}

.select2-dropdown {
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  display: block;
  position: absolute;
  left: -100000px;
  width: 100%;
  z-index: 1051;
  font-size: 0.9em;
  color: #333;
  background-color: #fbfbfb;
  max-width: 500px;
  transition: all 0.3s;
}

.select2-container--default .select2-selection--single {
  font-size: 0.9em;
  color: #333;
  background-color: #fbfbfb;
  border: 1px solid #ccc;
  border-radius: 2px;

  max-width: 195px !important;
  transition: all 0.3s;
}


/*Hover states for above*/

select:hover,
.select2-dropdown:hover,
.select2-container--default .select2-selection--single:hover {
  cursor: pointer;
  box-shadow: 0px 1px 3px #999;
}

span .select2-dropdown:hover {
  cursor: pointer;
  box-shadow: 0px 1px 5px #999;
}


/*Disbaled states for above*/

select:disabled {
  color: #999;
  background: none;
  cursor: no-drop;
}


/*Hover state for disbale state above*/

select:disabled:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}


/*Fix for file selector drop down height, in menu images*/

#file_selector {
  height: 25px;
}


/*********************Check box styles************************/


/*All checkboxes hover state*/

input[type='checkbox']:hover {
  cursor: pointer;
  box-shadow: 0px 1px 3px #999;
}


/**********************Menu Image container style******************/

.menuImg {
  border: solid 1px #aaa;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  cursor: pointer;
}


/***********************Checkout Layout Editor Styles**********************/


/*Forward and back buttons*/

.back_btn,
.next_btn {
  border-radius: 2px;
  -webkit-border-radius: 2px;
  border: 0 none !important;
  font-family: sans-serif, verdana;
  font-weight: 600;
  font-size: 1em;
  color: #fff !important;
  text-transform: uppercase;
  text-shadow: 0px 1px 3px #999;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#aecd37+0,99bc08+51,99bc08+54,aecd37+100 */
  background: #aecd37;
  /* Old browsers */
  background: -moz-linear-gradient( top, #aecd37 0%, #99bc08 51%, #99bc08 54%, #aecd37 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient( top, #aecd37 0%, #99bc08 51%, #99bc08 54%, #aecd37 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient( to bottom, #aecd37 0%, #99bc08 51%, #99bc08 54%, #aecd37 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aecd37', endColorstr='#aecd37', GradientType=0);
  /* IE6-9 */
  transition: all 0.3s;
  cursor: pointer;
}


/*Back button positioning*/

.back_btn {
  width: 70px;
  float: left;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
}


/*Foward button positioning*/

.next_btn {
  width: 70px;
  float: right;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
}


/*Reset button*/

.reset_btns {
  width: 70px;
  height: 29px;
  line-height: 18px;
  position: relative;
  left: 285px;
  top: -10px;
}


/*Hover states for forward, back and reset buttons*/

.back_btn:hover,
.next_btn:hover,
.reset_btns:hover {
  cursor: pointer;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#aecd37+0,99bc08+92,99bc08+94,aecd37+100 */
  background: #aecd37;
  /* Old browsers */
  background: -moz-linear-gradient( top, #aecd37 0%, #99bc08 92%, #99bc08 94%, #aecd37 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient( top, #aecd37 0%, #99bc08 92%, #99bc08 94%, #aecd37 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient( to bottom, #aecd37 0%, #99bc08 92%, #99bc08 94%, #aecd37 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aecd37', endColorstr='#aecd37', GradientType=0);
  /* IE6-9 */
  box-shadow: 0px 1px 3px #999;
  text-shadow: 0px 1px 3px #666;
}


/*Down states for above*/

.back_btn:active,
.next_btn:active,
.reset_btns:active {
  -moz-box-shadow: inset 0 0 10px #999;
  -webkit-box-shadow: inset 0 0 10px #999;
  box-shadow: inset 0 0 10px #999;
}


/*Position reset button in left nav only*/

.leftNav .reset_btns {
  left: 296px;
}


/*****************iFrame styles*****************/


/*Fixes scroll options on iframes*/

iframe#dframe {
  overflow-x: auto;
  overflow-y: auto;
}


/*******************Main Nav styles********************/


/*Main Nav menu width*/

.menu {
  width: 100%;
}


/*Adjusts main content div to give extra room for the rollover menus on the nav*/

#main_content_area {
  margin-top: 50px;
  text-align: center;
}

a.current {
  color: black;
}


/*****************Inventory 2.0 Pop Up***************/

#main_content_area #inventoryModal {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  height: 100%;
  width: 100%;
}

#main_content_area #inventoryModal2 {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  height: 100%;
  width: 100%;
}

#main_content_area .inventoryModalcontent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 40%;
  padding: 20px;
}

.closeBtnContainer {
  display: flex;
  justify-content: flex-end;
}

#main_content_area #inventoryModal .inventoryModalcontent .saveBtn,
.messagesBtn.saveBtn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.inventoryModalcontent p {
  text-align: justify;
  line-height: 18px;
  font-size: 12px;
  margin: 20px 2px;
}

.inventoryModalcontent p:last-child {
  font-size: 10px;
}


/************Shop pop up styles*************/


/*Pop up window*/

#shopPop {
  width: 400px;
  height: 100px;
  background-color: #fff;
  color: #333;
  background-color: #fbfbfb;
  border: 1px solid #cccccc;
  border-radius: 2px;
  text-align: center;
  box-shadow: 0px 1px 3px #999;
  position: absolute;
  top: 300px;
  left: 50%;
  margin-left: -200px;
  z-index: 2000;
  display: none;
}


/*pop up text*/

#shopPop p {
  line-height: 30px;
}


/*pop up close btn location*/

#shopPop .closeBtn {
  position: absolute;
  right: 10px;
  top: 10px;
}


/*pop up link btn location*/

#shopPop a:link,
#shopPop a:visited {
  color: #aecd37;
  text-decoration: none;
  font-weight: bolder;
}


/**************Shop.lavu section of Printers/KDS styles*************/


/*Main Container*/

#printerKDScontainer {
  border-right: 2px solid #aaaaaa;
  border-left: 2px solid #aaaaaa;
  border-top: 2px solid #aaaaaa;
  width: 700px;
  padding-bottom: 10px;
}

#printerKDScontent {
  width: 700px;
  height: 400px;
  overflow: hidden;
}


/*Column styles*/

.cols2 {
  display: inline-block;
  float: left;
  width: 49.9%;
  margin-top: 15px;
}

.cols2:first-child {
  border-right: 1px solid #8b8b8b;
}

#exchangeRateFields {
  margin: 0px auto;
  margin-bottom: 1em;
  width: 575px;
  font-weight: bolder;
  color: black;
  background: #aecd37;
  height: auto;
  padding: 10px;
  margin-bottom: 4px;
}

#fiscalTemplateFields {
  margin: 0px auto;
  margin-bottom: 1em;
  width: 420px;
  font-weight: bolder;
  color: black;
  background: #aecd37;
  height: auto;
  padding: 10px;
  margin-bottom: 4px;
}

#fiscal_temp_validation{
    padding-top: 20px;
    display: block;
    width: 500px;
    color: red;
}

#masterCurrencyFields {
  margin: 0px auto;
  width: 300px;
  font-weight: bolder;
  color: black;
  background: #aecd37;
  height: auto;
  padding: 10px;
  margin-bottom: 4px;
}

#exchangeRateFields span,
#masterCurrencyFields span,
#fiscalTemplateFields span {
  display: inline-block;
  margin: 0 0 0 50px;
}

#exchangeRateFields span:first-child, #fiscalTemplateFields span:first-child {
  margin: 0 0 0 0;
}

#exchangeRateFields span:nth-child(2){
  margin: 0 0 0 90px;
}

#exchangeRateFields span:nth-child(3) {
  margin: 0 0px 0 180px;
}

#fiscalTemplateFields span:nth-child(2) {
	margin: 0 0 0 150px;
}

#fiscalTemplateFields span:last-child {
  float: right;
  margin: 0 0px 0 0px;
}

#exchangeRateFields span:last-child {
  float: right;
  margin: 0 60px 0 46px;
}

#masterCurrencyFields span:first-child {
  margin: 0 0 0 10;
}

#masterCurrencyFields span:last-child {
  margin: 0 0 0px 80px;
}

#ic_area #ic_area_cat1+.addBtn td {
  width: 180px !important;
}


/* The Modal (background) */

div[id^='advanced_settings_modal_'] {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}


/* Modal Content/Box */

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 0;
  border: 1px solid #888;
  width: 33%;
  /* Could be more or less, depending on screen size */
}


/* The Close Button */

span[class^='modal_close_'] {
  color: #fff;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

span[class^='modal_close_']:hover,
span[class^='modal_close_']:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* Modal Header */

.modal_header {
  padding: 2px 16px;
  background-color: #aecd37;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
}


/* Modal Body */

.modal_body {
  padding: 2px 16px;
  /*min-height: 100%;*/
  /*overflow: auto;*/
  /*display: inline-block;*/
}


/* Modal Footer */

.modal_footer {
  padding: 2px 16px;
  height: 5px;
  background-color: #aecd37;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: white;
}


/* Modal Content */

.modal_content {
  /*display:inline-block;*/
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  border-radius: 5px;
  width: 70vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 1);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

#outer_modal_span {
  display: none;
}


/* Add Animation */

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

#advanced_location_settings_modal_iframe {
  height: 100%;
  width: 100%;
}

#modal_iframe {
  display: inline-block;
  height: 75vh;
  width: 100%;
  border: 0;
}

#exchange_rate_form_table {
  margin: 0 auto;
  border: 2px solid #dddddd;
}

#fiscal_template_form_table {
  margin: 0 auto;
  border: 2px solid #dddddd;
}

select[id*='ic_1_from_currency_id_'],
select[id*='ic_1_to_currency_id_'] {
  width: 200px;
  border-width: 1px !important;
}

.hasDatepicker,
input[alt='Rate'] {
  width: 80px;
  border-width: 1px !important;
}

select[id*='ic_1_master_currency_code']+span {
  width: 300px !important;
}


/* Exchange Rates - Tooltip */

#rate-error-tip {
  padding-top: 20px;
  visibility: hidden;
  display: block;
  width: 500px;
  color: red;
}


/* eConduit iFrame div */

.iFrameOverlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #efefef;
}


/* Helper classes */


/* These are designed to be strict overrides */

.hidden {
  display: none !important;
}


/*****************Combo Builder Styles********************/


/*Set anything to flex*/

.flex {
  display: flex;
  justify-content: center;
}


/*Style for combo row*/

.comboRow,
table[id^='mtable_'] {
  display: table;
  border-collapse: collapse;
}

table.flex>tbody tr,
table.flex>tbody {
  display: flex;
  justify-content: space-between;
}

.headerTxt {
  font-weight: bolder;
  text-align: center;
  color: white;
}

.comboitems select {
  width: 100%;
}

.comboitems table[id^='mtable_'] tbody {
  display: table;
}

.flex span[id^='m_'] span.select2 span.select2-selection {
  max-width: 195px !important;
}

#comboitems table[id*='subopt'] tr td div.flex span[id^='m_'] span.select2 span.select2-selection {
  max-width: 150px !important;
}

.error_head{
	 width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
 .error_head h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
 
#fiscal_temp_preview{
	color: #000;
	float: left;
	margin-left: 40px;
	margin-top: 10px;
	padding-top: 10px;
	padding: 10px;
	border: 1px solid gray;
	width: 400px;
	text-align: left;
}

.tpl_field_header{
	font-weight:bold;
	font-size: 12px;
	border-bottom: 2px solid #fff;
	border-top: 2px solid #fff;
	background: #efefef;
	padding: 3px 3px;
	text-align: center;
}

.tpl_column{
	border-bottom: 2px solid #fff;
	border-top: 2px solid #fff;
	padding: 3px 3px;
}

.tpl_field_top{
	font-weight:bold;
	border-top: 4px solid #fff;
	border-right: 2px solid #fff;
	border-left: 2px solid #fff;
	text-align: center;
	padding: 5px;
	background: #cccccc;
}

.business_info input[type=text] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

 .business_info .business_country {
    width: 100%;
    height: 37px;
    padding-left: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.business_info label {
    font-family: Verdana;
    font-size: 17px;
    color: #787878;
}

.business_info input[type='button'] {
    border-radius: 2px;
    -webkit-border-radius: 2px;
    border: 1px solid #ccc !important;
    height: 1.75em;
    display: inline-block;
    font-family: sans-serif, verdana;
    font-weight: 400;
    font-size: 1em;
    color: #fff;
    text-transform: none;
    text-shadow: none;
    background: #fff;
    background: -moz-linear-gradient( top, #fff 0%, #fff 51%, #fff 54%, #fff 100%);
    background: -webkit-linear-gradient( top, #fff 0%, #fff 51%, #fff 54%, #fff 100%);
    background: linear-gradient( to bottom, #fff 0%, #fff 51%, #fff 54%, #fff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#fff', GradientType=0);
    transition: all 0.3s;
}

.required {
	color :	#ff0000;
	padding-left: 3px;
}
.note_data {
	font-family: Verdana;
	font-size: 15px;
	color: #787878;
}

.ltg-table .table-row.row-error td {
  border-bottom: 2px solid red;
}
.row-error td:nth-child(1) {
  border-left: 2px solid red;
}
.row-error td:last-child {
  border-right: 2px solid red;
}
.ltg-table {
  min-width: 480px;
}
.ltg-table .table-header td {
  padding: 8px 4px;
  background:whitesmoke;
  border-bottom: 1px solid #aecd36;
  border-top: 1px solid #aecd36;
}
.ltg-table .table-row td {
  padding: 8px 4px;
  border-bottom: 1px solid whitesmoke; 
}.ltg-table .remove-time {
  color: red;
  font-weight: bold;
  cursor: pointer;
}.ltg-table .add-time {
  float: right;
  cursor: pointer;
}.ltg-table .table-header td:nth-child(1) {
    border-left: 1px solid #aecd36;
}.ltg-table label {
  cursor: pointer;
}.ltg-table .table-header td:last-child {
    border-right: 1px solid #aecd36;
}tr.row-error-message td {
    color: red;
    border-right: 2px solid red;
    border-top: 2px solid red;
    border-left: 2px solid red;
    padding: 4px;
}

/*Notification bar for switching to new CP*/
.notification__newcp {
  background: #AECD37;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  position: relative;
}

.notification__newcp--header {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  margin: 0;
  color: #000;
  margin: 0 auto;
  font-size: 18px;
}

.notification__newcp--new {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #FFF;
  font-size: 18px;
  margin-right: 15px;
}

.notification__newcp--link {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #FFF;
  margin-left: 20px;
  cursor: pointer;
  font-weight: 100;
  text-decoration: underline;
}

.notification__newcp--link:hover {
  text-decoration: underline;
}

.notification__newcp--remove {
  top: 14px;
  right: 20px;
  color: #FFF;
  font-size: 18px;
  cursor: pointer;
  position: absolute;
}

.notification__newcp--remove:hover {
  text-decoration: underline;
}

.switchcp--link {
  position: relative;
  left: 170px;
  top: 30px;
  font-size: 14px !important;
  z-index: 9999;
}

.logoWithAlert #lavuLogo {
  margin-left: -45px;
  top: 25px;
}

.logoWithAlert .switchcp--link {
  margin-left: -45px;
  top: 40px;
}

#ui-dialog-title-confirmKitchenNickname + a {
	left: 0.5em;
}
#confirmKitchenNickname {
	padding : 0;
}
.headerMsg {
	text-align : center;
	padding : 0.5em;
}

.kitchenMenuHeader {
	width : 30em;
	font-weight : bold;
	padding : 0.5em;
	background:#aecd37;
	color:#fff;
}
.kitchenItem {
	padding-left : 4em;
	height : 2.5em;
}
