#merchantBar{
	margin-top: -6px;
}

#order_container{
	margin-top: -4px;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(174,206,43,1.0);
    -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.5);
}