@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300|Open+Sans+Condensed:300);

body {
	background-color: #cbc6bf;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(../images/bg_fader.png);
	background-repeat: repeat-x;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	color:#8b8d87;
}
a link {
	color:#80FF00;
	
}
#footer {
	height:30px;
	color:#adadad;
	margin-top:10px;
	
}
#footer a {
	color:#afd51c;
	margin:5px;
	
}
h2 {
	color:#abaea4;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-size:30px;
	font-weight:300;
	line-height:40px;
	margin:0 auto;
	
}
.title_g {
	color:#abaea4;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-size:30px;
	font-weight:300;
	background:#fff url(../images/lavu_togo_icon_micro.png) center left no-repeat;
	display:inline-block;	
	text-indent:35px;
	margin:0 auto;
	line-height:34px;
	text-align:center;
	
}
.titletext {
	font-family:Arial, Helvetica, sans-serif;
	font-size:30px;
	font-weight:700;
	color:#fff;
	
}
.titletext2 {	
	font-family:Arial, Helvetica, sans-serif;
	font-size:30px;
	font-weight:700;
	color:#e5dcca;
}
.topnav {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:700;
	color:#ede8e0;
	text-decoration:none;	
}
.topnav a:link, .topnav a:visited {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:500;
	color:#979188;
	text-decoration:none;
}
.topnav a:hover,  {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:500;
	color:#ec891f;
	text-decoration:none;
}

#homepage {
	background-color:#FFF;
}
#banner_home {
	text-align:center;
	background-image:url(../images/banner_LTG.jpg);
	background-repeat:no-repeat;
	background-position:center;
	height: 260px;
	width: 900px;
}
#banner_table {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:100;
	color:#8f8f8f;
	vertical-align:top;
	text-align:left;
}
#banner_table h1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:300;
	color:#86858a;
	line-height:14px;
}
#subtable {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:100;
	color:#8f8f8f;
	vertical-align:top;
	text-align:left;	
	
}
#subtable h2 {
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-size:26px;
	font-weight:100;
	color:#87a809;
	line-height:30px;
}
#subtable_wrap {
	background:url(../images/subtable_bg.png);
	background-repeat:no-repeat;
	background-position:center;
	
}
.bodytext {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:400;
	color:#5b564f;
	text-decoration:none;
}
.bodytext_title {
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:300;
	color:#5b564f;
	text-decoration:none;
}
.bodytext_title_small {
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:500;
	color:#5b564f;
	text-decoration:none;
}
.bodytext a:link, .bodytext a:visited {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:700;
	color:#d24d0b;
	text-decoration:none;
}
.bodytext a:hover {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:700;
	color:#000;
	text-decoration:none;
}
.bannertext {
	color:#797c80;
	font-family: Verdana, Geneva, sans-serif;
	font-size:14px;
	font-weight:100;
	
}
.divline {
	width:700px;
	height:8px;
	background-image:url(../images/line_h.png);
	background-repeat:no-repeat;
	text-align:center;
	
	
}
.lineshade {
	width:828px;
	height:6px;
	background-image:url(../images/divider_shado.png);
	background-repeat:no-repeat;
	text-align:center;
	
	
}