@import url(https://fonts.googleapis.com/css?family=Economica);

body {
	margin: 0;
	padding: 0;
	background-image:url(../images/bg_noiz_light.jpg);
	background-repeat:repeat;
	
}
a link {
	color:#80FF00;
	padding-left:30px;
	
}
#logo {
	margin: 20px 0;
	width:147px;
	height:44px;
/*
	background-image:url(../images/logo_blank_sm.png);
	background-repeat:no-repeat;
	background-position:center;
*/
	
}
.titletext {
	font-family:Arial, Helvetica, sans-serif;
	font-size:30px;
	font-weight:700;
	color:#fff;
	
}
.titletext2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:30px;
	font-weight:700;
	color:#e5dcca;
	
}
.wrap {
}
.topnav {
	background-image:url(../images/menutab.png);
	background-repeat:repeat-x;
	background-position:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:700;
	color:#8d3617;
	text-decoration:none;
	
	
}
.topnav a:link, .topnav a:visited {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:700;
	color:#aecd37;
	text-decoration:none;
}
.topnav a:hover,  {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:700;
	color:#fff;
	text-decoration:none;
}
.categ_title {	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:500;
	color:#CCC;
	padding:5px 20px 10px;
}
#categ_scroll {
	padding:10px 20px 30px;
	
}
.categ_scroll {
	margin-left:30;
	padding-left:40;
	
}
.categ_title {
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:500;
	color:#CCC;
	padding:5px 20px 10px;
	
}
.item_title {
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:500;
	color:#CCC;
}

.error_msg {

	font-family:Arial, Helvetica, sans-serif;
	color:#CD3333;
	border: 1px dotted #CD9999;
	background: #fcfcfc;
	padding: 10px;
	font-size: 11px;
	display: block;
	clear: both;
}

/** mods
**************************************************** */

table.mod_table {
	
	font-family:Arial, Helvetica, sans-serif;
	/* padding: 10px; */

}
.mod_btn {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9) );
	background:-moz-linear-gradient( center top, #f9f9f9 5%, #e9e9e9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9');
	background-color:#f9f9f9;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#666666;
	font-family:arial;
	font-size:15px;
	width:140px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}.mod_btn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9) );
	background:-moz-linear-gradient( center top, #e9e9e9 5%, #f9f9f9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9');
	background-color:#e9e9e9;
}.mod_btn:active {
	position:relative;
	top:1px;
}

/**
**************************************************** */

#order_container {

	font-family:'Oxygen', sans-serif;		
	font-weight: 400;
}

#button {
	display: block;
	float:left;
	width: 44px;
	height: 22px;
	margin: 0px auto;
	background-image:url(../images/btn_shell.png);
	background-position:left top;
	background-repeat:no-repeat;
	border:none;
}
#button input:hover{
	background-image:url(../images/btn_shell.png);
	background-position:left top;
	background-repeat:no-repeat;
}
#bottomtable {
	background-color:#FFF;
	vertical-align:top;
	text-align:center;
	padding-top:20px;
	margin-top:20px;
	
}
#bottomtable a {
	color:#afd51c;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	font-weight:300;
	
}
.cart_btn {
	-moz-box-shadow:inset 0px 1px 0px 0px #c92516;
	-webkit-box-shadow:inset 0px 1px 0px 0px #c92516;
	box-shadow:inset 0px 1px 0px 0px #c92516;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f05f4f), color-stop(1, #ad1a1a) );
	background:-moz-linear-gradient( center top, #f05f4f 5%, #ad1a1a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f05f4f', endColorstr='#ad1a1a');
	background-color:#f05f4f;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	
	text-decoration:none;
}.cart_btn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ad1a1a), color-stop(1, #f05f4f) );
	background:-moz-linear-gradient( center top, #ad1a1a 5%, #f05f4f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ad1a1a', endColorstr='#f05f4f');
	background-color:#ad1a1a;
}.cart_btn:active {
	position:relative;
	top:1px;
}

.subtext {
	display:inline-block;
	float:left;
	color:#666;
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	font-weight:300;
	padding-top:10px;
	padding-right:5px;
}
.widthwrap {
	width:800px;
	
	
}
#linkback a{
	background: url(../images/lavu_togo_icon_micro.png) center left no-repeat;
	display:inline-block;	
	text-indent:35px;
	margin:0 auto;
	line-height:34px;
	float:left;
	color:#afd51c;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	font-weight:300;
	text-decoration:none;
	padding-right:20px;
	
}
#divider {
	width:20px;
	padding-top:8px;
	display:inline-block;
	
	color:#CCC;
}
.divideline {
	width:100%;
	height:9px;
	margin: 0;
	background:url("../images/fadeline.png") top center no-repeat;

}
.divideline_bottom {
	width:100%;
	height:9px;
	margin: 0;
	background:url("../images/fadeline_bottom.png") top center no-repeat;

}
#colorpick {
	display:inline-block;
	float:left;
	padding-top:6px;
}

h4.modbox_title{
	font-family: "Helvetica", Arial, sans-serif;
	color: #A2A2A2;
}

p.modbox_text, #mod_box{
	font-family: "Helvetica", Arial, sans-serif;
	font-size: 12px;
	padding: 5px;
}

#mod_box{
	background: #FBFBFB;
}

#mod_box{
	font-size: 15px;
}


.social_btn {
	border:2px solid #eee; 
	border-radius:5px; 
	padding:5px;
	
}

#approved_bck {
	
	background: url("../images/lavu-togo-approved.png") top center no-repeat;
	display: block;
	width:400px;
	height:380px;
	margin: 0 auto;
	text-indent: -100000px;
}

#branding {

	float: right;
	margin: 10px;
	border-bottom: 1px dotted #ccc;
	padding-bottom: 5px;

	
}
#merchant_info_wrap #ltg_logo {
	background: url("../images/powered_by_lavu.png") bottom right no-repeat;
	width: 90px;
	height:30px;
	text-indent: -90000px;
	clear: right;
	
	display: block;
	float: right;
	
	
}

#copy {

	width: 800px;	
	margin: 0 auto;
	height: 40px;
}

#copy p {
	margin: 5px auto;
	text-align: center;
	font-size: 11px;
	color: #A2A2A2;
	font-family: "Helvetica", Arial, sans-serif;
	
}

#copy p a:link, #copy p a:visited, #copy p a:hover, #copy p a:active{
	color: #757575;
	text-decoration:none;	
}
#copy #secure {
	float: right;
}

/** header link menu
********************************************* */

#header_links {
	
	margin: 10px auto;
	padding: 10px 0;
	display: block;	
	text-align: right;
	width:800px;
	font-size: 12px;

}
#header_links div{
	
	float: left;
	width:400px;
}

#header_links div#merch_title{
	
	text-align: left;
	background: url('../images/i_home.png') top left no-repeat;
	text-indent: 25px;
	height:20px;
	padding: 5px 0;	
}
#header_links, #header_links a {
	font-family: "Helvetica", Arial, sans-serif;
	color: #A2A2A2;
	text-decoration: none;
}

#header_links a#logout {

	color: #369;
}
/*
#header_links #social_btns {
	
	text-indent: -10000px;
	margin: -15px 0;
	padding: 0;
	float: right;
}
#header_links a#fb_login {

	display: block;
	background: url('../images/facebook-signin-small.png') top center no-repeat;

	width:154px;
	height:30px;
	
	float: right;
		
}
#header_links a#goog_login {

	
	background: url('../images/google-signin-small.png') top center no-repeat;	
	display: block;
	
	width:154px;
	height:30px;

	float: right;

}
*/

/** contact info
********************************************* */
#merchant_info_wrap {

	/*background: #e5e5e5;*/
	width: 800px;
	margin: 0 auto;
	font-family: "Helvetica", Arial, sans-serif;
	font-size: 90%;
	height: 180px;
	text-align: left;
}
#merchant_contact {
	
	margin: 15px;
	display: block;
	float: left;
	font-size: 12px;
}

#merchant_contact #address_header {

	font-size: 14px;
}
#merchant_map {
	margin: 10px;
	padding: 5px;
	background: #fff;
	display: block;
	float: left;
	
	cursor: pointer;
}

#merchant_contact h4{

	margin:0;
	padding:0;
}

.imageItemMask, .imageCategoryMask{
	max-height: 60px;
	overflow: 	hidden;
}

.imageCategoryMask{
	max-height: 49px;
}

#mapCanvas{
    position:relative;
    z-index:10;
    height:330px;
    border:1px solid #CCC;
    overflow:hidden;
    margin-bottom: 5px;
}

#getDirections{
	font-size: 10px;
}

#merchantBar{
	margin-top: -3px;
	margin-left: -1px;
}

#order_container{
	margin-top: -4px;
}

#menu_items_container{
	margin-top: -3px;
}