<head>
<title>POSLavu Admin - Kart Menu</title>

<style type="text/css">
<!--
body {
	background-color: #000000;
	background-image: url(images/kart_fullbg_med.jpg);
	background-repeat: no-repeat;
	background-position:top center;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
}
table {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
}
a:link, a:visited {
	color:#000066;
	text-decoration:underline;
}
a:hover {
	color:#006699;
	text-decoration:underline;
}
-->
</style></head>

<body>
<table width="924" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="101">&nbsp;</td>
  </tr>
  <tr>
    <td height="46" background="images/navbar_bg.jpg">&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#ffffff"><table width="924" height="571" border="0" cellpadding="0" cellspacing="0" style="background: URL(images/content_bg.jpg); background-repeat:repeat-x; background-position:top">
      <tr>
        <td height="84" align="left" valign="top" background="images/tabs.png"><table width="924" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="312" rowspan="2" align="left" valign="top"><a href='index.php?menu_mode=custom'><img src="images/tab_kart_shunt_lit.png" alt="kart" width="312" height="84" border="0"></a></td>
            <td height="36">&nbsp;</td>
            <td width="312" rowspan="2" align="left" valign="top"><a href='index.php?menu_mode=pos'><img src="images/tab_pos_shunt.png" alt="pos" width="312" height="84" border="0"></a></td>
          </tr>
          
          <tr>
            <td height="46" align="left" valign="top"><a href='index.php?logout=1'><img src="images/tab_midbot.png" alt="logout" width="300" height="46" border="0"></a></td>
            </tr>
        </table></td>
      </tr>
      <tr>
        <td align="center" valign="top">
        <div style="position:relative" id="main_content_area">
			[content]
		</div>
		<br><br></td>
      </tr>
    </table></td>
  </tr>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
</body>
</html>
