<style type="text/css">
<!--
-->
</style>
<div style="position:relative" id="main_content_area">
  <table width="530" align="center" id="maintext" style='border:solid 0px #aaaaaa'>
  <tr>
    <td width="500" colspan='2' align="left" span class="sectiontitle"><table width="520" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="40"><img src="http://www.poslavu.com/admin/cp/images/i_hardware_sm.png" width="30" height="35" /></td>
        <td class="sectiontitle">iPads and iPods</td>
      </tr>
    </table></td>
    </tr>
  <tr>
    <td height="50" colspan="2" align='center'  valign='top'><p><img src="http://www.poslavu.com/admin/cp/images/devices_1.jpg" width="240" height="116" /><br />
      </p></td>
    </tr>
  <tr>
    <td height="50" colspan="2" align='left'  valign='top'><p>The iPad&trade;, iPod Touch&reg;, and iPhone&reg; are used to control your front-end software. </p>
      <p>The iPad&trade; is usually the fixed device, while the iPod Touch&reg; and iPhone&reg; are typically mobile. </p>
      <p>These devices are available through your local Apple Store&reg;, or certified Apple&reg; reseller, both in-person and online.</p>
      <p>&nbsp;</p>
      <table border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="130"><a href="http://www.zephyrhardware.com/" target="_blank"><img src="http://www.poslavu.com/admin/cp/images/zephyr_small.png" title="Zephyr Hardware for POSLavu Point of Sale " width="121" height="32" border="0" /></a></td>
          <td align="left" valign="middle">Our prefered Hardware provider is Zephyr Hardware. <br />
            They will get you connected with the appropriate hardware solutions for your needs.<br />
            <a href="http://www.zephyrhardware.com/" target="_blank">Zephyr Hardware</a></td>
        </tr>
      </table>
      </td>
  </tr>
  </table>
 </div>