/************************************/
/*			GLOBALS					*/
/************************************/
a, img{
	border:0;
	text-decoration: none;
	color:inherit;
}
body{
	font-family: sans-serif, times; 
	font-weight:200;
	background-color:rgb(245,245,245);
}
/************************************/
/*          Header stuff.	        */
/************************************/
#header{
	position:relative;
	background-image: url("../images/template_images/header.jpeg");
	background-repeat:no-repeat;
	background-size: 100% 90px;
	margin:0 auto;
		min-width:990px;
	height:90px;
	top:0px;
	left:0px;
	//background-color:gray;
	

}
.text_editor{
	background-color:gray;	
	overflow-y: auto;
}
.scrollImageContainer{

	float:left;
	padding-right:10px;
	padding-left:10px;
	padding-top:5px;
	padding-bottom:5px;

}
.scrollImage{

	height: 300px;

}
div.gallery img {

	border: solid 1px white;
}
.gallery{
	position:relative;	
	top:-175px;

}
#menu{

	position: relative;
	max-width: 80%;
	height: 30px;
	right:19%;
	margin: 0 auto;
	float:right;
	top:40px;
	
}
.menu_item_container{

	margin: 0 auto;
	width: 100%;
	height: 30px;
	
	overflow-x: auto;
}
.menu_item{

	position:inherit;
	color:#aed122;
	text-transform: uppercase;
	font-size:small;
	padding-right:20px;
	padding-left:20px;
	padding-top:5px;
	padding-bottom:5px;
	
	margin:0 auto;
	float:left;
}
.left{
	border-top:1px solid black;
	border-right:1px solid black;	
}
.middle{
	border-top:1px solid black;
	border-right:1px solid black;
	border-left:1px solid black;
}
.right{
	border-top:1px solid black;
	border-left:1px solid black;
}
.menu_item:hover{

	color:white;

	border-bottom:2px solid white;
}
.menu_item_selected{
	

	color:white;

	border-bottom:2px solid white;
	border-top:1px solid #aecd37;
	border-bottom:1px solid white;
}
#title{
	
	position:relative;
	width:80%;
	margin:0 auto;
	font-size:xx-large;
	padding-top:10px;
	padding-bottom:20px;
	text-align:center;
}

/************************************/
/*	       END HEADER STUFF         */
/************************************/

/************************************/
/*         BODY STUFF               */
/************************************/
#body{

	position:relative;
	background-color:white;
	width:80%;
	height:600px;
	margin:0 auto;
	min-width:990px;
	
	border-bottom:1px solid black;
	border-right:1px solid black;
	border-left:1px solid black;

}
#body_menu_container{
	position:relative;
	float:right;
	right:20%;
	top:45px;
	border-bottom:1px solid #aecd37;
}
.body_menu_item{
	color:#aecd37;

	padding-right:0px;
}
#body_menu_item{
	border: 2px solid #aecd37;
	border-radius: 10px 7px 0px 0px;
}
#body_logo{

	position:relative;
	float:left;
}
#body_trial{

	position:relative;
	float:right;
}
.mainLogo{
	position:relative; 
	top:100px;
	padding-left:120px;
	float:left;
}
/************************************/
/*         END BODY STUFF           */
/************************************/



/************************************/
/*         FOOTER STUFF             */
/************************************/
#footer{
	
	position:relative;
	width:80%;
	height:100px;
	border:1px solid black;
	margin:0 auto;
	margin-top:10px;
	
}
/************************************/
/*         END FOOTER STUFF         */
/************************************/