 /************************************/
/*			GLOBALS					*/
/************************************/
a, img{
	border:0;
	text-decoration: none;
	color:inherit;
}
body{
	font-family: sans-serif, times; 
	font-weight:200;

	background-color:white;
}
#container{
	position:relative; 
	top:0px;
	margin:0 auto;
	min-width:990px;
	width:100%;
}
/************************************/
/*          Header stuff.	        */
/************************************/
#header{
	position:relative;
	
	background-repeat:no-repeat;
	background-size: 100% 90px;
	margin:0 auto;
	width:990px;
	top:0px;
	left:0px;

}
#phone_num{
	float:right;
	position:relative;
	top:6px;
}

#title{
	
	position:relative;
	width:80%;
	margin:0 auto;
	font-size:xx-large;
	padding-top:10px;
	padding-bottom:20px;
	text-align:center;
}

/************************************/
/*	       END HEADER STUFF         */
/************************************/

/************************************/
/*         BODY STUFF               */
/************************************/
#body{
position:relative;
	background-color:white;

	margin:0 auto;
	min-width:990px;
	/*
	//border-bottom:1px solid black;
	//border-right:1px solid black;
	//border-left:1px solid black;	
	*/
	
}
#body_menu_container{
	position:relative;
	float:right;
	right:20%;
	top:45px;
	border-bottom:1px solid #aecd37;
}
.body_menu_item{
	color:#aecd37;

	padding-right:0px;
}
#body_menu_item{
	border: 2px solid #aecd37;
	border-radius: 10px 7px 0px 0px;
}
#body_logo{

	position:relative;
	float:left;
}
#body_trial{

	position:relative;
	float:right;
}

.mainLogo{
	position:relative; 
	top:100px;
	padding-left:120px;
	float:left;
}
/************************************/
/*         END BODY STUFF           */
/************************************/



/************************************/
/*         FOOTER STUFF             */
/************************************/
#footer{
	
	position:relative;
	width:80%;
	height:100px;
	/*border:1px solid black;*/
	margin:0 auto;
	margin-top:10px;
	
}
/************************************/
/*         END FOOTER STUFF         */
/************************************/

/************************************/
/*         EXTRAS                   */
/************************************/

editable{
	display:none;
}
.editor{
    cursor:pointer;
}
.image_editor{
	width:100%;
	height:100%;
}

#sub_product_val_editor {
width : 100%;
}

#img-upload {
    width:495px;
    margin:40px auto;
    background-color:#eeeeee;
    padding:20px;
    border:1px solid rgba(0,0,0,0);
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    display:table;
}
   